--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/rmetzler/render-as-markdown/commits/725155400b35488ab65e8dd44264e055a397fd74
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      X-Ratelimit-Limit: 
      - "60"
      X-Ratelimit-Remaining: 
      - "46"
      X-Ratelimit-Reset: 
      - "1385321495"
      Last-Modified: 
      - Sun, 13 Oct 2013 00:39:39 GMT
      Etag: 
      - "\"d4f34c73dccc0e3d3f0bf15238f6f641\""
      X-Github-Media-Type: 
      - github.beta; format=json
    body: 
      encoding: US-ASCII
      string: "{\"sha\":\"725155400b35488ab65e8dd44264e055a397fd74\",\"commit\":{\"author\":{\"name\":\"Richard Metzler\",\"email\":\"richard@eaglefeed.me\",\"date\":\"2013-10-13T00:39:39Z\"},\"committer\":{\"name\":\"Richard Metzler\",\"email\":\"richard@eaglefeed.me\",\"date\":\"2013-10-13T00:39:39Z\"},\"message\":\"version 0.0.4\",\"tree\":{\"sha\":\"7af5d615c8fe5cefb7f510dce3cdbae8d0459dff\",\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/git/trees/7af5d615c8fe5cefb7f510dce3cdbae8d0459dff\"},\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/git/commits/725155400b35488ab65e8dd44264e055a397fd74\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/commits/725155400b35488ab65e8dd44264e055a397fd74\",\"html_url\":\"https://github.com/rmetzler/render-as-markdown/commit/725155400b35488ab65e8dd44264e055a397fd74\",\"comments_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/commits/725155400b35488ab65e8dd44264e055a397fd74/comments\",\"author\":{\"login\":\"rmetzler\",\"id\":58824,\"avatar_url\":\"https://0.gravatar.com/avatar/e751205dd965f43e1994ace06a37d0d4?d=https%3A%2F%2Fidenticons.github.com%2F10fb61a5ff2da54f4b375bb1facf479c.png&r=x\",\"gravatar_id\":\"e751205dd965f43e1994ace06a37d0d4\",\"url\":\"https://api.github.com/users/rmetzler\",\"html_url\":\"https://github.com/rmetzler\",\"followers_url\":\"https://api.github.com/users/rmetzler/followers\",\"following_url\":\"https://api.github.com/users/rmetzler/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/rmetzler/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/rmetzler/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/rmetzler/subscriptions\",\"organizations_url\":\"https://api.github.com/users/rmetzler/orgs\",\"repos_url\":\"https://api.github.com/users/rmetzler/repos\",\"events_url\":\"https://api.github.com/users/rmetzler/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/rmetzler/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"rmetzler\",\"id\":58824,\"avatar_url\":\"https://0.gravatar.com/avatar/e751205dd965f43e1994ace06a37d0d4?d=https%3A%2F%2Fidenticons.github.com%2F10fb61a5ff2da54f4b375bb1facf479c.png&r=x\",\"gravatar_id\":\"e751205dd965f43e1994ace06a37d0d4\",\"url\":\"https://api.github.com/users/rmetzler\",\"html_url\":\"https://github.com/rmetzler\",\"followers_url\":\"https://api.github.com/users/rmetzler/followers\",\"following_url\":\"https://api.github.com/users/rmetzler/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/rmetzler/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/rmetzler/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/rmetzler/subscriptions\",\"organizations_url\":\"https://api.github.com/users/rmetzler/orgs\",\"repos_url\":\"https://api.github.com/users/rmetzler/repos\",\"events_url\":\"https://api.github.com/users/rmetzler/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/rmetzler/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"1dc42c6a4189b0501044b0dbb3deef85d24c0d7b\",\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/commits/1dc42c6a4189b0501044b0dbb3deef85d24c0d7b\",\"html_url\":\"https://github.com/rmetzler/render-as-markdown/commit/1dc42c6a4189b0501044b0dbb3deef85d24c0d7b\"}],\"stats\":{\"total\":2,\"additions\":1,\"deletions\":1},\"files\":[{\"sha\":\"2c3f6c866bfab1147280327282daea7e4762666e\",\"filename\":\"lib/render-as-markdown/version.rb\",\"status\":\"modified\",\"additions\":1,\"deletions\":1,\"changes\":2,\"blob_url\":\"https://github.com/rmetzler/render-as-markdown/blob/725155400b35488ab65e8dd44264e055a397fd74/lib/render-as-markdown/version.rb\",\"raw_url\":\"https://github.com/rmetzler/render-as-markdown/raw/725155400b35488ab65e8dd44264e055a397fd74/lib/render-as-markdown/version.rb\",\"contents_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/contents/lib/render-as-markdown/version.rb?ref=725155400b35488ab65e8dd44264e055a397fd74\",\"patch\":\"@@ -1,6 +1,6 @@\\n module RenderAsMarkdown\\n   GEM     = 'render-as-markdown'\\n-  VERSION = '0.0.3'\\n+  VERSION = '0.0.4'\\n end\\n \\n #puts \\\"This is version #{RenderAsMarkdown::VERSION} of gem #{RenderAsMarkdown::GEM}\\\"\"}]}"
  recorded_at: Sun, 24 Nov 2013 18:34:58 GMT
recorded_with: VCR 2.7.0
