---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/?client_id=23baa3ad794ac9a9214b&client_secret=bf2bc9df8933e9a1784bbcec2b46527b6e8098dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1386258265'
      Etag:
      - "\"e4559722c53d01255bb3d12bbb945098\""
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"current_user_url\":\"https://api.github.com/user\",\"authorizations_url\":\"https://api.github.com/authorizations\",\"code_search_url\":\"https://api.github.com/search/code?q={query}{&page,per_page,sort,order}\",\"emails_url\":\"https://api.github.com/user/emails\",\"emojis_url\":\"https://api.github.com/emojis\",\"events_url\":\"https://api.github.com/events\",\"feeds_url\":\"https://api.github.com/feeds\",\"following_url\":\"https://api.github.com/user/following{/target}\",\"gists_url\":\"https://api.github.com/gists{/gist_id}\",\"hub_url\":\"https://api.github.com/hub\",\"issue_search_url\":\"https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}\",\"issues_url\":\"https://api.github.com/issues\",\"keys_url\":\"https://api.github.com/user/keys\",\"notifications_url\":\"https://api.github.com/notifications\",\"organization_repositories_url\":\"https://api.github.com/orgs/{org}/repos/{?type,page,per_page,sort}\",\"organization_url\":\"https://api.github.com/orgs/{org}\",\"public_gists_url\":\"https://api.github.com/gists/public\",\"rate_limit_url\":\"https://api.github.com/rate_limit\",\"repository_url\":\"https://api.github.com/repos/{owner}/{repo}\",\"repository_search_url\":\"https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}\",\"current_user_repositories_url\":\"https://api.github.com/user/repos{?type,page,per_page,sort}\",\"starred_url\":\"https://api.github.com/user/starred{/owner}{/repo}\",\"starred_gists_url\":\"https://api.github.com/gists/starred\",\"team_url\":\"https://api.github.com/teams\",\"user_url\":\"https://api.github.com/users/{user}\",\"user_organizations_url\":\"https://api.github.com/user/orgs\",\"user_repositories_url\":\"https://api.github.com/users/{user}/repos{?type,page,per_page,sort}\",\"user_search_url\":\"https://api.github.com/search/users?q={query}{&page,per_page,sort,order}\"}"
  recorded_at: Thu, 05 Dec 2013 14:56:03 GMT
- request:
    method: get
    uri: https://api.github.com/repos/rmetzler/render-as-markdown?client_id=23baa3ad794ac9a9214b&client_secret=bf2bc9df8933e9a1784bbcec2b46527b6e8098dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1386258265'
      Last-Modified:
      - Wed, 04 Dec 2013 15:57:46 GMT
      Etag:
      - "\"1e599a9bd64a19d3ac43abfe4394a51e\""
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"id\":13358749,\"name\":\"render-as-markdown\",\"full_name\":\"rmetzler/render-as-markdown\",\"owner\":{\"login\":\"rmetzler\",\"id\":58824,\"avatar_url\":\"https://1.gravatar.com/avatar/e751205dd965f43e1994ace06a37d0d4?d=https%3A%2F%2Fidenticons.github.com%2F10fb61a5ff2da54f4b375bb1facf479c.png&r=x\",\"gravatar_id\":\"e751205dd965f43e1994ace06a37d0d4\",\"url\":\"https://api.github.com/users/rmetzler\",\"html_url\":\"https://github.com/rmetzler\",\"followers_url\":\"https://api.github.com/users/rmetzler/followers\",\"following_url\":\"https://api.github.com/users/rmetzler/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/rmetzler/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/rmetzler/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/rmetzler/subscriptions\",\"organizations_url\":\"https://api.github.com/users/rmetzler/orgs\",\"repos_url\":\"https://api.github.com/users/rmetzler/repos\",\"events_url\":\"https://api.github.com/users/rmetzler/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/rmetzler/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/rmetzler/render-as-markdown\",\"description\":\"This
        gem is a Markdown helper that renders well formatted Markdown for bigger Markdown
        elements like tables\",\"fork\":false,\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown\",\"forks_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/forks\",\"keys_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/teams\",\"hooks_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/hooks\",\"issue_events_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/events\",\"assignees_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/tags\",\"blobs_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/languages\",\"stargazers_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/stargazers\",\"contributors_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/contributors\",\"subscribers_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/subscribers\",\"subscription_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/subscription\",\"commits_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/merges\",\"archive_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/downloads\",\"issues_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/releases{/id}\",\"created_at\":\"2013-10-06T07:30:14Z\",\"updated_at\":\"2013-12-04T15:57:46Z\",\"pushed_at\":\"2013-12-04T15:57:41Z\",\"git_url\":\"git://github.com/rmetzler/render-as-markdown.git\",\"ssh_url\":\"git@github.com:rmetzler/render-as-markdown.git\",\"clone_url\":\"https://github.com/rmetzler/render-as-markdown.git\",\"svn_url\":\"https://github.com/rmetzler/render-as-markdown\",\"homepage\":\"http://rmetzler.github.io/render-as-markdown\",\"size\":378,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Ruby\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":1,\"forks\":0,\"open_issues\":1,\"watchers\":0,\"default_branch\":\"master\",\"master_branch\":\"master\",\"network_count\":0,\"subscribers_count\":1}"
  recorded_at: Thu, 05 Dec 2013 14:56:03 GMT
- request:
    method: get
    uri: https://api.github.com/repos/rmetzler/render-as-markdown/tags?client_id=23baa3ad794ac9a9214b&client_secret=bf2bc9df8933e9a1784bbcec2b46527b6e8098dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1386258265'
      Last-Modified:
      - Wed, 04 Dec 2013 15:57:46 GMT
      Etag:
      - "\"1e599a9bd64a19d3ac43abfe4394a51e\""
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[{\"name\":\"v0.0.6\",\"zipball_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/zipball/v0.0.6\",\"tarball_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/tarball/v0.0.6\",\"commit\":{\"sha\":\"8421d68fde085f25d92a84d4fe5baa9a90d341d9\",\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/commits/8421d68fde085f25d92a84d4fe5baa9a90d341d9\"}},{\"name\":\"v0.0.5\",\"zipball_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/zipball/v0.0.5\",\"tarball_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/tarball/v0.0.5\",\"commit\":{\"sha\":\"1f6c9f047c82f19e632e5d40602f611e1cb67a6f\",\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/commits/1f6c9f047c82f19e632e5d40602f611e1cb67a6f\"}},{\"name\":\"v0.0.4\",\"zipball_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/zipball/v0.0.4\",\"tarball_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/tarball/v0.0.4\",\"commit\":{\"sha\":\"725155400b35488ab65e8dd44264e055a397fd74\",\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/commits/725155400b35488ab65e8dd44264e055a397fd74\"}},{\"name\":\"0.0.4\",\"zipball_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/zipball/0.0.4\",\"tarball_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/tarball/0.0.4\",\"commit\":{\"sha\":\"725155400b35488ab65e8dd44264e055a397fd74\",\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/commits/725155400b35488ab65e8dd44264e055a397fd74\"}}]"
  recorded_at: Thu, 05 Dec 2013 14:56:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/rmetzler/render-as-markdown/commits/8421d68fde085f25d92a84d4fe5baa9a90d341d9?client_id=23baa3ad794ac9a9214b&client_secret=bf2bc9df8933e9a1784bbcec2b46527b6e8098dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1386258265'
      Last-Modified:
      - Sun, 10 Nov 2013 11:06:40 GMT
      Etag:
      - "\"04c714ba7b707ed1c5b0c9315529aa0c\""
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"sha\":\"8421d68fde085f25d92a84d4fe5baa9a90d341d9\",\"commit\":{\"author\":{\"name\":\"Richard
        Metzler\",\"email\":\"richard.metzler@me.com\",\"date\":\"2013-11-10T11:06:40Z\"},\"committer\":{\"name\":\"Richard
        Metzler\",\"email\":\"richard.metzler@me.com\",\"date\":\"2013-11-10T11:06:40Z\"},\"message\":\"bump
        version\",\"tree\":{\"sha\":\"6b717b5cf078251b95a85239b181d290a78fc8ba\",\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/git/trees/6b717b5cf078251b95a85239b181d290a78fc8ba\"},\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/git/commits/8421d68fde085f25d92a84d4fe5baa9a90d341d9\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/commits/8421d68fde085f25d92a84d4fe5baa9a90d341d9\",\"html_url\":\"https://github.com/rmetzler/render-as-markdown/commit/8421d68fde085f25d92a84d4fe5baa9a90d341d9\",\"comments_url\":\"https://api.github.com/repos/rmetzler/render-as-markdown/commits/8421d68fde085f25d92a84d4fe5baa9a90d341d9/comments\",\"author\":{\"login\":\"rmetzler\",\"id\":58824,\"avatar_url\":\"https://1.gravatar.com/avatar/e751205dd965f43e1994ace06a37d0d4?d=h[...]
[...]
