<% title "Services" %>

<div class="row" >
  <div class="span6 col2-left" >
    <h2 class="no_margin" > What is VersionEye </h2>
    <p style = "font-size: 16px; padding-top: 30px;">
      VersionEye helps keep your software up to date.
      Let VersionEye montior your repositories to get notified
      about outdated dependencies in your projects.
    </p>
  </div>
  <div class="span4 col2-right pull-right" >
    <span class = "logo_eye"> </span>
  </div>
</div>

<div class="hr_row col2-left-l col2-right-r">
  <hr />
</div>

<div class="row" >
  <div class="span3 col2-left-l" >
    <h4 class="no_margin"> VersionEye supports various package managers </h4>
    <p class="marketing_exp">
    VersionEye supports a wide range of package managers and
    is continuously adding more into the service.
    </p>
  </div>
  <div class="span7 col2-right-r pull-right" >
    <h5 class="marketing"> We currently support: </h5>
    <div class = "row-fluid">

      <div class="span6 package_manager" style="margin-left: 0px;" >
        <div class="pull-left package_managers_icon">
          <span class = "icon_java on"></span>
        </div>
        pom.xml files from Maven2 and Maven3.
      </div>

      <div class = "span5 package_manager" style="margin-left: 0px;" >
        <div class="pull-left package_managers_icon">
          <span class = "icon_nodejs on"></span>
        </div>
        package.json files from NPM.
      </div>

      <div class = "span6 package_manager" style="margin-left: 0px;">
        <div class="pull-left package_managers_icon">
          <span class = "icon_ruby on"></span>
        </div>
        Ruby Gemfiles from Bundler
      </div>

      <div class = "span5 package_manager" style="margin-left: 0px;" >
        <div class="pull-left package_managers_icon">
          <span class = "icon_php on" ></span>
        </div>
        composer.json files from packagist.org
      </div>

      <div class = "span6 package_manager" style="margin-left: 0px;" >
        <div class="pull-left package_managers_icon">
          <span class = "icon_python on"></span>
        </div>
        PIP requirement.txt files
      </div>

    </div>
  </div>
</div>

<div class="hr_row col2-left-l col2-right-r">
  <hr />
</div>

<div class="row" >
  <div class="span3 col2-left-l" >
    <h4>VersionEye is very easy to use</h4>
    <p class="marketing_exp">
      VersionEye makes it easy for you to stay up to date
      with your repositories. We feature an easy to use upload,
      URL and GitHub integration.
    </p>
  </div >
  <div class="span7 col2-right-r pull-right" >
    <div class = "row">
      <div class="span1 integration_icon" >
        <span class = "icon_upload"></span>
      </div>
      <div class="span6">
        <h5 class="integration_header"> Upload </h5>
        <p class="integration_desc">
          Just upload your project file and VersionEye will
          show you the outdated dependencies.
        </p>
      </div>
    </div>
    <div class = "row">
      <div class="span1 integration_icon" >
        <span class = "icon_www"></span>
      </div>
      <div class = "span6">
        <h5 class="integration_header"> URL </h5>
        <p class="integration_desc">
          Put in the URL to your project file and VersionEye
          will fetch it every day and notify you about outdated
          dependencies.
        </p>
      </div>
    </div>

    <div class = "row">
      <div class="span1 integration_icon" >
        <span class="icon_gitcat" style="margin-left: -10px;"></span>
      </div>
      <div class =  "span6">
        <h5 class="integration_header"> GitHub </h5>
        <p class="integration_desc">
          Monitor your GitHub repositories to get periodical
          E-Mail notifications about outdated dependencies in your
          projects.
        </p>
      </div>
    </div>

    <div class = "row">
      <div class="span1 integration_icon" >
        <span class = "icon_enterprise"></span>
      </div>
      <div class="span6">
        <h5 class="integration_header"> Enterprise </h5>
        <p class="integration_desc">
          Enterprise features coming soon.
        </p>
      </div>
    </div>
  </div>

</div>

<div class="hr_row col2-left-l col2-right-r">
  <hr />
</div>

<div class = "row col2-left-l col2-right-r" >
  <div class="well row ">
    <div class="span3" style="font-size: 20px; line-height: 150%; font-weight: bold;" >
      Try VersionEye now! Simply upload a file.
    </div>
    <div class = "span6">
      <div style="margin-bottom: 10px;">(pom.xml, Gemfile, Gemfile.lock, requirements.txt, setup.py, package,json,
        composer.json, composer.lock, dependency.gradle, project.clj)
      </div>
      <%= form_for services_path, :html => {:multipart => true, :accept => "text/xml" } do |f|  %>
        <div style="padding-bottom: 20px;">
          <div class = "fileupload fileupload-new" data-provides="fileupload">
            <span class = "btn btn-file">
              <span class = "fileupload-new"> Select project file </span>
              <span class = "fileupload-exists"> Change file </span>
              <%= file_field 'upload', 'datafile', :class => "" %>
            </span>
            <span class = "fileupload-preview"></span>
            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
          </div>
          <button type="submit" class="btn2" >Upload</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr class="separator_eye" style="margin-left: -30px;" />

<div class = "row col2-left-l col2-right-r" >
  <div class  = "marketing">
    <h2>Why not register today. It's free.</h2>
    <p>
      You can also <%= link_to "view our subscription plans", :controller => "services", :action => "pricing" %> .
    </p>
  </div>
</div>
