<section  class = "container">
<div class = "row">
	<div class="span8">
		<h1 class = "page-title"> Pricing </h1>
	</div>
	<div class = "span4 pull-right">
		<div class  = "input-append pull-right" style = "padding-top: 15px;">
			<input type = "text" class = "">
			<button class = "btn"><span class = "icon-search"></span></button>
		</div>
	</div>
</div>
<div class  = "well-white row-fluid" style="padding-top:60px;">
	<div class = "">
		<h1> The best things in life are free </h1>
		<p>
			It's free to register and monitor your projects. 
			You only need to pay a small fee to monitor private libraries.
			We have a variety of plans to cater for everyone's needs.
		</p>
	</div>

	<%= render 'services/subscription' %>

</div>
</section>



