<section  class = "container">
<div class = "row">
	<div class="span8">
		<h1 class = "page-title"> Services </h1>
	</div>
	<div class = "span4 pull-right">
		<div class  = "input-append pull-right" style = "padding-top: 15px;">
			<input type = "text" class = "">
			<button class = "btn"><span class = "icon-search"></span></button>
		</div>
	</div>
</div>
<div class  = "well-white row" style="padding-top:60px;">

	<%= render 'services/services' %>

</div>
</section>



