<% title 'Services' %>

    <%= render '/products/helpers/what_is_versioneye' %>

    <div class="hr_row col2-left-l col2-right-r"><hr /></div>

    <%= render '/products/helpers/support_for_packagemanagers' %>

    <div class="hr_row col2-left-l col2-right-r"><hr /></div>

    <%= render '/products/helpers/integration_points' %>


<hr class="separator_eye" style="margin-left: -30px;" />

<div class = "row col2-left-l col2-right-r" >
  <div class  = "marketing">
    <h2>Why not register today. It's free.</h2>
    <p>
      You can also <%= link_to "view our subscription plans", :controller => "services", :action => "pricing" %> .
    </p>
  </div>
</div>
