<% content_for :title, "Pricing" %>

<div class = "">
	<h1> The best things in life are free </h1>
	<p>
		It's free to register and monitor your projects.
		You only need to pay a small fee to monitor private libraries.
		We have a variety of plans to cater for everyone's needs.
	</p>
</div>

<div class = "well success row" style = "margin: 0px 30px 20px 30px;">
	<!-- description of plans-->
	<div  class = "span4" >
		<h3 class = "success"> Free </h3>
		<p>
			Try out VersionEye for free. You can monitor as many
			unlimited opensource repositories.
			Try before you buy, right?
		</p>
	</div>
	<!-- sub plans -->
	<div class = "span6">
		<!-- subscription item -->
		<div class  = "subscription-item">
			<button class = "btn2 btn2-big pull-right">Sign-up</button>
			<h5> &nbsp; : $0/month </h5>
			<ul class = "subscription">
				<li>
						<span class = "icon-lock" ></span>
						0 private repositories
				</li>
				<li>
					<span class = "icon-donut" ></span>
					Unlimited OpenSource repositories 
				</li>
				<li><span class = "icon-mail" ></span>
					1 email
				</li>
			</ul>
		</div>
	</div>

</div>

<div class = "well warning row" style = "margin: 0px 30px 20px 30px;">
	<div class= "span4">
		<h3 class = "">Personal plans</h3>
		<!-- #TODO -->
		<p> {Robert add here something reasonble thing to read}</p>
	</div>
	<div class = "span6">
		<!-- subscription item -->
		<div class  = "subscription-item">
			<button class = "btn2 btn2-big pull-right">Sign-up</button>
			<h5> &nbsp; Micro: $5/month </h5>
			<ul class = "subscription">
				<li><span class = "icon-lock" ></span>
					10 private repositories
				</li>
				<li>
					<span class = "icon-donut" ></span>
					Unlimited OpenSource repositories
				</li>
				<li><span class = "icon-mail" ></span>
					1 email
				</li>
			</ul>
		</div>
	<hr />
		<!-- subscription item -->
		<div class  = "subscription-item">
			<button class = "btn2 btn2-big pull-right">Sign-up</button>
			<h5> &nbsp; : $10/month </h5>
			<ul class = "subscription">
				<li><span class = "icon-lock" ></span>
					20 private repositories
				</li>
				<li>
					<span class = "icon-donut" ></span>
					Unlimited OpenSource repositories 
				</li>
				<li><span class = "icon-mail" ></span>
					1 email
				</li>
			</ul>
		</div>
	</div>
</div>


<div class = "well info row" style = "margin: 0px 30px 20px 30px; color: #616970;">
	<div class= "span4">
		<h3 class = "">Business plans</h3>
		<!-- #TODO -->
		<p> {Robert add here something reasonble thing to read}</p>
	</div>
	<div class = "span6">
		<!-- subscription item -->
		<div class  = "subscription-item">
			<button class = "btn2 btn2-big pull-right">Sign-up</button>
			<h5> Bronze: $10/month </h5>
			<ul class = "subscription">
				<li><span class = "icon-lock" ></span>
					10 private repositories
				</li>
				<li>
					<span class = "icon-donut" ></span>
					Unlimited OpenSource repositories 
				</li>
				<li><span class = "icon-mail" ></span>
					1 email
				</li>
			</ul>
		</div>
		<hr />
		<!-- subscription item -->
		<div class  = "subscription-item">
			<button class = "btn2 btn2-big pull-right">Sign-up</button>
			<h5> Silver : $25/month </h5>
			<ul class = "subscription">
				<li><span class = "icon-lock" ></span>
					20 private repositories
				</li>
				<li>
					<span class = "icon-donut" ></span>
					Unlimited OpenSource repositories 
				</li>
				<li><span class = "icon-mail" ></span>
					1 email
				</li>
			</ul>
		</div>
		<hr />
		<!-- subscription item -->
		<div class  = "subscription-item">
			<button class = "btn2 btn2-big pull-right">Sign-up</button>
			<h5> Gold : $50/month </h5>
			<ul class = "subscription">
				<li><span class = "icon-lock" ></span>
					20 private repositories
				</li>
				<li>
					<span class = "icon-donut" ></span>
					Unlimited OpenSource repositories 
				</li>
				<li><span class = "icon-mail" ></span>
					1 email
				</li>
			</ul>
		</div>

	</div>
</div>
