<% title 'Pricing' %>

<div class = "col2-left col2-right">
  <p style="padding-top: 30px; margin-bottom: 45px; font-size: 18px;">
    VersionEye allows you to register and monitor your projects for free.
    We only charge a small fee for monitoring private repositories.
    VersionEye has a variety of plans to suit everyone`s needs. <br/>
    <br/>
    <b>All of our plans can be cancelled or changed on a monthly base.</b>
  </p>
</div>

<div class="row well pricing success">
  <div class="span4" >
    <h3 class="success pricing_h" >Free</h3>
    <p>
      Try VersionEye for free.<br/>
      You can monitor unlimited public, but no private repositories.
    </p>
  </div>
  <div class = "span6">
    <div class="subscription-item" style="padding-left: 40px;">
      <% if signed_in? %>
        <% if @plan && @plan.name_id.eql?( '02_free' ) %>
          <button type="submit" class="btn2 btn2-big pull-right" >Current</button>
        <% else %>
          <form action="/settings/update_plan" method="POST" >
            <input type="hidden" name="plan" value="02_free" />
            <button type="submit" class="btn2 btn2-big pull-right" >Book It</button>
          </form>
        <% end %>
      <% else %>
        <form action="/signup" >
          <button class="btn2 btn2-big pull-right">Sign Up</button>
        </form>
      <% end %>
      <h4> $0/month </h4>
      <ul class = "subscription">
        <li>
          Unlimited public repositories
        </li>
        <li>
          0 private repositories
        </li>
        <li>
          No support for GitHub organizations
        </li>
        <li>
          1 email
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row well pricing warning">
  <div class= "span4">
    <h3 class = "pricing_h">Personal</h3>
    <p>Use the personal plan to track your private repositories.</p>
  </div>
  <div class = "span6">
    <div class="subscription-item" style="padding-left: 40px;">
      <% if signed_in? %>
        <% if @plan && @plan.name_id.eql?( '02_personal' ) %>
          <button type="submit" class="btn2 btn2-big pull-right" >Current</button>
        <% else %>
          <form action="/settings/update_plan" method="POST" >
            <input type="hidden" name="plan" value="02_personal" />
            <button id="personal_button" type="submit" class="btn2 btn2-big pull-right" >Book It</button>
          </form>
        <% end %>
      <% else %>
        <form action="/signup" >
          <button class="btn2 btn2-big pull-right">Sign Up</button>
        </form>
      <% end %>
      <h4> $3/month </h4>
      <ul class = "subscription">
        <li>
          Unlimited public repositories
        </li>
        <li>
          5 private repositories
        </li>
        <li>
          No support for GitHub organizations
        </li>
        <li>
          1 email
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row well pricing info">
  <div class= "span4">
    <h3 class = "pricing_h">Business</h3>
    <p>Use the business plans as an organization and take advantage of the advanced features.</p>
  </div>
  <div class="span6">
    <div class="subscription-item" style="padding-left: 40px;">
      <% if signed_in? %>
        <% if @plan && @plan.name_id.eql?( '02_business_small' ) %>
          <button type="submit" class="btn2 btn2-big pull-right" >Current</button>
        <% else %>
          <form action="/settings/update_plan" method="POST" >
            <input type="hidden" name="plan" value="02_business_small" />
            <button id="business_small_button" type="submit" class="btn2 btn2-big pull-right" >Book It</button>
          </form>
        <% end %>
      <% else %>
        <form action="/signup" >
          <button class="btn2 btn2-big pull-right">Sign Up</button>
        </form>
      <% end %>
      <h4> $7/month </h4>
      <ul class = "subscription">
        <li>
          Unlimited public repositories
        </li>
        <li>
          10 private repositories
        </li>
        <li>
          Unlimited email addresses
        </li>
        <li>
          Support for GitHub organizations
        </li>
      </ul>
    </div>
    <hr />
    <div class  = "subscription-item" style="padding-left: 40px;">
      <% if signed_in? %>
        <% if @plan && @plan.name_id.eql?( '02_business_normal' ) %>
          <button type="submit" class="btn2 btn2-big pull-right" >Current</button>
        <% else %>
          <form action="/settings/update_plan" method="POST" >
            <input type="hidden" name="plan" value="02_business_normal" />
            <button id="business_normal_button" type="submit" class="btn2 btn2-big pull-right" >Book It</button>
          </form>
        <% end %>
      <% else %>
        <form action="/signup" >
          <button class="btn2 btn2-big pull-right">Sign Up</button>
        </form>
      <% end %>
      <h4> $25/month </h4>
      <ul class = "subscription">
        <li>
          Unlimited public repositories
        </li>
        <li>
          50 private repositories
        </li>
        <li>
          Unlimited email addresses
        </li>
        <li>
          Support for GitHub organizations
        </li>
      </ul>
    </div>

  </div>
</div>
