<html>
  <head>
    <style type="text/css">
      body {
        color: #000000;
        font-family: Courier;
        font-size: 12px;
      }
      a, a:visited, a b {
        color: #378DC1;
        text-decoration: underline;
        cursor: pointer;
      }
      a:hover {
        text-decoration: none;
      }
      a img {
        border: none;
      }
      #container {
        width: 680px;
      }
    </style>
  </head>
  <body>
      <hr>
      <div style="text-align: center" >
        Powered by VersionEye
      </div>
  </body>
</html>
