
<div class="col-md-3" >

</div>
<div class="col-md-9">

  <div class="content_header_def" >
    Suggest a new license
  </div>

  <div class="content" >
    <p>
      Many thanks! You just made the world a little bit better!<br/>
      We will review your submission as soon as possible.<br/>
      <br/>
      Have a great day!
    </p>
  </div>
</div>
