
<div class="span3" >
  <%= render 'settings/navi' %>
</div>

<div class="span8" >

  <div class="row content_header_def" >
    License Whitelists
  </div>

  <div class="span8 content" >

    TADA <%= @license_whitelist.name %>

  </div>

</div>
