
<p>
  Add a project collaborator by adding his username or email address.
</p>

<div>
  <%= form_tag(add_collaborator_user_project_path(id: params[:id]),  class: 'form-inline', style: 'vertical-align:top;') do %>
    <div class="input-append">
      <input id="collaborator_username" name="collaborator[username]" class="span6 input" type="text" autocomplete="off" />
      <button class="btn btn-primary" onclick="preventSubmit('collaborator_username', 'collaborator username')" type="submit" >
        Add collaborator
      </button>
    </div>
  <% end %>
</div>

<div class = "media">
  <%= render partial: "collaborator" , collection: @project.collaborators %>
</div>

<script>
  jQuery(document).ready(function(){
    console.debug("Collaborators autocomplete is initialized.");

    jQuery("input#collaborator_username").typeahead({
      name: "contacts",
      remote: {
        url: "/users/autocomplete?term=%QUERY"
      },
      engine: Hogan,
      template: [
        '<div>',
          '<p>',
            '<i class="icon-male">&nbsp;</i>',
            '<strong>{{ fullname }}</strong> ( {{ username }} )',
          '</p>',
        '</div>'
      ].join('')
    });
  });
</script>
