<% outofdate = 0 %>
<% uptodate  = 0 %>
<% unknown   = 0 %>

<% deps.each do |dep| %>
  <% outofdate += 1 if dep.outdated == true %>
  <% uptodate += 1 if dep.outdated == false %>
  <% unknown += 1 if dep.prod_key.nil? %>
<% end %>

<div id='dep_pie' style="text-align: center;">
  <canvas id="dep-pie-chart" style="margin: auto; max-width: 350px; max-height: 350px;"></canvas>
</div>

<script type="text/javascript">
 $(function(){
    var dataset = {
      data: [<%= outofdate %>, <%= uptodate %>, <%= unknown %>],
      backgroundColor: ["#FF4000", "#5FB404", "#A4A4A4"]  
    };

  //render graph only iff dataset all values are pos
  var is_any_positive = _.some(dataset['data'], function(a){return a > 0;});
  if(is_any_positive){
    var pie = new Chart($("#dep-pie-chart"), {
      type: 'doughnut',
      data: {
        labels: ['out-of-date', 'up-to-date', 'unknown'],
        datasets: [dataset]
      }
    });
  }

 });
</script>
<br/><br/>
