<% if deps %>
  <table class="dependency_table" style="width: 617px;">
    <thead style="height: 30px;">
      <tr>
        <th >&nbsp;</th>
        <th >Current</th>
        <th >Locked</th>
        <th class="name_col_after_icon">Dependency</th>
        <th style="width: 76px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/user/projects/helpers/project_dependency_row", collection: deps, as: :dep %>
    </tbody>
  </table>
<% end %>
