<% if deps %>

  <% if defined?(display_pdf_export) && display_pdf_export && display_pdf_export == true && !project_id.nil? && !project_id.to_s.empty? && !license_whitelist_id.to_s.empty? %>
    <div style="margin: 10px 0 7px 0;">
      <%= link_to 'BoM PDF Export', lwl_export_user_project_path( project_id ) %> |
      <%= link_to 'BoM CSV Export', lwl_csv_export_user_project_path( project_id ) %>
    </div>
  <% end %>

  <% @license_hash = Hash.new %>
  <table class="dependency_table table table-striped" >
    <thead style="height: 30px;">
      <tr>
        <th class="name_col_after_icon">Dependency</th>
        <th >Resolved</th>
        <th >Newest</th>
        <th >License</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/user/projects/helpers/project_dependency_row", collection: deps, as: :dep %>
    </tbody>
  </table>

<% end %>
