<% if deps %>
  <table class="dependency_table" style="width: 617px;">
    <thead>
      <tr>
        <th style= "width: 1em;">&nbsp;</th>
        <th >Current</th>
        <th >Locked</th>
        <th class="name_col_after_icon">Dependency</th>
        <th class= "">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/user/projects/helpers/project_dependency_row", collection: deps, as: :dep %>
    </tbody>
  </table>
<% end %>
