<% title "Github Repositories" %>

<div class="span3" >
	<%= render "/user/projects/helpers/navi" %>
</div>

<div class="span8">

	<div class="row content_header_def" >
    Select the GitHub Repositories you want to monitor.
  </div>
  <div id = "github-repos" >
    <div class="content">
      Please enable Javascript to see content of the page.
    </div>
  </div>
</div>

<script id = "github-loading-template" type = "text/template">
  <div>
    <div class="{{= classes}}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{= message }}
    </div>
    <div>
      <img src = "/assets/loadingbar2.gif" style = "position: relative; left: 45%;">
    </div>
  </div>
</script>

<script id = "github-notification-template" type = "text/template">
  <div class="{{= classes }}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{=  message }}
  </div>
</script>

<script id = "github-table-template" type = "text/template">
  <table id = "github-repos-table" class = "table table-hover">
    <tbody></tbody>
  </table>
</script>

<script id = "github-table-row-template" type = "text/template">
  <tr>
    <td> {{= content}} </td>
  </tr>
</script>

<script id = "github-repo-info-template" type = "text/template">
  <div id = "github-repo-{{= repo.id }}">
    <div class = "repo-info row-fluid">
      <div class = "repo-logo span2">
        {{ var logo_path = "/assets/language/" }}
        {{ var logo_name = (repo.supported) ? repo.language : "ruby_bw" }}
        <img src = {{= logo_path + logo_name + ".png"}} 
          style = "position: relative; left: 25%; right: 25%; height: 72px; " />
      </div>
      <div class = "repo-info-content span8">
        <h5>{{= repo.full_name }}</h5>
        <p> {{= repo.description}} </h5>
        <div class = "repo-labels"> {{= labels }} </div>

      </div>
      <div class = "repo-switch span2">
        {{= github_switch }}
      </div>
    </div>
    <div class = "repo-notification"></div>
  </div>
</script>

<script id = "github-repo-label-template" type = "text/template">
  <span class="{{= classes }}"> 
    {{= content }}
  </span>
</script>

<script id = "github-repo-switch-template" type = "text/template">
   <div class = "github_switch switch switch-small pull-right">
      <input type = "checkbox" class = "input"
        {{= repo.supported ? "" : " disabled " }}
        {{= repo.imported ? " checked " : "" }}
        data-github-id = "{{= repo.id }}"
        data-github-project-id = "{{= repo.project_id }}"
        data-github-fullname = "{{= repo.full_name }}" />
  </div>
</script>

