<% title 'Projects' %>

<div class="span3" >
  <%= render '/user/helpers/navi' %>
</div>

<div class="span8">

  <div class="row content_header_def" >
    VersionEye is watching <b><%= pluralize( @projects.size, "Project" ) %></b> for you.
  </div>

  <div class="span8 content" >
    <div id="projects" >
      <table class="table table-striped" style="width: 100%">
        <colgroup>
          <col width="35px;"j />
          <col width="*" />
          <col width="*" />
          <col width="*" />
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Outdated</th>
            <th>Unknown</th>
          </tr>
        </thead>
        <%= render partial: "/user/projects/helpers/project" , collection: @projects %>
      </table>
    </div>
  </div>

</div>
