<% title 'Projects' %>

<div class="span3" >
  <%= render '/user/helpers/navi' %>
</div>

<div class="span8">

  <div class="row content_header_def" >
    VersionEye is watching <b><%= pluralize( @projects.size, "Project" ) %></b> for you.
  </div>

  <div class="span8 content" >
    <div id="projects" >
      <%= render partial: "/user/projects/helpers/project" , collection: @projects %>
    </div>
  </div>

</div>
