<% title "Libraries I follow" %>

<div class="span3" >
  <%= render "/user/projects/helpers/navi" %>
</div>

<div class="span8">

  <% if !@products.nil? %>  
    <div >
      <h5 class="desc_header">
        You follow <%= pluralize(@products.total_entries, "Package") %>
      </h5>
    </div>

    <%= render :partial => "products/show_search_results_iterator", :locals => { :products => @products, :prefix => "user", :name_limit => 70 } %>
    <% if !@products.nil? && !@products.empty? %> 
      <div style="margin-top: 20px; text-align: right;">
        <%= will_paginate @products %>
      </div>
    <% end %>

  <% end %>

</div>
