<% title 'Add New Project' %>

<div class="span3" >
  <%= render '/user/helpers/navi' %>
</div>

<div class="span8">

  <div class="row content_header_def" >
    Create a new project and VersionEye will show you the outdated dependencies.
  </div>
  <div class="span8 content" >
    <%= render "/user/projects/helpers/create_from_upload" %>
  </div>

</div>
