<% title  "#{@version} API documentation" %>

<div id='header' >
  <div class="swagger-ui-wrap" style="float: none;">
    <form id='api_selector'>
      <div class='input'><input placeholder="/api/v1/swagger_doc.json" id="input_baseUrl" name="baseUrl" type="text"/></div>
      <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
      <div class='input'><a id="explore" class="btn2" href="#">Explore</a></div>
    </form>
  </div>
</div>
<br/>

<div class="heading">
  <br/>
  <p>
    Use our API (Application Programming Interface) to write Add-ons, mobile applications, desktop applications, gadgets or widgets.
  </p>
  <p>
    Here are 3 projects who are using our API already. Check out the <a href="https://github.com/mattsches/VersionEyeBundle">VersionEyeBundle</a> for the Symfonyprofiler, from Matthias Gutjahr, the <a href="https://github.com/ocramius/VersionEyeModule">VersionEyeModule</a> from Marco Pivetta. Or if you are a Java Dev, check out our <a href="https://github.com/versioneye/versioneye_maven_plugin">Maven Plugin</a>.
  </p>
</div>

<div id="message-bar" class="swagger-ui-wrap">
    &nbsp;
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">

</div>

<script type="text/javascript">
    jQuery(function () {
        window.swaggerUi = new SwaggerUi({
          discoveryUrl: "<%= @api_url %>/swagger_doc.json",
            apiKey:"<%= @api_key %>",
            dom_id:"swagger-ui-container",
            supportHeaderParams: false,
            debug: false,
            supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
            docExpansion: "list",
            onComplete: function(swaggerApi, swaggerUi){
              if(console) {
                    console.log("Loaded SwaggerUI")
              }
              $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
            },
            onFailure: function(data) {
                if(console) {
                    console.log("Unable to Load SwaggerUI");
                    console.log(data);
                }
            }
        });

        window.swaggerUi.load();
    });
    $ == jQuery;
</script>
