<% title  "#{@version} API documentation" %>

<div id='header' >
  <div class="swagger-ui-wrap" style="float: none;">
    <form id='api_selector'>
      <div class='input'><input placeholder="/api/v1/swagger_doc.json" id="input_baseUrl" name="baseUrl" type="text"/></div>
      <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
      <div class='input'><a id="explore" class="btn2" href="#">Explore</a></div>
    </form>
  </div>
</div>
<br/>

<div class="heading">
  <br/>
  <p>
    Use our <strong>API</strong> (<em>Application Programming Interface</em>) to write Add-ons, mobile applications, desktop applications, gadgets or widgets.
  </p>
  <p>
    You can find your API-key from the input field on a top-right corner,
    next to the <em>`Explore`</em> button. <br/>

    An API key is visible only for authorized user. If you're logged in and api-key is still missing then goto the your <a href="<%= settings_api_path %>">settings page</a> and generate new.

  </p>
  <p>
    Here are 4 projects who are using our API already:
    <ul style = "padding-left: 30px;">
      <li>
        <a href="https://github.com/mattsches/VersionEyeBundle">VersionEyeBundle</a>
        for the Symfonyprofiler, author is Matthias Gutjahr
      </li>
      <li>
        <a href="https://github.com/ocramius/VersionEyeModule">VersionEyeModule</a>
        integration module for ZF2 by Marco Pivetta.
      </li>
      <li>
        <a href="https://github.com/versioneye/versioneye_maven_plugin">Maven Plugin</a>, our own Maven plugin for Java developers
      </li>
      <li>
        <a href = "https://github.com/versioneye/veye">Commandline tool</a>
        our toolbelt as Heroku has their own.
      </li>
    </ul>
  </p>
</div>

<div id="message-bar" class="swagger-ui-wrap">
    &nbsp;
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">

</div>

<script type="text/javascript">
    jQuery(function () {
        window.swaggerUi = new SwaggerUi({
          discoveryUrl: "<%= @api_url %>/swagger_doc.json",
            apiKey:"<%= @api_key %>",
            dom_id:"swagger-ui-container",
            supportHeaderParams: false,
            debug: false,
            supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
            docExpansion: "list",
            onComplete: function(swaggerApi, swaggerUi){
              if(console) {
                    console.log("Loaded SwaggerUI")
              }
              $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
            },
            onFailure: function(data) {
                if(console) {
                    console.log("Unable to Load SwaggerUI");
                    console.log(data);
                }
            }
        });

        window.swaggerUi.load();
    });
    $ == jQuery;
</script>
