.DS_Store
*.rbc
*.sassc
.sass-cache
.sass-cache/
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*.log
/pids
/pids/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.idea/
.env
app/assets/.DS_Store
app/assets/images/.DS_Store
webrate.log
versioneye.sublime-project
versioneye.sublime-workspace
notes.txt
script/set_vars_for_dev_reiz.sh
