
<a href="/blogs" id="blog_home">Home</a><br/>
<% if signed_in? %>
	<%= link_to "Write a new post", new_blog_path %><br/>
	<%= link_to "My posts", userblogposts_path %><br/>	
	<% if signed_in_admin? %>
		<%= link_to "Unapproved posts", unapprovedblogposts_path %><br/>			
	<% end %>
<% end %>