<a href="/blogs" id="blog_home">Stories</a><br/>
<% if signed_in? %>
	<%= link_to "Write a new story", new_blog_path %><br/>
	<%= link_to "My stories", myposts_blogs_path %><br/>	
	<% if signed_in_admin? %>
		<%= link_to "Unapproved stories", unapproved_blogs_path %><br/>			
	<% end %>
<% end %>