<% title 'Bitbucket Repositories' %>

<div class="span3" >
  <%= render '/user/helpers/navi' %>
</div>


<% if !current_user.bitbucket_account_connected? %>

  <div class="span8">
    <div class="row content_header_def" >
      Connect with Bitbucket to monitor your Bitbucket Repositories.
    </div>
    <div class="content " >
      <%= render 'shared/connect_with_bitbucket', :btn => "signup" %>
    </div>
  </div>

<% else %>

  <div class="span8">
    <div class="row content_header_def" style = "padding-bottom: 0px;" >
      <div id = "github-menu" ></div>
      <div id = "github-loader-notification" class = "notification">&nbsp;</div>
    </div>

    <div id = "github-repos" class="content row-fluid" >
      <div>
        <strong>Please wait!</strong> Our App is initializing.
        <img src = "/assets/loadingbar.gif" style = "margin-left: 25%; margin-right: 25%;"/>
      </div>
    </div>
    <div id = "github-pagination"></div>
  </div>

<% end %>

<!-- templates for frontend app -->
<%= render "shared/scm_app_templates" %>
