
<div class="col-md-3" >
<% if defined?(@organisation) && !@organisation.nil? %>
  <%= render 'organisations/navi' %>
<% end %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Pull requests
  </div>

  <div class="content" >

    <% if @pr %>
      <%= render "pr_show_content" %>
    <% else %>
      <span style="font-weight: bold">The requested element does not exist!</span>
    <% end %>

  </div>

</div>
