<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hey</p>
		<p>
      Your url <i><%= @submitted_url.url.htmlsafe %></i> 
      <br/>
		</p>
	</body>
</html>
