<p>
  Hello <%= @fullname %>.
</p>
<p>
  Thank you for your request. We're happy to confirm that you're
  now signed up to VersionEye's lottery. Our team will contact you
  if you should win.
</p>
<p>
  Here's your ticket id <%= @ticket[:_id].to_s %> and those are the libraries you're following now:<br/>
  <br/>
  <% @ticket[:selection].each do |selection| %>
    <% product  = Product.fetch_product(selection[:language], selection[:prod_key]) %>
    <% product_url    = "http://www.versioneye.com/#{product.language_esc}/#{product.to_param}" %>
    <% product_title  = "#{product.name}".strip %>
    - <a href="<%= product_url %>?utm_medium=email&amp;utm_source=new_ticket"><%= product_title %></a><br/>
  <% end %>
</p>
<p>
  Your VersionEye Team<br/>
  <a href="http://www.versioneye.com?utm_medium=email&amp;utm_source=new_ticket">http://www.versioneye.com</a>
</p>
