<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hey</p>
		<p>
			A new User signed up. <br/>
			<%= @fullname %>:
		</p>
		<p>
			Link: <a href="https://www.versioneye.com/users/<%= @username %>">https://www.versioneye.com/users/<%= @username %></a></br>
		</p>
	</body>
</html>