<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hello <%= @user.fullname %></p>
		<p>
			You requested a new password at VersionEye.com. <br/>
		</p>
		<p>
			Your new password: <%= @password %></a></br>
		</p>
		<p>
			Thanks for joining and have a great day!
		</p>
	</body>
</html>