<p>
  Hey <%= @callee[:fullname] %>,
</p>
<p>
  <%= @caller[:fullname] %> just added you as project collaborator to his/her project
  <a href="https://www.versioneye.com/user/projects/<%= @project[:_id].to_s %>?utm_medium=email&amp;utm_source=new_collaboration" ><%= @project[:name] %></a>.
  Now you will get email notifications to this project.
</p>
<p>
    To change your collaboration settings, <a href="https://www.versioneye.com/user/collaborations?utm_medium=email&amp;utm_source=new_collaboration" > click here.</a>
</p>
<p>
  Your VersionEye Team<br/>
  <a href="https://www.versioneye.com?utm_medium=email&amp;utm_source=new_collaboration">https://www.versioneye.com</a>
</p>
