<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hey</p>
		<p>
			<%= @fullname %> signed up. GitHub: @github <br/>
		</p>
		<p>
			Link: <a href="http://www.versioneye.com/users/<%= @username %>">http://www.versioneye.com/users/<%= @username %></a></br>
		</p>
	</body>
</html>
