<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hello <%= @user.fullname %></p>
		<p>
    You've requested a new password for your's account at VersionEye.com. <br/>
    Please visit <a href="<%= @url %>"> <%= @url %> </a> to change your 
    password. This step is mandatory, because your old password doesnt work anymore. 
		</p>
		<p>
			Have a great day!
		</p>
	</body>
</html>
