<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hello <%= @fullname %>,</p>
		<p>
			we noticed you signed up for VersionEye.com but didn't follow any libraries yet.
		</p>

		<h2>What is VersionEye?</h2>
		<p>
			VersionEye is a tool for developers that tracks software libraries for programming
			languages like Java, PHP, Ruby or Python and notifies you whenever a new version of that
			library is released. This also works automatically with popular package managers like
			Maven, Bundler or NPM.
		</p>

		<h2>Popular Packages to follow</h2>

		<h3>Java</h3>
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>


		<h3>Ruby</h3>
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>

		<h3>Python</h3>
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>

		<h3>PHP</h3>
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>

		<h3>Node.js</h3>
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>

		<h3>Clojure</h3>
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>

		<h3>R</h3>
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>

	</body>
</html>
