<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hello <%= @user.fullname %></p>
		<p>
			Thank you for signing up at VersionEye.com. <br/>
			Please click the verification link below to activate your account:
		</p>
		<p>
			Verification Link: <a href="<%= @verificationlink %>"><%= @verificationlink %></a></br>
		</p>
		<p>
			Thanks for joining and have a great day!
		</p>
	</body>
</html>