
<div style= "width: 520px; margin: 10px 25%;">
  <%= form_for [:user, @testimonial], html: {class: 'form form-horizontal'} do |f| %>
    <fieldset style = "padding: 0px 45px;">
      <legend> Testimonial </legend>
      <p>Write a testimonial for our public landing page.</p>

      <% if @user.nil? %>
        <%= render partial: 'shared/login_options_horizontal' %>
        Or <a href="/signup">sign up</a> with your <a href="/signup">email address</a>.
      <% else %>
        <%= render partial: 'user/testimonials/helpers/testimonial_form', :locals => {:f => f} %>
      <% end %>

    </fieldset>
  <% end %>
</div>
