
<div style= "width: 520px; margin: 10px 25%;">
  <form class = "form form-horizontal" >
    <fieldset style = "padding: 0px 45px;">
      <legend> Add your testimonial </legend>
      <p>Write a testimonial for our public landing page.</p>

      <% if @user.nil? %>
        <%= render partial: 'shared/login_options_horizontal' %>
        Or <a href="/signup">sign up</a> with your <a href="/signup">email address</a>.
      <% end %>

    </fieldset>
</div>