
<div style= "width: 520px; margin: 10px 25%;">

    <fieldset style = "padding: 0px 45px;">

      <legend> Testimonial </legend>
      <p>Tweet your testimonial.</p>

      <textarea class="input-xlarge limit255" cols="60" rows="3" maxlength="140" ><%= @testimonial %></textarea><br/>

      <a href="https://twitter.com/share"
       class="twitter-share-button"
       data-size="large"
       data-text="<%= @testimonial %> @VersionEye"
       data-count="none" >Twitter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </fieldset>

</div>


