<div>
<table class = "table table-hover">

<% @submitted_urls.each do |item| %>
  <tr>
    <td class = "span2">
      <% @user = @users[item[:user_id]] %>
      <%= render "shared/gravatar", :object => @user, :size => 100 %>
    </td>
    <td> 
      <strong><%= link_to item.url.html_safe, item.url  %></strong>
      <p>
        <%= item.message.html_safe %>
      </p>
    </td>
  </tr>
<% end %>

</table>
</div>
