<div class="col-md-3" >
  <%= render "organisations/navi" %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Edit your billing address
  </div>

  <div class="content" >

    <%= form_tag(update_billing_address_organisation_path, :method => "post", :class => "form-horizontal", :id => "payment-form") do %>

      <%= render "billing_fields" %>

      <div class="form-group">
        <div class="control-label"></div>
        <div class="controls" >
          <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
      </div>

    <% end %>

  </div>

</div>
