
<div class="col-md-3" >

  <% if !Settings.instance.environment.to_s.eql?('enterprise') && request.original_url.to_s.match("@").nil? %>
    <!-- veye_hori -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-9602950531496152"
         data-ad-slot="9319276825"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  <% end %>

</div>
<div class="col-md-9">

  <div class="content_header_def" >
    Organisations
  </div>

  <div class="content" >

    <div class="scm_repo">
      <a href="<%= new_organisation_path %>">Create new organisation</a>
    </div>

    <% @organisations.each do |orga| %>
      <div class="scm_repo">
        <a href="<%= projects_organisation_path(orga) %>"><%= orga.name %></a>
      </div>
    <% end %>

  </div>

</div>
