
<div class="col-md-3 navbar_container" >
  <%= render "organisations/navi" %>
</div>
<div class="col-md-9">

  <div class="content_header_def" >
    Inventory diff
  </div>

  <div class="content" >

    <p id="inventory_diff_explained">
      Here you can see the difference between 2 inventory lists.
      That's especially useful if you want to see which artefacts have been added and removed
      between 2 inventory lists.
      <br/><br/>
    </p>

    <%= render :partial => "inventory_diff_filter", :locals => { :disabled => 'false' } %>

  </div>

</div>
