<div class="col-md-3" >
  <%= render "organisations/navi" %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Plans &amp; Pricing - Manage your subscription here
  </div>

  <div class="content" >
    <p>
      Open source projects are for free! We only charge a small fee for monitoring project files in private GitHub/Bitbucket repositories.<br/>
    </p>
    <hr />

    <%= render "pricing" %>

    <p>
      Send a message to <a href="mailto:support@versioneye.com">support@versioneye.com</a> if you need higher plans.
    </p>
    <% if has_orga_current_plan?( @organisation ) %>
      <p>
        <a href="<%= cc_organisation_path(@organisation) %>">Update Credit Card</a>
      </p>
    <% end %>

  </div>

</div>
