
<div class="col-md-3" >
  <%= render "organisations/navi" %>
</div>
<div class="col-md-9">

  <div class="content_header_def" >
    Projects at <%= @organisation.name %>
  </div>

  <div class="content" >
    <div id="projects" >
      <table class="table table-striped" style="width: 100%">
        <colgroup>
          <col width="35px;"j />
          <col width="*" />
          <col width="*" />
          <col width="*" />
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th>Projects</th>
            <th>Versions</th>
            <th>Licenses</th>
          </tr>
        </thead>
        <%= render partial: "/user/projects/helpers/project" , collection: @projects %>
      </table>
    </div>
  </div>

</div>
