<div id= "delete_form_<%= @form_index %>" class = "hide admin-form" >
  <h5>Deleting url</h5>

  <%= form_tag(admin_submitted_url_path(@submitted_url),
               :class => 'form-horizontal', :method => 'delete')  do %>
  <div class= "control-group">

      <label class= "control-label">
        <span class="label label-warning">Warning!</span>
      </label>
      <div class = "controls">
        We can't restore once removed SubmittedUrl, therefor
        think twice before deleting.
      </div>
  </div>

  <div class = "control-group">
    <div class = "controls">
      <button type = "button" class = "btn" onclick="jQuery('.admin-form').addClass('hide')"> Cancel </button>
      <%= submit_tag "Delete", :confirm => "Are you sure?",
        :class => "btn btn-danger", :style=> "color:#fff;" %>
    </div>
  </div>

<% end %>
</div>
