<div class ="container">
	<h1>
		Statistics
	</h1>
	<div style="padding-bottom: 20px;">
		These numbers are collected from more than 50 different repository servers in the Internet, i.e. repository servers such as RubyGems.org, pypi.python.org, packagist.org and more than 40 Maven repository servers. 
SCM tools such as GitHub or BitBucket are not included. 
	</div>
	<div id="chart_container_projects">
		<div class = "loadingbar-container">
			<%= image_tag "loadingbar.gif", :alt => "Loading data, please wait." %>
		</div>
	</div>
	<div style="padding-bottom: 20px;">
		The trend chart shows how fast the repositories are growing over time.
	</div>
	<div id="chart_container_trends">
		<div class = "loadingbar-container">
			<%= image_tag "loadingbar.gif", :alt => "Loading data, please wait." %>
		</div>
	</div>
</div>	