<% title 'Statistics' %>

<% page_header 'Statistics' %>
<div >
  <div style="padding-bottom: 20px;">
    The numbers below are collected from more than 50 different repository servers on the Internet, i.e. repository servers such as RubyGems.org, pypi.python.org, packagist.org and more than 40 Maven repository servers.
  </div>
  <div id="plot-summary-container">
    <canvas id="plot-summary"></canvas>
  </div>

  <div style="padding-bottom: 20px;">
    The trend chart shows how fast the repositories are growing over time.
  </div>
  
  <div id="plot-trends-container">
    <div class = "loadingbar-container">
      <%#= image_tag "loadingbar.gif", :alt => "Loading data, please wait." %>
    </div>

    <canvas id="plot-trends"></canvas>
  </div>
  
  <div id = "plot_trends_legend"></div>
</div>
