<div class ="container">
	<div id="chart_container_projects">
		<div class = "loadingbar-container">
			<%= image_tag "loadingbar.gif", :alt => "Loading data, please wait." %>
		</div>
	</div>
	<div id="chart_container_trends">
		<div class = "loadingbar-container">
			<%= image_tag "loadingbar.gif", :alt => "Loading data, please wait." %>
		</div>
	</div>
</div>	