---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/2.0/users/versioneye_test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="HgSkE62pTT3HmxFGAm", oauth_nonce="HAHIeuvXcX39cFae7Paqziyh8le2kULHjsjBZjUfCc",
        oauth_signature="HRxeBvZyKDm3Ll5ZTJ3lkgD5RjM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387985933", oauth_token="YsR6vM5qxmfZtkYt9G", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Render-Time:
      - '0.0291559696198'
      Content-Language:
      - en
      X-Static-Version:
      - c4f05e63beb6
      X-Version:
      - b2ac13e3a153
      X-Request-Count:
      - '23'
    body:
      encoding: UTF-8
      string: "{\"username\": \"versioneye_test\", \"website\": null, \"display_name\":
        \"Version Eye\", \"links\": {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/users/versioneye_test\"},
        \"repositories\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/versioneye_test\"},
        \"html\": {\"href\": \"https://bitbucket.org/versioneye_test\"}, \"followers\":
        {\"href\": \"https://bitbucket.org/!api/2.0/users/versioneye_test/followers\"},
        \"avatar\": {\"href\": \"https://secure.gravatar.com/avatar/ef4bc1256a1b06c7de9da2515680ceee?d=https%3A%2F%2Fd3oaxc4q5k2d6q.cloudfront.net%2Fm%2Fc4f05e63beb6%2Fimg%2Fdefault_avatar%2F32%2Fuser_blue.png&s=32\"},
        \"following\": {\"href\": \"https://bitbucket.org/!api/2.0/users/versioneye_test/following\"}},
        \"created_on\": \"2013-12-23T14:01:40.510589+00:00\", \"location\": null,
        \"type\": \"user\"}"
  recorded_at: Wed, 25 Dec 2013 15:38:53 GMT
recorded_with: VCR 2.8.0
