---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/versioneye_test/fantom_hydra/src/master/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="HgSkE62pTT3HmxFGAm", oauth_nonce="VXNYs1WF0PnH5GqVGrI0TRFkQbT9u7EZME3rq0EgqKY",
        oauth_signature="0tVaVDbgtyBMZ1HTz1AQ%2BK8C%2B04%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387985938", oauth_token="YsR6vM5qxmfZtkYt9G", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Render-Time:
      - '0.0658469200134'
      Content-Language:
      - en
      X-Request-Count:
      - '297'
      Last-Modified:
      - Wed, 25 Dec 2013 15:38:59 GMT
      X-Version:
      - b2ac13e3a153
      X-Static-Version:
      - c4f05e63beb6
    body:
      encoding: UTF-8
      string: "{\"node\": \"20b9c1193a16\", \"path\": \"/\", \"directories\": [],
        \"files\": [{\"size\": 1990, \"path\": \"Gemfile\", \"timestamp\": \"2013-11-01T14:36:31Z\",
        \"utctimestamp\": \"2013-11-01 14:36:31+00:00\", \"revision\": \"20b9c1193a16\"},
        {\"size\": 0, \"path\": \"LICENSE\", \"timestamp\": \"2013-11-01T14:29:08Z\",
        \"utctimestamp\": \"2013-11-01 14:29:08+00:00\", \"revision\": \"a3ffc834e602\"},
        {\"size\": 139, \"path\": \"README.md\", \"timestamp\": \"2013-11-01T14:36:31Z\",
        \"utctimestamp\": \"2013-11-01 14:36:31+00:00\", \"revision\": \"20b9c1193a16\"},
        {\"size\": 215, \"path\": \"bower.json\", \"timestamp\": \"2013-11-01T14:32:25Z\",
        \"utctimestamp\": \"2013-11-01 14:32:25+00:00\", \"revision\": \"69f219d5fd26\"}]}"
  recorded_at: Wed, 25 Dec 2013 15:38:59 GMT
recorded_with: VCR 2.8.0
