---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/2.0/repositories/versioneye_test/fantom_hydra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="HgSkE62pTT3HmxFGAm", oauth_nonce="lEID8RXTFv0avuQZOOtWHgJTQWkv2e23L4ckJytw0",
        oauth_signature="MJhc%2B9ldpR6ztGt%2FCgA94%2Fa%2Bo8M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387985934", oauth_token="YsR6vM5qxmfZtkYt9G", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Count:
      - '268'
      X-Render-Time:
      - '0.0451688766479'
      Content-Language:
      - en
      X-Static-Version:
      - c4f05e63beb6
      X-Version:
      - b2ac13e3a153
    body:
      encoding: UTF-8
      string: "{\"scm\": \"git\", \"has_wiki\": false, \"description\": \"Test project
        for BitbucketSP\", \"links\": {\"watchers\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/versioneye_test/fantom_hydra/watchers\"},
        \"commits\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/versioneye_test/fantom_hydra/commits\"},
        \"self\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/versioneye_test/fantom_hydra\"},
        \"html\": {\"href\": \"https://bitbucket.org/versioneye_test/fantom_hydra\"},
        \"avatar\": {\"href\": \"https://d3oaxc4q5k2d6q.cloudfront.net/m/c4f05e63beb6/img/language-avatars/default_16.png\"},
        \"forks\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/versioneye_test/fantom_hydra/forks\"},
        \"clone\": [{\"href\": \"https://versioneye_test@bitbucket.org/versioneye_test/fantom_hydra.git\",
        \"name\": \"https\"}, {\"href\": \"ssh://git@bitbucket.org/versioneye_test/fantom_hydra.git\",
        \"name\": \"ssh\"}], \"pullrequests\": {\"href\": \"https://bitbucket.org/!api/2.0/repositories/versioneye_test/fantom_hydra/pullrequests\"}},
        \"fork_policy\": \"allow_forks\", \"language\": \"\", \"created_on\": \"2013-12-25T13:57:03.873043+00:00\",
        \"full_name\": \"versioneye_test/fantom_hydra\", \"has_issues\": false, \"owner\":
        {\"username\": \"versioneye_test\", \"display_name\": \"Version Eye\", \"links\":
        {\"self\": {\"href\": \"https://bitbucket.org/!api/2.0/users/versioneye_test\"},
        \"avatar\": {\"href\": \"https://secure.gravatar.com/avatar/ef4bc1256a1b06c7de9da2515680ceee?d=https%3A%2F%2Fd3oaxc4q5k2d6q.cloudfront.net%2Fm%2Fc4f05e63beb6%2Fimg%2Fdefault_avatar%2F32%2Fuser_blue.png&s=32\"}}},
        \"updated_on\": \"2013-12-25T13:58:03.794584+00:00\", \"size\": 619780, \"is_private\":
        false, \"name\": \"fantom_hydra\"}"
  recorded_at: Wed, 25 Dec 2013 15:38:55 GMT
recorded_with: VCR 2.8.0
