---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 8db49bc64f46ec9d73a4570903a24bf997b32a7e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4473'
      X-Ratelimit-Reset:
      - '1390734742'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"resources":{"core":{"limit":5000,"remaining":4473,"reset":1390734742},"search":{"limit":20,"remaining":20,"reset":1390732141}},"rate":{"limit":5000,"remaining":4473,"reset":1390734742}}'
  recorded_at: Sun, 26 Jan 2014 10:28:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/backbone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 8db49bc64f46ec9d73a4570903a24bf997b32a7e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4472'
      X-Ratelimit-Reset:
      - '1390734742'
      Last-Modified:
      - Fri, 24 Jan 2014 11:00:15 GMT
      Etag:
      - '"dd9c4fe8071770ebe81fa1f33ae8872b"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":16202161,"name":"backbone","full_name":"versioneye/backbone","owner":{"login":"versioneye","id":3974102,"avatar_url":"https://gravatar.com/avatar/879225ddb1056345f41cdb5575ed13f7?d=https%3A%2F%2Fidenticons.github.com%2F11a280b4b747132f97c9ed8f71d740ac.png&r=x","gravatar_id":"879225ddb1056345f41cdb5575ed13f7","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/versioneye/backbone","description":"Give
        your JS App some Backbone with Models, Views, Collections, and Events","fork":true,"url":"https://api.github.com/repos/versioneye/backbone","forks_url":"https://api.github.com/repos/versioneye/backbone/forks","keys_url":"https://api.github.com/repos/versioneye/backbone/keys{/key_id}","collaborators_url":"https://api.github.com/repos/versioneye/backbone/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/versioneye/backbone/teams","hooks_url":"https://api.github.com/repos/versioneye/backbone/hooks","issue_events_url":"https://api.github.com/repos/versioneye/backbone/issues/events{/number}","events_url":"https://api.github.com/repos/versioneye/backbone/events","assignees_url":"https://api.github.com/repos/versioneye/backbone/assignees{/user}","branches_url":"https://api.github.com/repos/versioneye/backbone/branches{/branch}","tags_url":"https://api.github.com/repos/versioneye/backbone/tags","blobs_url":"https://api.github.com/repos/versioneye/backbone/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/versioneye/backbone/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/versioneye/backbone/git/refs{/sha}","trees_url":"https://api.github.com/repos/versioneye/backbone/git/trees{/sha}","statuses_url":"https://api.github.com/repos/versioneye/backbone/statuses/{sha}","languages_url":"https://api.github.com/repos/versioneye/backbone/languages","stargazers_url":"https://api.github.com/repos/versioneye/backbone/stargazers","contributors_url":"https://api.github.com/repos/versioneye/backbone/contributors","subscribers_url":"https://api.github.com/repos/versioneye/backbone/subscribers","subscription_url":"https://api.github.com/repos/versioneye/backbone/subscription","commits_url":"https://api.github.com/repos/versioneye/backbone/commits{/sha}","git_commits_url":"https://api.github.com/repos/versioneye/backbone/git/commits{/sha}","comments_url":"https://api.github.com/repos/versioneye/backbone/comments{/number}","issue_comment_url":"https://api.github.com/repos/versioneye/backbone/issues/comments/{number}","contents_url":"https://api.github.com/repos/versioneye/backbone/contents/{+path}","compare_url":"https://api.github.com/repos/versioneye/backbone/compare/{base}...{head}","merges_url":"https://api.github.com/repos/versioneye/backbone/merges","archive_url":"https://api.github.com/repos/versioneye/backbone/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/versioneye/backbone/downloads","issues_url":"https://api.github.com/repos/versioneye/backbone/issues{/number}","pulls_url":"https://api.github.com/repos/versioneye/backbone/pulls{/number}","milestones_url":"https://api.github.com/repos/versioneye/backbone/milestones{/number}","notifications_url":"https://api.github.com/repos/versioneye/backbone/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/versioneye/backbone/labels{/name}","releases_url":"https://api.github.com/repos/versioneye/backbone/releases{/id}","created_at":"2014-01-24T11:00:12Z","updated_at":"2014-01-24T11:00:15Z","pushed_at":"2014-01-16T15:45:05Z","git_url":"git://github.com/versioneye/backbone.git","ssh_url":"git@github.com:versioneye/backbone.git","clone_url":"https://github.com/versioneye/backbone.git","svn_url":"https://github.com/versioneye/backbone","homepage":"http://backbonejs.org","size":54693,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"organization":{"login":"versioneye","id":3974102,"avatar_url":"https://gravatar.com/avatar/879225ddb1056345f41cdb5575ed13f7?d=https%3A%2F%2Fidenticons.github.com%2F11a280b4b747132f97c9ed8f71d740ac.png&r=x","gravatar_id":"879225ddb1056345f41cdb5575ed13f7","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"parent":{"id":952189,"name":"backbone","full_name":"jashkenas/backbone","owner":{"login":"jashkenas","id":4732,"avatar_url":"https://gravatar.com/avatar/32652ed5b8fbd2ecdb1c78e9ac567b4b?d=https%3A%2F%2Fidenticons.github.com%2Ffd1d83de2517a02d4e221ede9a681432.png&r=x","gravatar_id":"32652ed5b8fbd2ecdb1c78e9ac567b4b","url":"https://api.github.com/users/jashkenas","html_url":"https://github.com/jashkenas","followers_url":"https://api.github.com/users/jashkenas/followers","following_url":"https://api.github[...]
- request:
    method: get
    uri: https://raw.github.com/versioneye/backbone/master/bower.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Git-Blob-Oid:
      - 1b89da8fe4f742f30af1de6a3193a57cd7c5cf69
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - '"7959212889fab60aa645afc9a70bb1fa"'
    body:
      encoding: UTF-8
      string: |
        {
          "name"          : "backbone",
          "version"       : "1.1.0",
          "main"          : "backbone.js",
          "dependencies"  : {
            "underscore"  : ">=1.5.0"
          },
          "ignore"        : ["backbone-min.js", "docs", "examples", "test", "*.yml", "*.map", ".html"]
        }
  recorded_at: Sun, 26 Jan 2014 10:28:02 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/backbone/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 8db49bc64f46ec9d73a4570903a24bf997b32a7e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4224'
      X-Ratelimit-Reset:
      - '1391276540'
      Last-Modified:
      - Fri, 24 Jan 2014 11:00:15 GMT
      Etag:
      - '"dd9c4fe8071770ebe81fa1f33ae8872b"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"1.1.0","zipball_url":"https://api.github.com/repos/versioneye/backbone/zipball/1.1.0","tarball_url":"https://api.github.com/repos/versioneye/backbone/tarball/1.1.0","commit":{"sha":"0a4399e3de5cb2ab75a0338669582f18c1fae3ae","url":"https://api.github.com/repos/versioneye/backbone/commits/0a4399e3de5cb2ab75a0338669582f18c1fae3ae"}},{"name":"1.0.0","zipball_url":"https://api.github.com/repos/versioneye/backbone/zipball/1.0.0","tarball_url":"https://api.github.com/repos/versioneye/backbone/tarball/1.0.0","commit":{"sha":"699fe3271262043bb137bae97bd0003d6d193f27","url":"https://api.github.com/repos/versioneye/backbone/commits/699fe3271262043bb137bae97bd0003d6d193f27"}},{"name":[...]
[...]
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 8db49bc64f46ec9d73a4570903a24bf997b32a7e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '5000'
      X-Ratelimit-Reset:
      - '1399988760'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"resources":{"core":{"limit":5000,"remaining":5000,"reset":1399988760},"search":{"limit":30,"remaining":30,"reset":1399985220}},"rate":{"limit":5000,"remaining":5000,"reset":1399988760}}'
  recorded_at: Tue, 13 May 2014 12:46:00 GMT
recorded_with: VCR 2.9.0
