---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/jquery
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 8db49bc64f46ec9d73a4570903a24bf997b32a7e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1391280584'
      Last-Modified:
      - Sat, 25 Jan 2014 16:44:25 GMT
      Etag:
      - '"7b7121f674a281086c9303f7b7c02928"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":16234889,"name":"jquery","full_name":"versioneye/jquery","owner":{"login":"versioneye","id":3974102,"avatar_url":"https://gravatar.com/avatar/879225ddb1056345f41cdb5575ed13f7?d=https%3A%2F%2Fidenticons.github.com%2F11a280b4b747132f97c9ed8f71d740ac.png&r=x","gravatar_id":"879225ddb1056345f41cdb5575ed13f7","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/versioneye/jquery","description":"jQuery
        JavaScript Library","fork":true,"url":"https://api.github.com/repos/versioneye/jquery","forks_url":"https://api.github.com/repos/versioneye/jquery/forks","keys_url":"https://api.github.com/repos/versioneye/jquery/keys{/key_id}","collaborators_url":"https://api.github.com/repos/versioneye/jquery/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/versioneye/jquery/teams","hooks_url":"https://api.github.com/repos/versioneye/jquery/hooks","issue_events_url":"https://api.github.com/repos/versioneye/jquery/issues/events{/number}","events_url":"https://api.github.com/repos/versioneye/jquery/events","assignees_url":"https://api.github.com/repos/versioneye/jquery/assignees{/user}","branches_url":"https://api.github.com/repos/versioneye/jquery/branches{/branch}","tags_url":"https://api.github.com/repos/versioneye/jquery/tags","blobs_url":"https://api.github.com/repos/versioneye/jquery/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/versioneye/jquery/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/versioneye/jquery/git/refs{/sha}","trees_url":"https://api.github.com/repos/versioneye/jquery/git/trees{/sha}","statuses_url":"https://api.github.com/repos/versioneye/jquery/statuses/{sha}","languages_url":"https://api.github.com/repos/versioneye/jquery/languages","stargazers_url":"https://api.github.com/repos/versioneye/jquery/stargazers","contributors_url":"https://api.github.com/repos/versioneye/jquery/contributors","subscribers_url":"https://api.github.com/repos/versioneye/jquery/subscribers","subscription_url":"https://api.github.com/repos/versioneye/jquery/subscription","commits_url":"https://api.github.com/repos/versioneye/jquery/commits{/sha}","git_commits_url":"https://api.github.com/repos/versioneye/jquery/git/commits{/sha}","comments_url":"https://api.github.com/repos/versioneye/jquery/comments{/number}","issue_comment_url":"https://api.github.com/repos/versioneye/jquery/issues/comments/{number}","contents_url":"https://api.github.com/repos/versioneye/jquery/contents/{+path}","compare_url":"https://api.github.com/repos/versioneye/jquery/compare/{base}...{head}","merges_url":"https://api.github.com/repos/versioneye/jquery/merges","archive_url":"https://api.github.com/repos/versioneye/jquery/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/versioneye/jquery/downloads","issues_url":"https://api.github.com/repos/versioneye/jquery/issues{/number}","pulls_url":"https://api.github.com/repos/versioneye/jquery/pulls{/number}","milestones_url":"https://api.github.com/repos/versioneye/jquery/milestones{/number}","notifications_url":"https://api.github.com/repos/versioneye/jquery/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/versioneye/jquery/labels{/name}","releases_url":"https://api.github.com/repos/versioneye/jquery/releases{/id}","created_at":"2014-01-25T16:44:16Z","updated_at":"2014-01-25T16:44:25Z","pushed_at":"2014-01-25T07:22:46Z","git_url":"git://github.com/versioneye/jquery.git","ssh_url":"git@github.com:versioneye/jquery.git","clone_url":"https://github.com/versioneye/jquery.git","svn_url":"https://github.com/versioneye/jquery","homepage":"http://jquery.com/","size":18528,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_downloads":false,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"organization":{"login":"versioneye","id":3974102,"avatar_url":"https://gravatar.com/avatar/879225ddb1056345f41cdb5575ed13f7?d=https%3A%2F%2Fidenticons.github.com%2F11a280b4b747132f97c9ed8f71d740ac.png&r=x","gravatar_id":"879225ddb1056345f41cdb5575ed13f7","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"parent":{"id":167174,"name":"jquery","full_name":"jquery/jquery","owner":{"login":"jquery","id":70142,"avatar_url":"https://gravatar.com/avatar/6906f317a4733f4379b06c32229ef02f?d=https%3A%2F%2Fidenticons.github.com%2Ff426f04f2f9813718fb806b30e0093de.png&r=x","gravatar_id":"6906f317a4733f4379b06c32229ef02f","url":"https://api.github.com/users/jquery","html_url":"https://github.com/jquery","followers_url":"https://api.github.com/users/jquery/followers","following_url":"https://api.github.com/users/jquery/[...]
- request:
    method: get
    uri: https://raw.github.com/versioneye/jquery/master/bower.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Git-Blob-Oid:
      - 5572668baed18c5728e9e027eecefc5c4aef6525
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - '"128e65dd783403b0d87e7623de014cdb"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "jquery",
          "version": "2.1.1pre",
          "ignore": [
            "**/.*",
            "build",
            "speed",
            "test",
            "*.md",
            "AUTHORS.txt",
            "Gruntfile.js",
            "package.json",
            "bower.json"
          ],
          "dependencies": {
            "sizzle": "1.10.16"
          },
          "devDependencies": {
            "requirejs": "~2.1.8",
            "qunit": "~1.12.0",
            "sinon": "~1.7.3"
          },
          "keywords": [
            "jquery",
            "javascript",
            "library"
          ]
        }
  recorded_at: Sat, 01 Feb 2014 17:49:52 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/jquery/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 8db49bc64f46ec9d73a4570903a24bf997b32a7e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1391280584'
      Last-Modified:
      - Sat, 25 Jan 2014 16:44:25 GMT
      Etag:
      - '"7b7121f674a281086c9303f7b7c02928"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"2.1.0-rc1","zipball_url":"https://api.github.com/repos/versioneye/jquery/zipball/2.1.0-rc1","tarball_url":"https://api.github.com/repos/versioneye/jquery/tarball/2.1.0-rc1","commit":{"sha":"dea4e5fc6c47a27865de65ec6feef3429dbf13b9","url":"https://api.github.com/repos/versioneye/jquery/commits/dea4e5fc6c47a27865de65ec6feef3429dbf13b9"}},{"name":"2.1.0-beta3","zipball_url":"https://api.github.com/repos/versioneye/jquery/zipball/2.1.0-beta3","tarball_url":"https://api.github.com/repos/versioneye/jquery/tarball/2.1.0-beta3","commit":{"sha":"dfb03b41baa583ec79bd28c110278ce0268b4704","url":"https://api.github.com/repos/versioneye/jquery/commits/dfb03b41baa583ec79bd28c110278ce0268b4704"}[...]
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 8db49bc64f46ec9d73a4570903a24bf997b32a7e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4948'
      X-Ratelimit-Reset:
      - '1391615089'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"resources":{"core":{"limit":5000,"remaining":4948,"reset":1391615089},"search":{"limit":30,"remaining":30,"reset":1391614044}},"rate":{"limit":5000,"remaining":4948,"reset":1391615089}}'
  recorded_at: Wed, 05 Feb 2014 15:26:24 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 8db49bc64f46ec9d73a4570903a24bf997b32a7e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1399989041'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"resources":{"core":{"limit":5000,"remaining":4996,"reset":1399989041},"search":{"limit":30,"remaining":30,"reset":1399985760}},"rate":{"limit":5000,"remaining":4996,"reset":1399989041}}'
  recorded_at: Tue, 13 May 2014 12:55:00 GMT
recorded_with: VCR 2.9.0
