
<div style="padding-bottom: 20px;">
  <b>The file upload can take a couple of seconds. Please be patient.</b>
  <br/>
  Supported files are <b>pom.xml</b>, <b>dependency.gradle</b>
  <b>Gemfile</b>, <b>Gemfile.lock</b>,
  <b>requirements.txt</b>, <b>setup.py</b>,
  <b>package.json</b>, <b>composer.json</b>, <b>composer.lock</b> and <b>project.clj</b>
</div>

<%= form_for [:user, @project], :html => {:multipart => true, :accept => "text/xml" } do |f|  %>
<div class="tabbable">
  <ul class="nav nav-tabs" style="margin: 0px;">
    <li class="active">
      <a href="#tab1" data-toggle="tab">
        From Disk
      </a>
    </li>
    <li>
      <a href="#tab2" data-toggle="tab">
        From URL
      </a>
    </li>
  </ul>
  <!-- tab content -->
  <div class="tab-content" style="min-height:30px; padding: 10px;">
    <div class="tab-pane active" id="tab1">
      <div class = "fileupload fileupload-new" data-provides="fileupload">
        <span class = "btn btn-file">
          <span class = "fileupload-new"> Select project file </span>
          <span class = "fileupload-exists"> Change file </span>
          <%= file_field 'upload', 'datafile', :class => "" %>
        </span>
        <span class = "fileupload-preview"></span>
        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <%= f.text_field :url, :class => "round", :style => "width: 430px;", :placeholder =>"Paste your url here" %>
    </div>
  </div>
</div>
<div class="pull-left" style="padding-top: 10px;">
  <button type="submit" class="btn2 btn2-big ">Create</button>
</div>

<% end %>
