
<div style="padding-bottom: 20px;">
  <b>Creating a new project can take a couple of seconds. Please be patient.</b>
  <br/><br/>
  Supported files are pom.xml, dependency.gradle,
  Gemfile, Gemfile.lock,
  requirements.txt, setup.py,
  package.json, composer.json, composer.lock, Podfile, Podfile.lock and project.clj
</div>

<%= form_for [:user, @project], :html => {:multipart => true, :accept => "text/xml" } do |f|  %>
<div class="tabbable">
  <ul class="nav nav-tabs" style="margin: 0px;">
    <li class="active">
      <a href="#tab2" data-toggle="tab">
        Create from URL
      </a>
    </li>
    <li class="">
      <a href="#tab1" data-toggle="tab">
        Upload from Disk
      </a>
    </li>
  </ul>
  <!-- tab content -->
  <div class="tab-content" style="min-height:30px; padding: 10px;">
    <div class="tab-pane active" id="tab2">
      <%= f.text_field :url, :class => "round", :style => "width: 430px;", :placeholder =>"Paste your URL here" %>
    </div>
    <div class="tab-pane" id="tab1">
      <div class = "fileupload fileupload-new" data-provides="fileupload">
        <span class = "btn btn-file">
          <span class = "fileupload-new"> Select project file </span>
          <span class = "fileupload-exists"> Change file </span>
          <%= file_field 'upload', 'datafile', :class => "" %>
        </span>
        <span class = "fileupload-preview"></span>
        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
      </div>
    </div>
  </div>
</div>
<div class="pull-left" style="padding-top: 10px;">
  <button type="submit" class="btn btn-primary btn-large ">Create</button>
</div>

<% end %>
