
<div style="padding-bottom: 20px;">
  <b>Creating a new project can take a couple of seconds. Please be patient.</b>
  <br/><br/>
  Supported files are pom.xml, *.gradle, build.sbt,
  Gemfile, Gemfile.lock,
  requirements.txt, setup.py, biicode.conf, Berksfile.lock, metadata.rb,
  project.json, *.nuspec, packages.config, *.csproj, Cargo.toml, Cargo.lock,
  package.json, composer.json, composer.lock, bower.json, Podfile, Podfile.lock and project.clj
</div>

<%= form_for [:user, @project], :html => {:multipart => true, :accept => "text/xml" } do |f|  %>
  <div >
    <%= f.text_field :url, :class => "round form-control", :placeholder =>"Paste your URL here" %>
  </div>
  <div class="pull-left" style="padding-top: 10px;">
    <button type="submit" class="btn btn-primary btn-large ">Create</button>
  </div>
<% end %>
