
<div style="padding-bottom: 20px;">
  <b>Creating a new project can take a couple of seconds. Please be patient.</b>
  <br/><br/>
  Supported files are pom.xml, dependency.gradle,
  Gemfile, Gemfile.lock,
  requirements.txt, setup.py,
  package.json, composer.json, composer.lock, Podfile, Podfile.lock and project.clj
</div>

<%= form_for [:user, @project], :html => {:multipart => true, :accept => "text/xml" } do |f|  %>
<div class="tabbable">

<div >
  <div class = "fileupload fileupload-new" data-provides="fileupload">
    <span class = "btn btn-file">
      <span class = "fileupload-new"> Select project file </span>
      <span class = "fileupload-exists"> Change file </span>
      <%= file_field 'upload', 'datafile', :class => "" %>
    </span>
    <span class = "fileupload-preview"></span>
    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
  </div>
</div>

<div class="pull-left" style="padding-top: 10px;">
  <button type="submit" class="btn btn-primary btn-large ">Create</button>
</div>

<% end %>
