<tr class="flash info">
  <td>

  </td>
  <td>
    <span >
      <span ><%= product.name %></span>
    </span>
  </td>
  <td>
    <span ><%= dep.version_requested %></span>
  </td>
  <td>
    UNKNOWN
  </td>
</tr>

