<tr class="flash warn">
  <td>

  </td>
  <td>
    <span >
      <a class="#a dep_link" href="<%= product_url(product) %>" >
        <span ><%= product.name %></span>
      </a>
    </span>
  </td>
  <td>
    <span ><%= dep.version_requested %></span>
  </td>
  <td>
    <%= dep.version_current %>
  </td>
</tr>
