<tr class="flash info">
  <td>

  </td>
  <td>
    UNKNOWN
  </td>
  <td>
    <span ><%= dep.version_requested %></span>
  </td>
  <td>
    <span >
      <span ><%= product.name %></span>
    </span>
  </td>

  <% if follow_link.eql?("true") %>
    <td>

    </td>
  <% end %>

</tr>

