<tr class="flash info">
  <td>
    
  </td>
  <td>
    <span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
      <span itemprop="name" ><%= product.name %></span>
    </span>
  </td>
  <td>
    <span itemprop="softwareVersion"><%= dep.comperator_lbl %> <%= dep.version_lbl %></span>
  </td>
  <td>
    UNKNOWN
  </td>
</tr>

