<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hey,</p>
    <p>
      Your submitted URL <i><%= @submitted_url.url %></i> was approved. <br/>
      We integrated it into our crawler framework. You will get a notification as soon 
      we crawled the resource the first time. 
    </p>
    <p>
      We keep you informed. <br/>
      Have a great day!
    </p>
    <p>
      Your VersionEye Team<br/>
      <a href="http://www.versioneye.com">http://www.versioneye.com</a>
    </p>
  </body>
</html>