<p>
  Hey <%= "#{@user.fullname}!" unless @user.nil?  %>,
</p>
<p>
  Your submitted URL <i><%= @submitted_url.url %></i> is declined. <br/>
</p>
<p>
  Reason: <br />
  <%= @submitted_url.declined_message %>
</p>
<p>
  Your VersionEye Team<br/>
  <a href="http://www.versioneye.com?utm_medium=email&amp;utm_source=declined_submission">http://www.versioneye.com</a>
</p>
