<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p>Hey <%= "#{@user.fullname}!" unless @user.nil?  %>, </p>
    <p>
      Your submitted URL <i><%= @submitted_url.url %></i> is declined. <br/>
    </p>
    <p>
      Reason: <br />
      <%= @submitted_url.declined_message %>
    </p>
    <p>
      Your VersionEye Team<br/>
      <a href="http://www.versioneye.com">http://www.versioneye.com</a>
    </p>
  </body>
</html>
