<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p>Hey <%= ", #{@user.fullname}!" unless @user.nil? %> </p>
    <p>
      Your submitted URL <i><%= @submitted_url %></i> is now successfully integrated to our page. <br/>
    </p>
    <p>
      You can find more information on the package page:
      <%= link_to @product.name, "http://www.versioneye.com/package/#{@product.to_param}" %>
    </p>
    <p>
      Best regards, <br/>
      Your VersionEye Team<br/>
      <a href="http://www.versioneye.com">http://www.versioneye.com</a>
    </p>
  </body>
</html>
