<% title "Ruby" %>

<section class = "">
  <div class = "row">
    <div class = "span5">
      <%= render "languages/helpers/top" %>
    </div>
    <div class = "span5 offset1">
      <%= render "languages/helpers/latest" %>
    </div>
  </div>

  <div class = "row">
    <%=  render "languages/helpers/followers" %> 
  </div>

  <div class = "row">
    <%= render "languages/helpers/vulnerabilities" %>
  </div>
</section>
