<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @user.fullname %></p>
    <p>
      There are new releases out there. 
    </p>
    <p>
      <table>       
        <% @notifications.each do |notification| %>
          <tr>
            <td>
              <% product = Product.find_by_id( notification.product_id ) %>
              <% version = product.version_by_number( notification.version_id ) %>
              <img src= "http://www.versioneye.com/assets/language/<%= product.language.downcase %>.png" style = "width: 48px; height: 48px;"/>
            </td>
            <td style = "vertical-align: middle;">
              <% product_url = "#{@link}#{product.to_param}" %>
              <% product_url += "/version/#{version.to_param}" unless version.nil? %>
              <% product_title = "#{product.name}".strip %>
              <% product_title += " (#{version.version})" unless version.nil? %>
              
              <a href="<%= product_url %>"><%= product_title %></a>
              
              <% notification.sent_email = true %>
              <% notification.save %>
            </td>
          </tr>
        <% end %>
      </table>
    </p>
    <p>
      We keep you informed. <br/>
      Have a great day!
    </p>
    <p>
      Your VersionEye Team<br/>
      <a href="http://www.versioneye.com">http://www.versioneye.com</a>
    </p>
  </body>
</html>
