<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hello Robert</p>
		<p>
			Today we send out <%= @count %> notification E-Mails. 
		</p>
		<p>
			We keep you informed. <br/>
			Have a great day!
		</p>
		<p>
			Your VersionEye Team<br/>
			<a href="https://www.versioneye.com">https://www.versioneye.com</a>
		</p>
	</body>
</html>