<p>Hey Admin Dude</p>
<p>
  Today we send out <%= @count %> notification E-Mails.
</p>
<p>
  We keep you informed. <br/>
  Have a great day!
</p>
<p>
  Your VersionEye Team<br/>
  <a href="http://www.versioneye.com">http://www.versioneye.com</a>
</p>
