<div class="span1" >
  
  <br/>
  <br/>
  
</div>  

<div class="span10" >
  
  <div >
    <div>
      <h1>Errors</h1>
    </div>  
    <div class="searchResults">
      <% if !@errors.nil? %>
        <% @errors.each do |error| %>
          <div class="search-item">
            <div style="font-weight: bold;">
              <%= error.subject %>
            </div>
            <div>
              <%= error.errormessage %>
            </div>
            <div>
              <%= error.created_at.strftime("%b %d, %Y - %I:%m %p") %>
            </div>
          </div>        
        <% end %>
      <% end %>
    </div>
  </div>

</div>
