	
	<div class="boxHeader" >
		Knows
	</div>
	<div >
		<% @languages.each do |language| %>
			<%= render :partial => "/products/language_icons", :locals => {:language => language, :icon => nil, :link=>nil, :title=>language} %>
		<% end %>
	</div>