<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
<div class="sidebar" >
	
	<%= render "users/navi" %>
		
</div>	
<div class="content">
		
	<% if !@comments.nil? %>	
		<div class="profile-head">
			<h2 ><%= pluralize(@count, "Comment") %> </h2>
		</div>
		<% if !@comments.empty? %>
			<%= render :partial => "shared/comments", :locals => { :comments => @comments, :show_gravatar => false } %> 
		<% end %>
		<div style="margin-top: 20px;">
			<%= will_paginate @comments %>
		</div>
	<% end %>
	
</div>