<div class="boxHeader">
	User Account created successful
</div>
<div class="boxContainer">
	VersionEye will send you an E-Mail with an verification link. Please click the verification link in the E-Mail to validate your E-Mail address. We will activate your Account as soon as your E-Mail address is validated. 
</div>