<% title 'I forgot my password' %>

<% if flash[:success].nil? %>

  <div class="row">
    <%= form_tag('/resetpassword', :method => 'post', :class => 'form-horizontal') do  %>

      <div class="form-group">
        <div class="controls">
          Please type in your email address.<br/>
          We will send you an email with a new password.<br/>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :email, "E-Mail", :class => "control-label", :for => "email" %>
        <div class="controls">
          <%= text_field_tag :email, "", :id => "email", :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label"></div>
        <div class="controls">
          <button type="submit" class="btn btn-large btn-primary" >Reset</button>
        </div>
      </div>

    <% end %>
  </div>

<% else %>

  <a href="/">Back to Homepage</a>

<% end %>
