<% title 'I forgot my password' %>

<% if flash[:success].nil? %>

	<div class="row">
		<%= form_tag('/resetpassword', :method => 'post', :class => 'form-horizontal') do  %>

			<div class="control-group">
	      <div class="controls">
	        Please type in your email address.<br/>
					We will send you an email with a new password.<br/>
	      </div>
	    </div>

			<div class="control-group">
	        <%= label_tag :email, "E-Mail", :class => "control-label", :for => "email" %>
	      <div class="controls">
	        <%= text_field_tag :email, "", :id => "email" %>
	      </div>
	    </div>

			<div class="control-group">
	      <div class="control-label"></div>
	      <div class="controls">
	        <button type="submit" class="btn btn-large btn-primary" >Reset</button>
	      </div>
	    </div>

		<% end %>
	</div>

<% else %>

	<a href="/">Back to Homepage</a>

<% end %>
