<p>
	VersionEye is a cross-platform search engine and crowdsourcing app for open source software libraries. Take advantage of the extended search to find any library you look for. Leave comments and add additional meta information to the libraries to improve the quality of the data. Contribute to this crowdsourcing project to make the world a better place for software developers.
</p>
<p>
	VersionEye allows you to follow software libraries and talk shop with other developers.
	Follow any of the 220K+ <b>Java</b>, <b>Ruby</b>, <b>Python</b>, <b>Node.JS</b>, <b>PHP</b>, <b>JavaScript</b>, <b>R</b> and <b>Clojure</b>
	libraries that VersionEye watches, and you’ll receive notifications as
	soon as the next version of the libraries you're following become available.
</p>
