<p>
	
</p>
<p>
	VersionEye is the Twitter and Yelp of the software developer community. VersionEye allows you to follow software libraries and talk shop with other developers.
	Follow any of the 125K+ <b>Java</b>, <b>Ruby</b>, <b>Python</b>, <b>Node.JS</b> and <b>R</b> 
	libraries that VersionEye watches, and you’ll receive notifications as 
	soon as the next versions of the libraries you're following become available.
</p>
<p>
	Members can also rate and comment on libraries, and share ideas with other users 
	on the latest software developments. Our real-time version alerts and user 
	community can help you make informed decisions as both a software consumer and developer.
</p>
<p>
	Stay up-to-date anywhere and everywhere by using our website at home and our smartphone 
	app on the go.
</p>