<p>
	VersionEye is a cross-platform search engine for open source software libraries. Currently
  we track more than 325K open source libraries from <b>Java</b>, <b>Ruby</b>, <b>Python</b>,
  <b>Node.JS</b>, <b>PHP</b>, <b>JavaScript</b>, <b>Objective-C</b>, <b>R</b> and <b>Clojure</b>. Soon we will
  add .NET, Perl and other languages.
</p>
<p>
  You can follow any of the 325K open source libraries on VersionEye and we will notify you
  as soon the next version is released. VersionEye helps you to stay up-to-date.
</p>
<p>
  In additional to the search and follow feature, VersionEye can actively monitor your
  source code and notify you about outdated dependencies in your project. Beside that it
  shows you which licenses your dependencies are using.
</p>
