<p>
	VersionEye is a software update tracker and online community for developers. 
	Our service allows you to customize your own software news by following your 
	favorite products and modules. Follow any of the 43,000+ Maven2-enabled Java 
	libraries that VersionEye watches, and you’ll receive notifications as 
	updated versions of your list become available.
</p>
<p>
	Members can also rate and comment on products, and share ideas with other users 
	on the latest software developments. Our real-time version alerts and user 
	community can help you make informed decisions as both a software consumer and developer.
</p>
<p>
	Stay up-to-date anywhere and everywhere by using our website at home and our smartphone 
	app on the go.
</p>