<button onclick="page_view('ga_connect_with_bitbucket'); document.location.href='<%= auth_bitbucket_connect_url %>';"
  class="btn btn-bitbucket btn-large btn-signin" style="width: 270px !important;">
  <i class = "icon-github"></i> | Connect with Bitbucket
</button>
