<div id="dialog_video" class = "modal hide fade dialog_video">

  <div class = "modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Video</h3>
  </div>

  <div class = "modal-body">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/z-rp2TT4aXQ"  allowfullscreen></iframe>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-large" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>

</div>
