<div id="dialog_follow" title="Follow" style="display: none">			
	<div class="dialog_description">
		<p>
			<%= link_to "Sign Up", signup_path %> or <%= link_to "Sign In", signin_path %> 
			and Follow <span id="product_to_follow"></span> to get notified about new versions.
		</p>
		<p>
			<%= render 'shared/login_options_vertical' %>
		</p>
	</div>
</div>