<div class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Enterprise</h2>
            <p class="lead">
            You can run the VersionEye software as on premise installation on your own server(s)
            in your own datacenter. That way you can connect it to your LDAP or Active Directory,
            configure it with your own SMTP or Exchange server and integrate it with your development
            infrastructure like binary repositories, git repositories and build systems.
            More information to that is on our <a href="/enterprise">Enterprise page</a>.
            </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6" style="padding-top: 50px; text-align: center;" >
            <%= link_to image_tag("marketing/01-veye-global-settings.png", :style => "width: 100%;"), asset_path("marketing/01-veye-global-settings.png") %>
        </div>
    </div>
</div>
