
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-6" style="padding-top: 50px; text-align: center;" >
            <%= link_to image_tag("marketing/01-veye-licenses.png", :style => "width: 100%;"), asset_path("marketing/01-veye-licenses.png") %>
        </div>
        <div class="col-lg-5 col-sm-6 col-lg-offset-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">License Notifications</h2>
            <p class="lead">
              Nowadays software projects are based on many open source
components! Some of the components are published under a
<a href="http://en.wikipedia.org/wiki/Permissive_free_software_licence">permissive</a>
and others under a
<a href="http://en.wikipedia.org/wiki/Copyleft">copyleft</a> license.
If you develop closed source software you should avoid copyleft licenses like GPL!
<b>Otherwise you have to open source your project as well!</b>
VersionEye can check all your open source dependencies against a
<a href="http://blog.versioneye.com/2014/09/15/license-whitelist/">license whitelist</a>
and notify you about violations! This checks can happen in real time and your software team
can react immediately! Depending on your software development process we can even
break your build on the CI server if there is a license violation.
            </p>
        </div>
    </div>
</div>
