
<div style="text-align: center;">
  <h2 >What is VersionEye doing for me?</h2>
</div>

<div class="row">
  <div class="cell2 pull-left well-white two_col_box">
    <h3>Version Notifications</h3>
    <p> 
      <%= image_tag "marketing/version_screen.png", :style => "width: 410px;" %>
    </p> 
    <p>
      VersionEye notifies you about outdated dependencies in your 
      software projects. Nowadays software projects are based on many
      open source and self developed components. Checking manually 
      for updates for these components is a very time consuming task and not fun at all! 
      VersionEye notifies software developers via email about outdated 
      dependencies in their projects. That way they can save a lot of 
      time and focus on development.<br/>
      <br/>
    </p>
    <p style="text-align: center; padding-top: 39px;"> 
      <%= image_tag "marketing/chart-out-dated-ratio-1.png " %> 
    </p>
  </div>
  <div class="cell2 pull-right well-white two_col_box">
    <h3>License Notifications</h3>
    <p>
      <%= image_tag "marketing/license_screen.png", :style => "width: 410px;" %>
    </p>
    <p>
      Nowadays software projects are based on up to 100 open source 
      components or even more! Some of the components are published under a 
      <a href="http://en.wikipedia.org/wiki/Permissive_free_software_licence">permissive</a>
      and others under a 
      <a href="http://en.wikipedia.org/wiki/Copyleft">copyleft</a> license. 
      If you develop closed source software you should avoid some licenses! 
      VersionEye can check all your open source components against a 
      <a href="http://blog.versioneye.com/2014/09/15/license-whitelist/">license whitelist</a> 
      and notify you about violations! Depending on your software development process 
      this checks can happen in real time and your software team can react immediately! 
    </p>
    <p style="text-align: center"> 
      <%= image_tag "marketing/chart-license-ratio-1.png", :style => "width: 280px;" %> 
    </p>
  </div>
</div>
