<div class="container">
<div class="row">
    <div class="col-lg-12">
        <h2>How does it work?</h2>

        <p class="lead">
            The idea behind VersionEye is that it monitors your package managers project files.
            Project files like Gemfile, package.json, composer.json, pom.xml, Podfile and many others.
            That way VersionEye knows which open source dependencies you are using and based on that
            it can send you notifications to <b>security vulnerabilities</b>, <b>license violations</b> and <b>outdated versions</b>
            which matters to you.
        </p>
<% if 1 == 2 %>
        <p class="lead">
            Currently these package managers are supported: <a href="https://getcomposer.org/">Composer</a> (PHP)
            , <a href="https://bundler.io/">Bundler</a> (Ruby)
            , <a href="https://pypi.python.org/pypi/pip/">PIP</a> (Python)
            , <a href="https://www.npmjs.org/">NPM</a> (Node.JS)
            , <a href="https://yarnpkg.com/en/">Yarn</a> (Node.JS)
            , <a href="http://bower.io/">Bower</a> (JavaScript)
            , <a href="http://cocoapods.org/">CocoaPods</a> (Objective-C)
            , <a href="http://maven.apache.org/">Maven</a> (Java)
            , <a href="http://www.scala-sbt.org/">SBT</a> (Scala)
            , <a href="https://gradle.org">Gradle</a> (Groovy)
            , <a href="http://leiningen.org/">Leiningen</a> (Clojure)
            , <a href="https://www.nuget.org/">Nuget</a> (Microsoft .NET platform)
            , <a href="https://crates.io/">Cargo</a> (Rust)
            , <a href="https://www.biicode.com/">Biicode</a> (C/C++)
            , <a href="http://berkshelf.com/">Berkshelf</a> (Chef)
            , <a href="https://hex.pm/">Hex</a> (Elixir)
            and <a href="https://www.cpan.org">Cpan</a> (Perl).
        </ul>

        <p class="lead" style="padding-top: 10px;">
            The majority of our community is using VersionEye to monitor their project files (Gemfile, package.json, composer.json, pom.xml, Podfile ...) directly on GitHub or Bitbucket. If your code is not on GitHub or Bitbucket,
            simply use the native VersionEye plugin for your build tool:
        </p>

        <ul style="font-weight: normal; font-size: 1.3em;">
            <li><a href="https://github.com/versioneye/versioneye_maven_plugin">VersionEye Maven Plugin</a></li>
            <li><a href="https://github.com/versioneye/versioneye_sbt_plugin">VersionEye SBT Plugin</a></li>
            <li><a href="https://github.com/stempler/gradle-versioneye-plugin">VersionEye Gradle Plugin</a></li>
            <li><a href="https://github.com/ethauvin/kobalt-versioneye">VersionEye Kobalt Plugin</a></li>
            <li><a href="https://www.npmjs.com/package/versioneye-update">VersionEye command line tool (based on Node.JS)</a></li>
            <li><a href="https://github.com/versioneye/veye">VersionEye command line tool (based on Ruby)</a></li>
            <li><a href="http://digitalkaoz.net/versioneye-php/">VersionEye command line tool (based on PHP)</a></li>
        </ul>

        <p class="lead" style="padding-top: 10px;">
            or use the VersionEye API directly.
            For a one time scan you can simply upload your project file in the login area.
        </p>
<% end %>
    </div>
</div>
</div>
