<div class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Pullrequests Integration</h2>
            <p class="lead">
            VersionEye has a very good integration for GitHub.
            If you are using the VersionEye GitHub integration, VersionEye will check
            all dependencies in a pullrequest for potential risks like known security vulnerabilities,
            unknown licenses and violations of your license whitelist. That way you get notified
            about potential risks even before you merge a pullrequest.
            This integration works with GitHub Enterprise as well!<br/>
            Read more about this feature on our <a href="https://blog.versioneye.com/2016/08/16/pull-request-support-for-github/">blog</a>.
            </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6" style="padding-top: 50px; text-align: center;" >
            <%= link_to image_tag("marketing/01-veye-pullrequests.png", :style => "width: 100%;"), asset_path("marketing/01-veye-pullrequests.png") %>
        </div>
    </div>
</div>
