
<div class="container">

    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Security Notifications</h2>
            <p class="lead">
                Nowadays software projects are based on up to 100 open source 
components or even more! How do you know that you are using a dependency which has 
a security vulnerability? You don't! VersionEye is checking multiple security databases 
every day and knows which components are vulnerable. VersionEye can monitor your project and send you security 
notifications if one of your dependencies has a known security vulnerability. <br/>
This feature currently only works for PHP. 
            </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6" style="text-align: center; vertical-aligne: middle; padding-top: 100px;">
            <span class="fa fa-shield" style="font-size: 180px;"></span>
        </div>
    </div>

</div>
