<div class="container">

    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Organisations &amp; Teams</h2>
            <p class="lead">
                In VersionEye projects are grouped inside of an organisation entity.
                Each organisation entity can have multiple teams and each project can be
                assigned to multple teams. The email notifications can be configured
                on the team level. Each team can decide to which aspect of the project
                they want to receive email notifications and on which day of the week.
                This model offers a lot of flexibility and is a really good fit for
                big organisations with many teams and many projects.<br/>
                Read more about this featur on our <a href="https://blog.versioneye.com/2016/12/05/new-team-notifications/">blog</a>.
            </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6" style="padding-top: 50px; text-align: center;" >
            <%= link_to image_tag("marketing/01-veye-teams.png", :style => "width: 100%;"), asset_path("marketing/01-veye-teams.png") %>
        </div>
    </div>

</div>
