<div class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Open Source</h2>
            <p class="lead">
            VersionEye itself is open source as well!
            Everything you see here is open source. The source code is on <a href="https://github.com/versioneye">GitHub</a>
            and everytime we do a deployment, new Docker images are build and published to <a href="https://hub.docker.com/u/versioneye/">Docker Hub</a>.
            </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6" style="padding-top: 50px; text-align: center;" >
            <%= link_to image_tag("marketing/01-veye-opensource.png", :style => "width: 100%;"), asset_path("marketing/01-veye-opensource.png") %>
        </div>
    </div>
</div>
