<div class="container">
<div class="row">
    <div class="col-lg-12">
        <h2>Package Managers</h2>

        <p class="lead">
            VersionEye is based on package managers. The idea behind VersionEye is that it can monitor your package managers project file(s) on GitHub/Bitbucket. That way VersionEye knows which open source dependencies you are using and based on that it can send you notifications to new versions, license violations and security vulnerabilities.
        </p>
        <p class="lead">
            Currently these package managers are supported:
        </p>
        <ul style="font-weight: normal; font-size: 1.3em;">
            <li><a href="https://getcomposer.org/">Composer</a> (PHP)</li>
            <li><a href="https://bundler.io/">Bundler</a> (Ruby)</li>
            <li><a href="https://pypi.python.org/pypi/pip/">PIP</a> (Python)</li>
            <li><a href="https://www.npmjs.org/">NPM</a> (Node.JS)</li>
            <li><a href="http://bower.io/">Bower</a> (JavaScript)</li>
            <li><a href="http://cocoapods.org/">CocoaPods</a> (Objective-C)</li>
            <li><a href="http://maven.apache.org/">Maven</a> (Java). Try the <a href="https://github.com/versioneye/versioneye_maven_plugin">plugin</a>.</li>
            <li><a href="http://www.scala-sbt.org/">SBT</a> (Scala). Try the <a href="https://github.com/versioneye/versioneye_sbt_plugin">plugin</a>.</li>
            <li><a href="http://www.gradleware.com/">Gradle</a> (Groovy). Try the <a href="https://github.com/stempler/gradle-versioneye-plugin">plugin</a>.</li>
            <li><a href="http://leiningen.org/">Leiningen</a> (Clojure)</li>
            <li><a href="https://www.biicode.com/">Biicode</a> (C/C++)</li>
        </ul>

    </div>
</div>
</div>
