<div class="feedback">
	<div>
		<input type="submit" 
			   value="" 
			   class="feedbackButton" 
			   onclick="load_dialog_feedback();"
			   title="Feedback" 
			   alt="Feedback" 
			   id="feedback_img" />
	</div>
</div>