<div class="modal hide fade" id="dialog_follow" tabindex="100" role="dialog" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Follow</h3>
  </div>
  <div class="modal-body">

    <div>
      Follow
      <span id="product_to_follow" style="font-weight: bold; font-size: 20px;"></span>
      to get notified about new versions.
    </div>

    <div style="padding: 20px 0;">
      <button onclick="document.location.href='https://github.com/login/oauth/authorize?client_id=50fb47103b8a3f03b2cd'" class="btn btn-github btn-large btn-signin"><i class="icon-github"></i> | Login with GitHub
      </button>
    </div>

    <div>
      Or <a href="/signup">sign up</a> with your <a href="/signup">email address</a>.
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
