<div id="github_ad" class="box" style="text-align: left; padding-top: 30px; padding-right: 20px; position: relative;">
  <span class="icon_gitcat off marketing-icon"></span>
  <h5>GitHub integration</h5>
  <p style="font-size: 14px;">
    Get notified about outdated dependencies
    in your project.
  </p>
  <a href='<%= Settings.instance.github_base_url %>/login/oauth/authorize?client_id=50fb47103b8a3f03b2cd' style="margin-right: 5px;" >
    <span class="btn btn-large btn-primary">Login with GitHub</span>
  </a>
</div>
