<div class="div-row">
  <div class="div-cell ">
    <h2 class="lp_head">
      Newest Versions
    </h2>
    <div style="padding-top: 10px; padding-bottom: 10px" >
      Check out the latest versions.
    </div>
  </div>
  <div class="div-cell " style="width: 20px"></div>
  <div class="div-cell ">
    <h2 class="lp_head">
      Hottest Libraries
    </h2>
    <div style="padding-top: 10px; padding-bottom: 10px">
      Check out the most followed software libraries.
    </div>
  </div>
</div>

<div class="div-row">

  <div class="div-cell lp_half_box" style="margin-right: 5px; vertical-align: top;" >
    <div class="searchResults" id="newest" style="padding: 10px; vertical-align: top;" >
      <% if @newest %>
        <%= render :partial => "products/show_search_results_iterator", :locals => { :products => @newest, :prefix => "newest", :name_limit => 33 } %>
      <% end %>
    </div>
  </div>

  <div class="div-cell " style="width: 10px"></div>

  <div class="div-cell lp_half_box" style="margin-left: 5px; vertical-align: top;">
    <div class="searchResults" id="hottest" style="padding: 10px;" >
      <% if @hotest %>
        <%= render :partial => "products/show_search_results_iterator", :locals => { :products => @hotest, :prefix => "hottest", :name_limit => 33 } %>
      <% end %>
    </div>
  </div>

</div>
