<div class="div-row">
	<div class="div-cell "></div>
	<div class="div-cell ">
		<h1 class="lp_head">
			Newest Versions
		</h1>
		<div style="padding-top: 10px; padding-bottom: 10px" >
			Check out the latest versions. 
		</div>
	</div>
	<div class="div-cell "></div>
	<div class="div-cell"></div>
	<div class="div-cell "></div>
	<div class="div-cell ">
		<h1 class="lp_head">
			Most Followed Libs.
		</h1>
		<div style="padding-top: 10px; padding-bottom: 10px">
			Check out the most followed libs.
		</div>
	</div>
	<div class="div-cell "></div>
</div>

<div class="div-row">
	<div class="div-cell lp_b1_left_top"></div>
	<div class="div-cell lp_b1_middle_top"></div>
	<div class="div-cell lp_b1_right_top"></div>
	<div class="div-cell"></div>
	<div class="div-cell lp_b1_left_top"></div>
	<div class="div-cell lp_b1_middle_top"></div>
	<div class="div-cell lp_b1_right_top"></div>
</div>
<div class="div-row">		
	<div class="div-cell lp_b1_left_middle"></div>
	<div class="div-cell lp_b1_middle_middle">
		<div id="newest" class="searchResults"  >
			<div id="loadingbar" style="text-align: center">
				<%= image_tag "loadingbar.gif" %>
			</div>
		</div>
	</div>
	<div class="div-cell lp_b1_right_middle"></div>
	<div class="div-cell"></div>
	<div class="div-cell lp_b1_left_middle"></div>
	<div class="div-cell lp_b1_middle_middle">
		<div style="padding: 10px;">
			comming soon !
		</div>		
	</div>
	<div class="div-cell lp_b1_right_middle"></div>
</div>
<div class="div-row">
	<div class="div-cell lp_b1_left_bottom"></div>
	<div class="div-cell lp_b1_middle_bottom"></div>
	<div class="div-cell lp_b1_right_bottom"></div>
	<div class="div-cell"></div>
	<div class="div-cell lp_b1_left_bottom"></div>
	<div class="div-cell lp_b1_middle_bottom"></div>
	<div class="div-cell lp_b1_right_bottom"></div>
</div>