<div class="div-row">
	<div class="div-cell ">
		<h1 class="lp_head">
			Newest Versions
		</h1>
		<div style="padding-top: 10px; padding-bottom: 10px" >
			Check out the latest versions. 
		</div>
	</div>
	<div class="div-cell " style="width: 20px"></div>
	<div class="div-cell ">
		<h1 class="lp_head">
			Most Followed Libs.
		</h1>
		<div style="padding-top: 10px; padding-bottom: 10px">
			Check out the most followed libs.
		</div>
	</div>
</div>

<div class="div-row">		

	<div class="div-cell lp_half_box" style="margin-right: 5px" >
		<div id="newest" class="searchResults"  >
			<div id="loadingbar" style="text-align: center">
				<%= image_tag "loadingbar.gif" %>
			</div>
		</div>
	</div>
	<div class="div-cell " style="width: 10px"></div>
	<div class="div-cell lp_half_box" style="margin-left: 5px;">
		<div style="padding: 10px;">
			comming soon !
		</div>		
	</div>
</div>
