<% if signed_in? && comment.versioncommentreplys.empty? %>
<ul class = "nav nav-pills pull-right">
	<li>
		<a id="<%= comment.id %>_reply_link" class = ""
			href="#" onclick="show_versioncomment_reply('<%= comment.id %>'); return false;">Reply</a>
	</li>
	<li>
		<a id="<%= comment.id %>_hide_link" href="#" class = ""
			onclick="hide_versioncomment_reply('<%= comment.id %>'); return false;" style="display: none;">Hide</a>
	</li>
</ul>
<% end %>