<% if signed_in? && comment.versioncommentreplys.empty? %>

		<a id="<%= comment.id %>_reply_link" class = ""
			href="#" onclick="show_versioncomment_reply('<%= comment.id %>'); return false;">Reply</a>

		<a id="<%= comment.id %>_hide_link" href="#" class = ""
			onclick="hide_versioncomment_reply('<%= comment.id %>'); return false;" style="display: none;">Hide</a>

<% end %>
