<% btn ||= "login" %>
<button onclick='var popupWindow = window.open(oauth_facebook_link, "popupWindow", "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, menubar=1, resizable=1, width="+winWidth+",height="+winHeigh+"top="+top+", left="+left);' class="btn btn-facebook btn-large btn-signin">
  <i class = "icon-facebook"></i>
  | Login with Facebook
</button>

