<button onclick="page_view('ga_login_with_stash'); document.location.href='<%= auth_stash_signin_url %>';"
  class="btn btn-stash btn-large btn-signin">
  <%= image_tag('stash-icon.png', :style => 'width: 15px;') %> | Login with Stash
</button>
