<% btn  ||= "login" %>
<button onclick="document.location.href='https://github.com/login/oauth/authorize?client_id=50fb47103b8a3f03b2cd'" class="btn btn-github btn-large btn-signin"><i class = "icon-github"></i> | Login with Github</button>
