
<ul class = "nav nav-list">
	<li class="" style="padding-right: 5px;">
		<%= render 'shared/login_with_twitter' %>
	</li>
	<li style="padding-right: 5px;">
		<%= render 'shared/login_with_github' %>
	</li>
	<li class="span2" style="padding-right: 5px;">
		<%= render 'shared/login_with_facebook' %>
	</li>
</ul>