<div style="height: 35px"><%= render 'shared/login_with_twitter' %></div>
<div style="height: 35px"><%= render 'shared/login_with_github' %></div>
<div style="height: 35px"><%= render 'shared/login_with_facebook' %></div>