<button onclick="page_view('ga_login_with_github'); document.location.href='<%= auth_bitbucket_signin_url %>';"
  class="btn btn-bitbucket btn-large btn-signin">
  <i class = "icon-github"></i> | Login with Bitbucket
</button>
