
<button onclick="ga('send', 'pageview', 'ga_login_with_twitter'); document.location.href='/auth/twitter/forward';" class="btn btn-twitter btn-large btn-signin">
  <i class = "icon-twitter"></i>
  | Login with Twitter
</button>
