<button onclick="page_view('ga_login_with_github'); document.location.href='<%= Settings.instance.github_base_url %>/login/oauth/authorize?client_id=<%=Settings.instance.github_client_id%>&amp;scope=user:email';" class="btn btn-github btn-large btn-signin btn-primary"><i class = "icon-github"></i> | Login with GitHub</button>
