<ul class="list-row" >
	<li class="list-cell" style="vertical-align:top">
		<%= render 'shared/login_with_twitter' %>
	</li>
	<li class="list-cell" style="vertical-align:top">
		<%= render 'shared/login_with_github' %>
	</li>
	<li class="list-cell" style="vertical-align:top">
		<%= render 'shared/login_with_facebook' %>		
	</li>
</ul> 