
<div class="row" >
	<div class="span2">
		<%= render 'shared/login_with_twitter' %>
	</div>
	<div class="span2">
		<%= render 'shared/login_with_github' %>
	</div>
	<div class="span2">
		<%= render 'shared/login_with_facebook' %>		
	</div>
</div> 