<ul class = "sml_list">
  <li class="sml_list_item" >
    <div >
      <%= render 'shared/login_with_github' %>
    </div>
  </li>
  <li class="sml_list_item" >
    <div>
      <%= render 'shared/login_with_twitter' %>
    </div>
  </li>
  <li class="sml_list_item">
    <div>
      <%= render 'shared/login_with_facebook' %>
    </div>
  </li>
</ul>
