<button onclick="page_view('ga_login_with_github'); document.location.href='https://github.com/login/oauth/authorize?client_id=<%=Settings.instance.github_client_id%>';" class="btn btn-github btn-large btn-signin"><i class = "icon-github"></i> | Login with GitHub</button>
