<!-- activation button -->
<div class = "socialbuttons">
  <a href="#newUrlModal" class =" btn btn-social btn-dark btn-rotated90" data-toggle="modal">
    Submit New URL
  </a>
</div>

<!-- modal --> 
<%= form_tag(submitted_urls_path, :id => "newUrlForm", :class => "form-horizontal") do %>
<div id = "newUrlModal" class = "modal hide fade" aria-hidden="true">
   <div class= "modal-header">
     <button type="button" class = "close" data-dismiss="modal" aria-hidden="true">x</button>
     <h5> Add new url </h5>
   </div>
   <div class="modal-body">
     <div>
      <p>
        <%= render "shared/submit_url_description" %>
      </p>
     </div>
     <%= render 'shared/new_url_fields' %>
   </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="newUrlSubmit" class="btn btn-primary" type = "submit">Submit</button>
  </div>
</div>
<%  end %>