<%= form_tag(submitted_urls_path, :id => "newUrlForm", :class => "form-horizontal") do %>

<%= render "shared/new_url_fields" %>
<div class= "control-group">
  <div class= "controls">
    <button type= "submit" class = "btn2 btn-large"> Submit</button>
  </div>
</div>
<% end %>
