<div class="div-row">
	<div class="div-cell lp_b1_left_top"></div>
	<div class="div-cell lp_b1_middle_top"></div>
	<div class="div-cell lp_b1_right_top"></div>
	<div class="div-cell"></div>
	<div class="div-cell lp_b1_left_top"></div>
	<div class="div-cell lp_b1_middle_top"></div>
	<div class="div-cell lp_b1_right_top"></div>
</div>
<div class="div-row">		
	<div class="div-cell lp_b1_left_middle"></div>
	<div class="div-cell lp_b1_middle_middle">
		<div class="div-row">
			<div class="div-cell">
				<div class="lp_phone_small">
					<%= image_tag "phone1_small.png" %>
				</div>
				<div class="lp_phone_store">
					<%= image_tag "stores_appstore.png" %>
				</div>	
			</div>
			<div class="div-cell lp_phone_content">
				<a name="smartphones" ></a>
				Download the <b>free</b> iPhone App and use the basic features of VersionEye on your phone.<br/>
				You can use the search function and manage your products. But the best feature is 
				that you get push notifications about new versions of your favorite products. <br/>
				<br/>
				This app is coming soon!
			</div>				
		</div>
	</div>
	<div class="div-cell lp_b1_right_middle"></div>
	<div class="div-cell"></div>
	<div class="div-cell lp_b1_left_middle"></div>
	<div class="div-cell lp_b1_middle_middle">
		<div class="div-cell">
			<div class="lp_phone_small">
				<%= image_tag "phone2_small.png" %>
			</div>
			<div class="lp_phone_store">
				<%= image_tag "stores_androidmarket.png" %>
			</div>
		</div>
		<div class="div-cell lp_phone_content">
			Download the <b>free</b> Android App and use the basic features of VersionEye on your phone.<br/>
			You can use the search function and manage your products. But the best feature is 
			that you get push notifications about new versions of your favorite products. <br/>
			<br/>
			This app is coming soon!
		</div>
	</div>
	<div class="div-cell lp_b1_right_middle"></div>
</div>
<div class="div-row">
	<div class="div-cell lp_b1_left_bottom"></div>
	<div class="div-cell lp_b1_middle_bottom"></div>
	<div class="div-cell lp_b1_right_bottom"></div>
	<div class="div-cell"></div>
	<div class="div-cell lp_b1_left_bottom"></div>
	<div class="div-cell lp_b1_middle_bottom"></div>
	<div class="div-cell lp_b1_right_bottom"></div>
</div>