<div class="plans" id="plans" >
<table class = "table table-hover">
	<% @plans = Plan.all() %>
	<% @plans.each do |plan| %>
	<tr>
		<td ><%= plan.name %></td>
		<td><%= plan.price %> $ / Month</td>
		<td><%= plan.private_projects %> Private Project</td>
		<% if !@plan.nil? %>
			<td>
				<% if @plan && @plan.name_id.eql?( plan.name_id ) %> 
					<button class="btn-success" onClick="alert('This is your current plan')" >Current</button>
				<% else %> 
					<form action="/settings/updateplan" method="POST" > 
						<input type="hidden" name="plan" value="<%= plan.name_id %>" />
						<button type="submit" class="btn2" onClick="return confirmAction()" >Book It</button>
					</form>
				<% end %>
			</td>
		<% end %>
	</tr>
	<% end %>
</table>
</div>