
	<li class="small-heart searchResult-inner-list-cell ">
		<%= image_tag("heart.png", :class => "small-heart-img", :id => "#{id}") %>
	</li>
	<li class="searchResult-inner-list-cell ">
		<label id="overall_likes"><%=product.like_overall%></label>
	</li>
