  <div class = "well transparent social_media_login_box" >
    <div class = "sml_header">
      <span class  = "icon_profile48 rounded"></span>
    </div>
    <h2> Got social media? </h2>
    <p>Sign up with your social media account below.</p>
    <div >
      <ul class="sml_list" >
        <li class="sml_list_item"><%= render "shared/login_with_twitter",  :btn => "signup" %></li>
        <li class="sml_list_item"><%= render "shared/login_with_github",   :btn => "signup" %></li>
        <li class="sml_list_item"><%= render "shared/login_with_facebook", :btn => "signup" %></li>
      </div>
    </div>
  </div>