<div class="socialbuttons">
	<div>
		<a href="http://versioneye.wordpress.com" 
		   onmouseover="document.getElementById('blog_img').src='/assets/blog_on.png';"
		   onmouseout="document.getElementById('blog_img').src='/assets/blog_off.png';"
		   target="new_tab_for_blog" >
			<%= image_tag("blog_off.png", :title => "VersionEye Blog", :alt => "VersionEye Blog", :id => "blog_img") %>
		</a>
	</div>
	<div>
		<a href="https://twitter.com/VersionEye" 
		   target="new_Twitter" 
		   onmouseover="document.getElementById('twitter_img').src='/assets/twitter_on.png';"
		   onmouseout="document.getElementById('twitter_img').src='/assets/twitter_off.png';" >
			<%= image_tag("twitter_off.png", :title => "VersionEye at Twitter", :alt => "VersionEye at Twitter", :id => "twitter_img") %>
		</a>
	</div>
	<div>
		<a href="https://www.facebook.com/pages/VersionEye/295350293845442" 
		   target="new_FB"
		   onmouseover="document.getElementById('facebook_img').src='/assets/facebook_on.png';"
		   onmouseout="document.getElementById('facebook_img').src='/assets/facebook_off.png';" >
			<%= image_tag("facebook_off.png", :title => "VersionEye at Facebook", :alt => "VersionEye at Facebook", :id => "facebook_img") %>
		</a>
	</div>
	<div>
		<a href="https://www.youtube.com/user/VersionEye/videos" 
		   target="new_YT"
		   onmouseover="document.getElementById('youtube_img').src='/assets/youtube_on.png';"
		   onmouseout="document.getElementById('youtube_img').src='/assets/youtube_off.png';">
			<%= image_tag("youtube_off.png", :title => "VersionEye at YouTube", :alt => "VersionEye at YouTube", :id => "youtube_img") %>
		</a>
	</div>
</div>