<div class="socialbuttons">
	<div>
		<a href="http://versioneye.wordpress.com" target="new_tab_for_blog" >
			<div class="blog_button" ></div>
		</a>
	</div>
	<div>
		<a href="https://twitter.com/VersionEye" target="new_Twitter" >
			<div class="twitter_button" ></div>
		</a>
	</div>
	<div>
		<a href="https://www.facebook.com/pages/VersionEye/295350293845442" target="new_FB" >
			<div class="facebook_button" ></div>
		</a>
	</div>
	<div>
		<a href="https://www.youtube.com/user/VersionEye/videos" target="new_YT" >
			<div class="youtube_button" ></div>
		</a>
	</div>
</div>