<% if !yield(:title).eql?('Sign Up') && !yield(:title).eql?('Sign in') %>
<div class="socialbuttons visible-desktop">
  <div>
    <a href="http://versioneye.wordpress.com" target="new_tab_for_blog" title="Blog" >
      <div class="btn-social btn-wordpress rounded" ></div>
    </a>
  </div>
  <div>
    <a href="https://twitter.com/VersionEye" target="new_Twitter" title="Twitter" >
      <div class="btn-social btn-twitter rounded" ></div>
    </a>
  </div>
  <div>
    <a href="https://www.facebook.com/VersionEye" target="new_FB" title="Facebook" >
      <div class="btn-social btn-facebook rounded" ></div>
    </a>
  </div>
  <div>
    <a href="https://plus.google.com/u/0/108971109832540479545/posts" target="new_GP" title="Google+" >
      <div class="btn-social btn-googleplus rounded" ></div>
    </a>
  </div>
  <div>
    <a href="http://pinterest.com/versioneye/pins/" target="new_Pinterest" title="Pinterest" >
      <div class="btn-social btn-pinterest rounded" ></div>
    </a>
  </div>
  <div>
    <a href="https://www.youtube.com/user/VersionEye/videos" title="YouTube" target="new_YT" >
      <div class="btn-social btn-youtube rounded" ></div>
    </a>
  </div>
  <div>
    <a href="https://bitbucket.org/versioneye/versioneye/issues" title="Feedback" id="love_icon" role="button" target="_TICKETS">
      <div class="btn-social btn-like rounded" ></div>
    </a>
  </div>
</div>

<% end %>
