<% title 'Congratulations' %>

<p>
	VersionEye will send you an email with a verification link.
	Please click on the verification link to validate your
	email address and your account will be activated immediately.
</p>
<br/>
<p>
	We've always got more updates and new features coming, so keep
	your eye on the VersionEye Blog: <a href="http://blog.versioneye.com/">http://blog.versioneye.com/</a>
	and follow <a href="https://twitter.com/VersionEye">@VersionEye</a> on Twitter for the latest.<br/>
	<br/>
	<span>
		<%= render "shared/follow_versioneye" %>
	</span>
</p>
<br/>
<p>
	You can also tweet about VersionEye, so that more people become aware of our service.<br/>
	<br/>
	<a href="https://twitter.com/share"
	   class="twitter-share-button"
	   data-url="http://www.versioneye.com"
	   data-text="I just signed up @VersionEye to keep track of my software libraries."
	   data-count="horizontal" >Twitter</a>
	   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>
<p>
	<br/>
	<br/>
	Thanks for using VersionEye!
</p>
<br/>
