<div class="boxHeader">
	Congratulation!
</div>
<div class="boxContainer">
	VersionEye will send you an E-Mail with an verification link. Please click the verification link in the E-Mail to validate your E-Mail address. We will activate your Account as soon as your E-Mail address is validated. 
</div>
<br/>
<div class="boxContainer">
	Follow us on Twitter to get notified about new Features. <br/>
	<br/>
	<span >
		<%= render "shared/follow_versioneye" %>
	</span>	
</div>
<br/>
<div class="boxContainer">
	Tweet about VersionEye and help us to get more users.<br/>
	<br/>
	<a href="https://twitter.com/share" 
	   class="twitter-share-button" 
	   data-url="http://www.versioneye.com" 
	   data-text="I just signed up @VersionEye to keep track of my software libraries." 
	   data-count="horizontal" >Twitter</a>
</div>