<% title 'Stash Repositories' %>

<div class="col-md-3" >
  <%= render '/user/helpers/navi' %>
</div>

<% if !current_user.stash_account_connected? %>

  <div class="col-md-9">
    <div class="row content_header_def" >
      Connect with Stash to monitor your Stash Repositories.
    </div>
    <div class="content " >
      <%= render 'shared/connect_with_bitbucket', :btn => "signup" %>
    </div>
  </div>

<% else %>

  <div class="col-md-9">
    <div class="content_header_def" >
      Your Stash Repositories
    </div>
    <div class="content" id="content"> . </div>
  </div>
  <script type="text/javascript">
    React.renderComponent(
      RepoList({url: "/user/stash_repos", scm: "stash", pollInterval: 3000}),
      document.getElementById('content')
    );
  </script>

<% end %>
