<div class="sidebar" >
	
	<%= render 'page/apijson_navi' %>
		
</div>
<div class="content">
<docu>	
	<a name="api"></a>
	<h1>JSON API</h1>
	<p class="docu">
		This document describes the JSON API for VersionEye. 
	</p>
	<p class="docu">
		An API is an "Application Programming Interface". 
		You can use the API to write mobile Apps for VersionEye. 
		The iPhone App and Android App we are working on is using 
		the same API. But you can also use it to write an Desktop 
		Application, Gadget or Widget. 
	</p>	
	

	<h2 class="docu_h2">Search</h2><a name="search"></a>
	<p class="docu">
		This is how you can use the search in your application. 
	</p>
	<pre class="code">https://www.versioneye.com/search.json?q=<<span>SEARCH TERM</span>></pre>
	<p class="docu">
		Here is an example. 
	</p>
	<pre class="code">https://www.versioneye.com/search.json?q=junit</pre>
	<p class="docu">
		The result is the same as in the web application. But you get it as JSON objects. The result is an array of product objects.
	</p>
	<p class="docu">
		The search term must contain at least 2 characters. Otherwise you get null back. 
		If there are no results you get an empty array [ ] back.
	</p>
	<p>
		Here is the description for the json product object. 
	</p>
	<p class="docu">
		<table style="width:570px;" class="docu_table">
			<tr>
				<th>ATTRIBUTE</th>
				<th>DESCRIPTION</th>
			</tr>
			<tr>
				<td style="width: 150px;">following</td>
				<td>true/false/null. If you are not logged in this is always null. 
					If you are logged in an you are already following this product this is true.
					Otherwise it is false.</td>
			</tr>
			<tr>
				<td>notification</td>
				<td>true/false/null. If you are not logged in this is always null. 
					If you are logged in AND you are already following this product AND 
					there is a new version or major change you didn't saw yet, this is true.
					Otherwise it is false.</td>
			</tr>
			<tr>
				<td>id</td>
				<td>The ID of the product</td>
			</tr>
			<tr>
				<td>version_uid</td>
				<td>The ID of the newest version of this product.</td>
			</tr>
			<tr>
				<td>name</td>
				<td>Name of the product.</td>
			</tr>
			<tr>
				<td>key</td>
				<td>Unique key of the product.</td>
			</tr>
			<tr>
				<td>group_id</td>
				<td>GroupID of the product. This is important for Maven2 products.</td>
			</tr>
			<tr>
				<td>artifact_id</td>
				<td>ArtifactID of the product. This is important for Maven2 products.</td>
			</tr>
			<tr>
				<td>link</td>
				<td>Major link to the product.</td>
			</tr>
			<tr>
				<td>version</td>
				<td>Newest version of the product</td>
			</tr>
			<tr>
				<td>version_link</td>
				<td>Major link to the newest version of the product</td>
			</tr>
			<tr>
				<td>prod_type</td>
				<td>The type of the Product. For example "Maven2"</td>
			</tr>
			<tr>
				<td>created_at</td>
				<td>The create date of this product at versioneye.com</td>
			</tr>
			<tr>
				<td>updated_at</td>
				<td>Last update date of this product at versioneye.com</td>
			</tr>
			<tr>
				<td>src</td>
				<td>A list of the sources there this product was crawled</td>
			</tr>
			<tr>
				<td>versions</td>
				<td>A list of all versions</td>
			</tr>
			<tr>
				<td>comments</td>
				<td>A list of all comments</td>
			</tr>
		</table>
	</p>
	<p>
		Here is the description for the json src object. 
	</p>
	<p class="docu">
		<table style="width:570px;" class="docu_table">
			<tr>
				<th>ATTRIBUTE</th>
				<th>DESCRIPTION</th>
			</tr>
			<tr>
				<td style="width: 150px;">src</td>
				<td>The source where this product was found</td>
			</tr>
			<tr>
				<td style="width: 150px;">repotype</td>
				<td>The type of the repository. For example Maven2.</td>
			</tr>
		</table>
	</p>
	<p>
		Here is the description for the json version object. 
	</p>
	<p class="docu">
		<table style="width:570px;" class="docu_table">
			<tr>
				<th>ATTRIBUTE</th>
				<th>DESCRIPTION</th>
			</tr>
			<tr>
				<td style="width: 150px;">version</td>
				<td>The version of the product</td>
			</tr>
			<tr>
				<td style="width: 150px;">uid</td>
				<td>Unified ID over the whole database</td>
			</tr>
			<tr>
				<td style="width: 150px;">link</td>
				<td>Link to this special version of the product.</td>
			</tr>
			<tr>
				<td style="width: 150px;">rate</td>
				<td>The average rage of this version. Number between 10 and 50.</td>
			</tr>
			<tr>
				<td>created_at</td>
				<td>The create date of this version at versioneye.com</td>
			</tr>
			<tr>
				<td>updated_at</td>
				<td>Last update date of this version at versioneye.com</td>
			</tr>
		</table>
	</p>
	<p>
		Here is the description for the json comment object. 
	</p>
	<p class="docu">
		<table style="width:570px;" class="docu_table">
			<tr>
				<th>ATTRIBUTE</th>
				<th>DESCRIPTION</th>
			</tr>
			<tr>
				<td style="width: 150px;">rate</td>
				<td>The average rage of this version. Number between 10 and 50.</td>
			</tr>
			<tr>
				<td style="width: 150px;">comment</td>
				<td>An user comment.</td>
			</tr>
			<tr>
				<td style="width: 150px;">from</td>
				<td>Name of the User</td>
			</tr>
			<tr>
				<td style="width: 150px;">prod_name</td>
				<td>Name of the Product</td>
			</tr>
			<tr>
				<td style="width: 150px;">prod_key</td>
				<td>Key of the Product</td>
			</tr>
			<tr>
				<td>created_at</td>
				<td>The create date of this version at versioneye.com</td>
			</tr>
			<tr>
				<td>updated_at</td>
				<td>Last update date of this version at versioneye.com</td>
			</tr>
		</table>
	</p>

	<h2 class="docu_h2">Product Details</h2><a name="productdetails"></a>
	<p class="docu">
		If you want to have details to a special product/version you can use this request here.
	</p>
	<pre class="code">https://www.versioneye.com/product/<<span>PROD_KEY</span>>/version/<<span>VERSION_ID</span>>.json</pre>
	<p class="docu">
		Here is an example for JUnit.
	</p>
	<pre class="code">https://www.versioneye.com/product/junit--junit/version/4~10.json</pre>
	<p class="docu">
		If there are some special characters in "PROD_KEY" or "VERSION_ID" you must 
		replace it to make it URL ready! Here is the table with the replacements.
	</p>
	<p class="docu">
		<table style="width:400px;" class="docu_table">
			<tr>
				<th>PROD_KEY VALUE</th>
				<th>URL VALUE</th>
			</tr>
			<tr>
				<td style="width: 150px;">/</td>
				<td>--</td>
			</tr>
			<tr>
				<td>.</td>
				<td>~</td>
			</tr>
		</table>
	</p>	
	<p>
		The json product object in the result is the same as in the search. But here you 
		just get one single object. In the search you get an array of objects. 
	</p>


	<h2 class="docu_h2">User Profile</h2><a name="userprofile"></a>
	<p class="docu">
		If you want to have details to a special profile you can use this request here.
	</p>
	<pre class="code">https://www.versioneye.com/users/<<span>USERNAME</span>>.json</pre>
	<p class="docu">
		Here is an example with the profile of Robert Reiz.
	</p>
	<pre class="code">https://www.versioneye.com/users/reiz.json</pre>
	<p class="docu">
		The result contains username und fullname.
	</p>
	<p class="docu">
		<table style="width:570px;" class="docu_table">
			<tr>
				<th>ATTRIBUTE</th>
				<th>DESCRIPTION</th>
			</tr>
			<tr>
				<td style="width: 150px;">fullname</td>
				<td>Fullname of the user</td>
			</tr>
			<tr>
				<td style="width: 150px;">username</td>
				<td>Username of the user</td>
			</tr>
		</table>
	</p>
	
	<h2 class="docu_h2">User Favorite Packages</h2><a name="userfavproducts"></a>
	<p class="docu">
		If you want to have the favorite products to a special user profile you can use this request here.
	</p>
	<pre class="code">https://www.versioneye.com/users/<<span>USERNAME</span>>/favoritepackages.json</pre>
	<p class="docu">
		Here is an example with the profile of Robert Reiz.
	</p>
	<pre class="code">https://www.versioneye.com/users/reiz/favoritepackages.json</pre>
	<p class="docu">
		Every user can control the result for this request in the privacy settings. 
		If a user decided that nobody can see his favorite products, this request 
		will just return an empty array! 
	</p>
	<p class="docu">
		Otherwise the result contains all favorite products of the given user. 
		The products are sorted by the date in a descending order. 
		That means the newest product is on the top, the oldest is on the bottom. 
	</p>
	<p class="docu">
		If you are logged in, the result is a little bit different. If you are logged 
		in the "notification" attribute in the JSON object is filled with true/false or 
		nil. If it is true that means that there is a new version of the product. 
		At the first time you are calling the product detail page the flag "notification" 
		for this product will set to false for you. This behavior is similar to the 
		notification system in Facebook. 
	</p>
	<p class="docu">
		Check out the table for the product object in the top of the page. 
	</p>
	
	
	<h2 class="docu_h2">User Comments</h2><a name="usercomments"></a>
	<p class="docu">
		If you want to have all user comments to a special user profile you can use this request here.
	</p>
	<pre class="code">https://www.versioneye.com/users/<<span>USERNAME</span>>/comments.json</pre>
	<p class="docu">
		Here is an example with the profile of Robert Reiz.
	</p>
	<pre class="code">https://www.versioneye.com/users/reiz/comments.json</pre>
	<p class="docu">
		Every user can control the result for this request in the privacy settings. 
		If a user decided that nobody can see his comments on his profile, this request 
		will just return an empty array! 
	</p>
	<p class="docu">
		Otherwise the result contains all comments of the given user. 
	</p>
	<p class="docu">
		Check out the table for the comment object in the top of the page. 
	</p>
	
	
	<h2 class="docu_h2">User Notifications</h2><a name="usernotifications"></a>
	<p class="docu">
		This request makes just sense if you are logged in / signed in! 
	</p>
	<pre class="code">https://www.versioneye.com/users/<<span>USERNAME</span>>/notifications.json</pre>
	<p class="docu">
		It returns the number of the unread notifications. 
	</p>
	
	
	<h2 class="docu_h2">Sign In</h2><a name="signin"></a>
	<p class="docu">
		If you want to write an application where the user can sign in into VersionEye, 
		you can do it with a simple post request. Just send a post request to this address.
	</p>
	<pre class="code">https://www.versioneye.com/sessions.json</pre>
	<p class="docu">
		This table below shows what your post form must contain.
	</p>
	<p class="docu">
		<table style="width:400px;" class="docu_table">
			<tr>
				<th>NAME</th>
				<th>EXAMPLE VALUE</th>
			</tr>
			<tr>
				<td style="width: 150px;">session[email]</td>
				<td>your.email@gmail.com</td>
			</tr>
			<tr>
				<td>session[password]</td>
				<td>yourpassword</td>
			</tr>
		</table>
	</p>
	<p class="docu">
		If the sign in procedure is not successful you will get back an empty string. 
	</p>
	<p class="docu">
		If the sign in procedure is successful you will get back the user as JSON object. 
		That contains the username and the full name of the user.  
	</p>
	<p class="docu">
		If the sign in procedure is successful the server will set a cookie on your system. 
		This is for storing the session. It is absolute important that your system is 
		supporting cookies!
	</p>
	
	
	<h2 class="docu_h2">Sign Out</h2><a name="signout"></a>
	<p class="docu">
		If you want to sign out, just send a request to this URL
	</p>
	<pre class="code">https://www.versioneye.com/signout.json</pre>
	<p class="docu">
		After the request the server will destroy the cookie and the corresponding session. 
	</p>
	
	
	<h2 class="docu_h2">Follow</h2><a name="follow"></a>
	<p class="docu">
		The follow feature is just working when the user is signed in! In that case you 
		just have to send a post request to this URL.
	</p>
	<pre class="code">https://www.versioneye.com/follow.json</pre>
	<p class="docu">
		This table below shows what your post form must contain. 
	</p>
	<p class="docu">
		<table style="width:500px;" class="docu_table">
			<tr>
				<th>NAME</th>
				<th>EXAMPLE VALUE</th>
			</tr>
			<tr>
				<td style="width: 150px;">product_key</td>
				<td>pl~pragmatists--JUnitParams</td>
			</tr>
		</table>
	</p>
	<p class="docu">
		If something went wrong you will get back nil or an empty string. If everything 
		worked out perfectly you will get back the string "success". 
	</p>
	
	
	<h2 class="docu_h2">Unfollow</h2><a name="unfollow"></a>
	<p class="docu">
		The unfollow feature is working in the same fashion like the follow feature. 
		But you have to use this URL.
	</p>
	<pre class="code">https://www.versioneye.com/unfollow.json</pre>
	
	
</docu>
</div>