<div class="sidebar" >
	
	<%= render 'page/apijson_navi' %>
		
</div>
<div class="content">
	
	<h1>Tools</h1><a name="tools"></a>
	<p class="docu">
		We will list here tools we recommend to work with JSON. 
	</p>
	

	<h2 class="docu_h2">JSONView</h2><a name="jsonview"></a>
	<p class="docu">
		JSONview is a browser plugin available for Firefox and Chrome. 
		Use JSONView to work with JSON. If you are calling a resource 
		in the internet which is returning you a JSON String, this plugin will 
		render a very human readable output. 
	</p>
	<a href="https://addons.mozilla.org/en-US/firefox/addon/jsonview/" target="_NEW">JSONView for Firefox</a><br/>
	<a href="http://www.google.com/url?sa=t&rct=j&q=chrome%20jsonview&source=web&cd=2&ved=0CDsQFjAB&url=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fmfjgkleajnieiaonjglfmanlmibchpam&ei=EotFT5nzDYWdiQLAsYCwDg&usg=AFQjCNEL-wKiiNZ8YMUTI0K6rku8FZaoXw&cad=rja" target="_NEW">JSONView for Chrome</a>
	
</div>