<% title "Tools" %>

<div class="span3" >
	<%= render 'page/apijson_navi' %>
</div>
<div class="span8">
	<p class="docu">
		We will list here tools we recommend to work with JSON. 
	</p>

	<h5 class="docu_h5">JSONView</h5><a name="jsonview"></a>
	<p class="docu">
		JSONview is a browser plug-in available for Firefox and Chrome that allows you to view JSON objects in 
		a human readable way. 
	</p>
	<a href="https://addons.mozilla.org/en-US/firefox/addon/jsonview/" target="new_jsonview">JSONView for Firefox</a><br/>
	<a href="http://www.google.com/url?sa=t&rct=j&q=chrome%20jsonview&source=web&cd=2&ved=0CDsQFjAB&url=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fmfjgkleajnieiaonjglfmanlmibchpam&ei=EotFT5nzDYWdiQLAsYCwDg&usg=AFQjCNEL-wKiiNZ8YMUTI0K6rku8FZaoXw&cad=rja" target="new_json_chrome">JSONView for Chrome</a>
	
</div>