<% title "Libs" %>

<div class="span3 sidebar" >

	<%= render 'page/apijson_navi' %>
</div>
<div class="span8">
	
	<h4>Libs</h4><a name="libs"></a>
	<p class="docu">
		As a de facto standard, there are implementations for JSON in 
		nearly every programming language. If you're looking for a particular JSON library, just google 
		it. 
	</p>
	<p>
		There a number of libraries, but we recommend the two listed below. One library is for Java and one for Ruby. 
	</p>
	
	<h5 class="docu_h5">Ruby</h5><a name="ruby"></a>
	<p class="docu">
		The ruby implementation for JSON is called "json" :-). Check out this GEM: 
	</p>
	<a href="http://rubygems.org/gems/json">http://rubygems.org/gems/json</a>
	
	
	<h5 class="docu_h5">Java</h5><a name="java"></a>
	<p class="docu">
		For Java, we recommend Jackson from codehaus. Check it out here: 
	</p>
	<a href="https://www.versioneye.com/product/org~codehaus~jackson--jackson-core-lgpl/version/1~9~4/" target="new_jackson">Jackson</a>
	<p class="docu">
		Here is a 5-minute tutorial: 
	</p>
	<a href="http://wiki.fasterxml.com/JacksonInFiveMinutes" target="new_jacksonEnv">JacksonInFiveMinutes</a>	
	
</div>