<% title 'Data protection provisions' %>

<p class="version">
	Version <strong>1.1</strong> / as at 05/10/2012
</p>
<p>
	German Version: <%= link_to 'Datenschutzbestimmungen', datenschutz_path  %>
</p>
<p>
We collect and use your personal data exclusively within the constraints imposed by legislation relating to data protection. In the pages which follow we provide you with information on the nature, extent and purposes of the collection and use of personal data. You can access this information at any time on our web-site and save it on your computer and/or print it out.
</p>
<p>
We wish to point out explicitly that the transfer of data in the Internet (e.g. when com- municating by email) is less than completely secure and cannot be 100% protected against third party attacks.
</p>
<p>
Data file controller
</p>
<address>
	<strong>VersionEye GmbH</strong><br/>
	Julius-Hatry-Str. 1<br/>
	D-68163 Mannheim<br/>
</address>
<br/>
Legally represented by the General Manager, Mr Robert Reiz<br/>
<br/>
<address>
<b>Telefax:</b> +1-415-967-3497<br/>
<b>E-Mail:</b> contact(at)versioneye.com<br/>
<b>Handelregister Nummer:</b> HRB 720830<br/>
<b>Registergericht:</b> Mannheim<br/>
<b>Umsatzsteuer-Identifikations-Nr.:</b> DE282045007<br/>
</address>

<p>
Further information is available in our Legal Notices section.
</p>

<h5>The collection and use of non-personal data for internal system and statistical purposes</h5>
<p>
When you access our web-site, your Internet browser automatically transmits data to our server for technical reasons. Amongst other items, this data includes the date and time of the access, the URL of the web-site directing you to us, the file you access, the volume of data sent, the type and version of your browser, your operating system and your IP address. This data is stored separately from the other data you enter while us- ing our web-site. It is not possible for us to attribute this data to a specific person. The data contains no information whatsoever which allows back-tracking to a specific per- son. The data is collected and used exclusively for statistical and analytical purposes, for example about how the service can be improved; it is deleted after use.
</p>
<h5>The collection and use of personal data</h5>
<p>
We only collect and use your personal data (for example, your name and email address) if you enter this data in an entry field, send us an email with an enquiry, make use of our services and proposals and send this to us and if you have explicitly consented to the collection and use of this data.
</p>

<h5>Data already in our possession</h5>
<p>
In so far as a contractual relationship is to be formed between you and us, developed in terms of content or amended, we collect and use your personal data in so far as is necessary for the achievement of this purpose.
If so ordered by the relevant authorities, we may disclose items of this data (data al- ready in our possession) on a case by case basis in so far as is necessary for the pur- pose of criminal prosecution, the avoidance of danger, to enable the Federal Office for the Protection of the Constitution or the Military Counter-Intelligence Service to perform their statutory duties or for the purpose of the assertion of intellectual property rights.
</p>
<h5>Usage data</h5>
<p>
We collect and use your personal data in so far as is necessary to enable you to use our web-services (usage data). This data particularly includes information on the be- ginning, end and extent of the use of our services.
For the purposes of promotion, market research and designing our web-services to suit demand, we are allowed to create usage profiles using pseudonyms. You have the right to object to this use of your data at any time. We will not, and indeed are not allowed to link this usage profile with data about the person behind the pseudonym.
</p>

<h5>Transmission of personal data to third parties</h5>
<p>
No personal data is passed to third parties if you have not registered with us. In the event that you register for the use of our service, please note the explicit statement of consent which also includes consent for the onward transmission of data.
</p>
<h5>Right of rescission</h5>
<p>
You have the right at any time to revoke the consent you have given for the collection and use of personal data from that point in time onwards. You can contact us for this purpose by post or by email at contact@versioneye.com.
The revocation of the statement of consent means that the account is terminated at the same time and that you lose the ability to use the service.
</p>

<h5>Right to information</h5>
<p>
You have the right to require information on the data which is saved relating to your person or your pseudonym. If you so require, the information can also be sent to you electronically. You can contact us for this purpose by post or by email at contact@versioneye.com.
</p>
<h5>Deletion of the data</h5>
<p>
The personal data which has been saved is deleted if you revoke your consent to it be- ing saved, if information about you is no longer necessary to achieve the purpose be- ing pursued by saving the data or if saving the data is or becomes inadmissible for other legal reasons.
</p>

<h5>Objection to the commercial use of our contact data</h5>
<p>
The use of our contact data published in our Legal Notices section or in comparable statements, such as postal addresses, phone and fax numbers as well as email ad- dresses, by third parties for the transmission of information which has not been ex- pressly requested is not permitted unless we have previously given our express written consent or unless a business relationship already exists. If this prohibition is breached we expressly reserve the right to take legal steps against persons sending so-called SPAM emails. The service provider and all persons named in this web-site hereby ob- ject to any commercial use and dissemination of their data.
</p>
<h5>Cookies &amp; other technical measures</h5>
<p>
What are called “temporary cookies” are used to make navigation easier when individ- ual sites are accessed. The cookies in our web-site do not collect any personal data about you and are completely anonymous. Cookies do not harm your computer and do not contain any viruses. You can prevent the installation of cookies by setting your browser software appropriately. However, we wish to point out that in this case you may not be able to use all the functions of this web-site to their full extent. Technical measures, for example Java Applets or Active-X-Controls, which enable the user‘s access pattern to be reproduced are not used.
</p>
<h5>Use of social media plug-ins (Facebook, Twitter, GitHub)</h5>
<p>
	Our website also incorporates so-called social media plug-ins, which are small software programs from social networks, e.g. of the social network Facebook or of the messaging service Twitter. They are operated exclusively by the provider of the respective service, e.g. in the case of Facebook by the company Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA (henceforth just: Facebook) or in the case of Twitter by the company Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107 (USA). You will recognize these plug-ins on our website through the logo of the respective service (e.g. the Facebook or Twitter logo) or the add-on "Like me" or "Share".
</p>
<p>
	When visiting a page of our website that incorporates such a plug-in, your browser establishes a direct connection with the servers of the respective service (e.g. with the servers of Facebook or Twitter in the USA), whereby the content of the plug-in is again forwarded to your browser and is linked from it to the website.
</P>
<p>
	By this means, the information that you have visited our website is forwarded to the respective provider of the service. If you are logged in during your visit to our website via your personal user account of the respective service (e.g. on Facebook), the respective provider of this service (e.g. Facebook) can allocate the website visit to this account. Through interaction with plug-ins, e.g. by clicking the so-called "Like me" or "Share" buttons or leaving a comment, this corresponding information is forwarded directly to the provider of the respective service (e.g. Facebook) and stored there.
</P>
<p>
	If you would like to preclude such data transmission, you have to actively log out from your user account with the respective service (e.g. from your Facebook account) before visiting our website. However, certain data, such as your IP address, the date of the click, your browser used, is nevertheless forwarded to the provider of the respective service (e.g. to Facebook).
</P>
<p>
	The objective and extent of the data collection by the respective provider of the service, the further processing there and use of your data as well as your rights in this regard and setting options in your client account for the protection of your privacy can be extracted directly from the data protection information of the pertinent service.
</P>
<p>
	Facebook: <a href="http://de-de.facebook.com/privacy/explanation.php" target="fb">http://de-de.facebook.com/privacy/explanation.php</a><br />
	Twitter: <a href="https://twitter.com/privacy" target="twitter">https://twitter.com/privacy</a><br />
</p>
<p>
	You will find further data protection information for other services by connecting to the pertinent website of that service, under menu items such as "Data protection" or "Privacy policy".
</p>
<h5>Google Analytics</h5>
<p>
	This website uses Google Analytics, a web analysis service of Google Inc. ("Google"). Google Analytics uses so-called "cookies", text files that are stored on your computer and which enable an analysis of the use of the website by you. The information generated by the cookie about your use of this website (including your IP address) is transferred to a server belonging to Google in the USA and stored there. Google will use this information to evaluate your use of the website in order to compile reports about the website activities for the website operator and in order to provide additional services linked to the website use and the Internet use. Google may also transfer this information to third parties, if this is required by law or if third parties process this data on behalf of Google. Google will under no circumstances associate your IP address with other data that is stored by Google. You can prevent the installation of cookies through an appropriate adjustment of your browser software; we point out to you, however, that you may not be able to fully use all functions of this website in that case.
</p>
<p>
	In addition, we have set up Google Analytics in such a way that it does not store or process the full IP address. The last octet of the visitor's IP address is removed automatically by Google Analytics before it is used and stored.
</p>
<p>
	There is now the option of deactivating the Google Analytics function with all current Internet browsers by means of a browser add-on. You can therefore, if desired, very easily prevent analysis information being sent to Google by installing this browser add-on. This option now exists for Google Chrome, Firefox, Internet Explorer, Safari and Opera.
</p>
