<h1>
Consent to the Collection and Usage of Data<br/>
Consent to Receive Advertising Information
</h1>
<p class="version">
	Version 1.1 / as at 05/10/2012
</p>
<p>
	German Version: <%= link_to 'Datenerhebung', datenerhebung_path %>
</p>
<h2>
	1. Consent to the Collection, Processing and Usage of Data
</h2>
<p>
Upon registering, I consent to the Service Provider’s collecting, saving, processing and using my
personal data for the purpose of substantiating, implementing and rendering the service.
</p>

<h2>
	2. Service Provider / Responsible Office
</h2>
<p>
	The Service Provider and the responsible office in accordance with the Bundesdatenschutzgesetzes
	[German Data Protection Act] is the company called VersionEye GmbH, Invalidenstrasse 50/51, D-10557 Berlin
</p>

<h2>
	3. Consent to Receive Advertising / Forwarding of Personal Data to Third Parties for Advertising Purposes
</h2>
<p>
	I am aware that, in case of free accounts, the provider has to finance the service with ads.
</p>
<p>
	Thus, I consent to my personal data being collected, processed and used for the purpose of receiving
	advertising from the Service Provider as well as that my personal data be forwarded to its own service
	provider in order to implement this service.
</p>
<p>
	I also consent to the Service Provider’s sending me advertising messages at the e-mail address which
	I have provided.
</p>
<p>
	I likewise expressly approve that the personal data which I have provided be forwarded to third parties
	for advertising purposes.
</p>
<p>
	Insofar and as long as I consent to it, I will be sent written notifications and information infrequently by
	the Service Provider. These messages may include, among others but not limited to, news, current
	developments, technical notes, tips and other information about services, including future services
	offered by the Service Provider. In addition to solely information, the Service Provider shall be entitled
	to also include advertising for its own and/or third-party products in these messages.
</p>
<p>
	This shall also be valid for information from companies with which the Service Provider is affiliated
	or cooperates (e.g. partners) insofar as the Service Provider may consider this to be appropriate
	subject to its consideration of all circumstances in my interest. The Service Provider shall be entitled
	at any time to modify the scope, the frequency and the form of this information and/or advertising or to
	discontinue the receipt of such information and/or advertising altogether.
</p>
<p>
	I am aware that I will get no ads with a fee-based account.
</p>
<h2>
	4. Right of revocation/revocation as an end of the utilization right
</h2>
<p>
	I have the right at all times to object to the provider about the collection, processing and use of the aforementioned data for the future, if it is not necessary for contract implementation, by e-mail to contact(at)versioneye.com.
</p>
<p>
	I am aware that the revocation – possible at any time – of the declaration of consent means at the same time the termination of the account by me and thus also the possibility of using the service for me.
</p>
<h2>
	5. Compliance with the German data protection law
</h2>
<p>
	All personal data is collected and used solely within the framework of the data protection legislation requirements of the Federal Republic of Germany.
</p>
<h2>
	6. Right to obtain information
</h2>
<p>
	I have the right to request information about the stored data about me. The information may also be issued electronically at my request. I can approach the provider for this purpose by post or by e-mail via contact(at)versioneye.com.
</p>
