<h1>
Einwilligung in die Datenerhebung und Datennutzung<br/>
Einwilligung in Erhalt von werblichen Informationen
</h1>
<p class="version">
	Version 1.1 / Stand 10.05.2012</b>
</p>
<p>
	Gelangen Sie hier zur druckbaren Version (<a href="/docs/VersionEye_Einwilligung_in_Datenerhebung_de_V1.1.pdf">PDF</a>)<br/>
	Englische Version: <%= link_to "Data Collecion", datacollection_path %>
<p>
<h2>
	1. Einwilligung in Datenerhebung, -verarbeitung und -nutzung
</h2>
<p>
	Ich willige mit der Registrierung darin ein, dass der Anbieter personenbezogene Daten zum Zwecke der Begründung, Durchführung und Abwicklung des Service erhebt, speichert, verarbeitet und nutzt.
</p>

<h2>
	2. Anbieter / Verantwortliche Stelle
</h2>
<p>
	Anbieter und verantwortliche Stelle im Sinne des Bundesdatenschutzgesetzes ist die Firma VersionEye GmbH, Julius-Hatry-Str. 1, D-68163 Mannheim
</p>

<h2>
	3. Einwilligung in Erhalt von Werbung / Übermittlung zu Werbezwecken an Dritte
</h2>
<p>
	Mir ist bekannt, dass der Anbieter bei einem kostenlosen Account den Service durch Werbung finanzieren muss.
</p>
<p>
	Ich willige daher darin ein, dass meine personenbezogenen Daten zum Zwecke des Erhaltes von Werbung vom Anbieter erhoben, verarbeitet und genutzt, sowie an dessen Dienstleister zur Abwicklung dieses Service weitergegeben werden.
</p>
<p>
	Ich willige auch darin ein, dass der Anbieter mir Werbebotschaften an die von mir angegebene E-Mailadresse zukommen lässt.
</p>
<p>
	Ich willige ebenfalls ausdrücklich darin ein, dass die von mir angegebenen personenbezogenen Daten an Dritte zum Zwecke der Werbung weiter gegeben werden.
</p>
<p>
	Soweit und solange ich einwillige, werde ich in unregelmäßigen Abständen schriftlich vom Anbieter benachrichtigt und informiert. Diese Mitteilungen können unter anderem aber nicht ausschließlich Neuigkeiten, aktuelle Entwicklungen, technische Hinweise, Tipps und andere, auch zukünftige vom Anbieter angebotenen Dienstleistungen enthalten. Neben reinen Informationen ist der Anbieter berechtigt, in diese Mitteilungen auch Werbung für eigene und/oder fremde Produkte aufzunehmen.
</p>
<p>
	Dies gilt auch für Informationen von Unternehmen, mit denen der Anbieter verbunden ist oder kooperiert (z.B. Partner), sofern der Anbieter dies unter Berücksichtigung aller Umstände in meinem Interesse für angemessen halten darf. Der Anbieter ist jederzeit berechtigt, den Umfang, die Häufigkeit und die Form dieser Information bzw. Werbung zu ändern oder einzustellen.
</p>
<p>
	Mit ist bekannt, dass ich bei einem kostenpflichtigen Account keine Werbung erhalten werde.
</p>
<h2>
	4. Widerrufsrecht / Widerruf als Ende des Nutzungsrechts
</h2>
<p>
	Ich habe jederzeit das Recht, der Erhebung, Verarbeitung und Nutzung der vorgenannten Daten, soweit sie nicht zur Vertragsabwicklung erforderlich sind, gegenüber dem Anbieter für die Zukunft per E-Mail an contact(at)versioneye.com zu widersprechen.
</p>
<p>
	Mir ist bekannt, dass der – jederzeit mögliche – Widerruf der Einwilligungserklärung gleichzeitig die Kündigung des Accounts durch mich und damit auch den Verlust der Nutzungsmöglichkeit des Service für mich bedeutet.
</p>
<h2>
	5. Beachtung des deutschen Datenschutzrechts
</h2>
<p>
	Alle personenbezogenen Daten werden ausschließlich im Rahmen der datenschutzrechtlichen Vorgaben der Bundesrepublik Deutschland erhoben und verwendet.
</p>
<h2>
	6. Auskunftsrecht
</h2>
<p>
	Ich habe das Recht, Auskunft über die zu meiner Person gespeicherten Daten zu verlangen. Auf mein Verlangen kann die Auskunft auch elektronisch erteilt werden. Ich kann mich hierfür per Post oder per E-Mail über contact(at)versioneye.com an den Anbieter wenden.
</p>
