<% title 'Datenschutzbestimmungen' %>

<p class="version">
	Version 1.1 / Stand 10.05.2012
</p>
<p>
	Gelangen Sie hier zur druckbaren Version (<a href="/docs/VersionEye_Datenschutzbestimmungen_de_V1.1.pdf" target="new_Datenschutz" >PDF</a>)<br/>
	Englische Version: <%= link_to 'Data Privacy', dataprivacy_path %>
</p>
<p>
Wir erheben und verwenden Ihre personenbezogenen Daten ausschließlich im Rahmen der datenschutzrechtlichen Bestimmungen. Im Folgenden unterrichten wir Sie über Art, Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten. Sie können diese Unterrichtung jederzeit auf unserer Internetseite abrufen bzw. bei sich speichern und/oder ausdrucken.
</p>
<p>
Wir weisen ausdrücklich darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen und nicht lückenlos vor dem Zugriff durch Dritte geschützt werden kann.
</p>
<p>
Verantwortliche Stelle<br/>
VersionEye GmbH<br/>
Invalidenstrasse 50/51<br/>
D-10557 Berlin<br/>
<br/>
gesetzlich vertreten durch den Geschäftsführer Herrn Robert Reiz<br/>
<br/>
<b>Telefax:</b> +1-415-967-3497<br/>
<b>E-Mail:</b> contact(at)versioneye.com<br/>
<b>Handelregister Nummer:</b> HRB 144242 B<br/>
<b>Registergericht:</b> Berlin / Charlottenburg<br/>
<b>Umsatzsteuer-Identifikations-Nr.:</b> DE282045007<br/>
</p>
<p>
Weitere Informationen entnehmen Sie bitte unserem Impressum.
</p>

<h5>Erhebung und Verwendung nicht-personenbezogener Daten zu systeminternen und statistischen Zwecken</h5>
<p>
Ihr Internet-Browser übermittelt beim Zugriff auf unsere Internetseite aus technischen Gründen automatisch Daten an unseren Server. Es handelt sich dabei unter anderem um Datum und Uhrzeit des Zugriffs, URL (Adresse) der verweisenden Webseite, abgerufene Datei, Menge der gesendeten Daten, Browsertyp und -version, Betriebssystem sowie Ihre IP-Adresse. Diese Daten werden getrennt von anderen Daten, die Sie im Rahmen der Nutzung unseres Angebotes eingeben, gespeichert. Eine Zuordnung dieser Daten zu einer bestimmten Person ist uns nicht möglich. Die Daten enthalten keinerlei Informationen, die Rückschlüsse auf Einzelpersonen zulassen. Sie werden ausschließlich zu statistischen Zwecken sowie zu Analysezwecken, wie der Verbesserung des Angebots, erhoben und verwendet und im Anschluss gelöscht.
</p>
<h5>Erhebung und Verwendung personenbezogener Daten</h5>
<p>
Personenbezogene Daten (z.B. Name, E-Mail-Adresse) werden von uns nur dann erhoben und verwendet, wenn Sie diese Daten in einem Eingabefeld oder per E-Mail zum Zwecke der Anfrage an uns oder der Inanspruchnahme einer Leistung oder eines Angebots eingeben und an uns senden bzw. Sie in die Erhebung und Verwendung dieser Daten ausdrücklich eingewilligt haben.
</p>

<h5>Bestandsdaten</h5>
<p>
Sofern zwischen Ihnen und uns ein Vertragsverhältnis begründet, inhaltlich ausgestaltet oder geändert werden soll, erheben und verwenden wir Ihre personenbezogenen Daten, soweit dies zur Erreichung dieser Zwecke erforderlich ist.
Auf Anordnung der zuständigen Stellen dürfen wir im Einzelfall Auskunft über diese Daten (Bestandsdaten) erteilen, soweit dies für Zwecke der Strafverfolgung, zur Gefahrenabwehr, zur Erfüllung der gesetzlichen Aufgaben der Verfassungsschutzbehörden oder des Militärischen Abschirmdienstes oder zur Durchsetzung der Rechte am geistigen Eigentum erforderlich ist.
</p>
<h5>Nutzungsdaten</h5>
<p>
Wir erheben und verwenden personenbezogene Daten von Ihnen, soweit dies erforderlich ist, um die Inanspruchnahme unseres Internetangebotes zu ermöglichen (Nutzungsdaten). Dazu gehören insbesondere Merkmale Angaben zu Beginn und Ende sowie des Umfangs der Nutzung unseres Angebotes.
Für Zwecke der Werbung, der Marktforschung und zur bedarfsgerechten Gestaltung unseres Internetangebotes dürfen wir bei Verwendung von Pseudonymen Nutzungsprofile erstellen. Sie haben jederzeit das Recht, dieser Verwendung Ihrer Daten zu widersprechen. Die Nutzungsprofile dürfen und werden wir nicht mit Daten über den Träger des Pseudonyms zusammenführen.
</p>
<h5>Weitergabe personenbezogener Daten an Dritte</h5>
<p>
Eine Weitergabe personenbezogener Daten an Dritte ohne eine Registrierung erfolgt nicht. Im Falle der Registrierung zur Nutzung des Service beachten Sie bitte die ausdrückliche Einwilligungserklärung, die auch die Einwilligung in die Datenweitergabe enthält.
</p>
<h5>Widerrufsrecht</h5>
<p>
Sie haben das Recht, eine erteilte Einwilligung in die Erhebung und Verwendung personenbezogener Daten mit Wirkung für die Zukunft jederzeit zu widerrufen. Sie können sich hierfür per Post oder per E-Mail über contact(at)versioneye.com an uns wenden.
Der Widerruf der Einwilligungserklärung bedeutet gleichzeitig die Kündigung des Accounts und damit auch den Verlust der Nutzungsmöglichkeit des Service.
</p>

<h5>Auskunftsrecht</h5>
<p>
Sie haben das Recht, Auskunft über die zu Ihrer Person oder zu Ihrem Pseudonym gespeicherten Daten zu verlangen. Auf Ihr Verlangen kann die Auskunft auch elektronisch erteilt werden. Sie können sich hierfür per Post oder per E-Mail über contact(at)versioneye.com an uns wenden.
</p>
<h5>Löschung der Daten</h5>
<p>
Die Löschung der gespeicherten personenbezogenen Daten erfolgt, wenn Sie Ihre Einwilligung zur Speicherung widerrufen, wenn ihre Kenntnis zur Erfüllung des mit der Speicherung verfolgten Zwecks nicht mehr erforderlich ist oder wenn ihre Speicherung aus sonstigen gesetzlichen Gründen unzulässig ist bzw. wird.
</p>

<h5>Widerspruch der kommerziellen Nutzung unserer Kontaktdaten</h5>
<p>
Die Nutzung der im Rahmen unseres Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie E-Mail-Adressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht gestattet, es sei denn  wir hätten zuvor ausdrücklich unsere schriftliche Einwilligung erteilt oder es besteht bereits eine Geschäftsbeziehung. Rechtliche Schritte gegen die Versender von sogenannten SPAM-Mails bei Verstößen gegen dieses Verbot sind ausdrücklich vorbehalten. Der Diensteanbieter und alle auf dieser Website genannten Personen widersprechen hiermit jeder kommerziellen Verwendung und Weitergabe ihrer Daten.
</p>
<h5>Cookies &amp; andere Techniken</h5>
<p>
Beim Aufruf einzelner Seiten werden so genannte temporäre Cookies verwendet, um die Navigation zu erleichtern. Die Cookies unserer Webseite erheben keine persönlichen Daten über Sie und sind völlig anonym. Cookies richten auf Ihrem Computer keinen Schaden an und enthalten auch keine Viren. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern. Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Webseite voll umfänglich nutzen können.
Techniken, wie zum Beispiel Java-Applets oder Active-X-Controls, die es ermöglichen, das Zugriffsverhalten der Nutzer nachzuvollziehen, werden nicht eingesetzt.
</p>
<h5>Nutzung von Social-Media-Plugins (Facebook, Twitter etc.)</h5>
<p>
Unsere Internetseite enthält außerdem so genannte Social-Media-Plugins, das sind kleine Software-Programme von sozialen Netzwerken, z.B. des sozialen Netzwerks Facebook oder des Nachrichtendienstes Twitter. Diese werden ausschließlich von dem Anbieter des jeweiligen Dienstes, z.B. bei Facebook von der Firma Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA (künftig nur: Facebook) oder bei Twitter von der Firma Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107 (USA) betrieben. Diese Plugins erkennen Sie auf unserer Website durch das Logo des jeweiligen Dienstes (z.B. dem Logo von Facebook oder von Twitter) bzw. den Zusatz „Gefällt mir” oder „Teilen“.
</p>
<p>
	Beim Besuch einer Seite unseres Internetauftritts, die ein solches Plugin enthält, stellt Ihr Browser eine direkte Verbindung mit den Servern des jeweiligen Dienstes (z.B. mit den Servern von Facebook oder Twitter in den USA) her, wodurch wiederum der Inhalt des Plugins an Ihren Browser übermittelt und von diesem in die Website eingebunden wird.
</p>
<p>
	Hierdurch wird die Information, dass Sie unsere Website besucht haben, an den jeweiligen Anbieter des Dienstes weitergeleitet. Sofern Sie während des Besuchs unserer Website über Ihr persönliches Benutzerkonto des jeweiligen Dienstes (z.B. bei Facebook) eingeloggt sind, kann der jeweilige Anbieter dieses Dienstes (z.B. Facebook) den Webseitenbesuch diesem Konto zuordnen. Durch Interaktion mit Plugins, z.B. durch Anklicken des so genannten „Gefällt mir“- oder „Teilen“-Buttons oder hinterlassen eines Kommentars werden diese entsprechenden Informationen direkt an den Anbieter des jeweiligen Dienstes (z.B. Facebook) übermittelt und dort gespeichert.
</p>
<p>
	Wenn Sie eine solche Datenübermittlung unterbinden möchten, müssen Sie sich vor dem Besuch unseres Internetauftritts von Ihrem Benutzerkonto des jeweiligen Dienstes (z.B. aus Ihrem Facebook-Account) aktiv ausloggen. Dann werden aber dennoch bestimmte Daten, wie z.B. Ihre IP-Adresse, der Zeitpunkt des Klicks, Ihr verwendeter Browser u.ä. an den Anbieter des jeweiligen Dienstes (also z.B. an Facebook) übermittelt.
</p>
<p>
	Zweck und Umfang der Datenerhebung durch den jeweiligen Anbieter des Dienstes , die dortige weitere Verarbeitung und Nutzung Ihrer Daten, sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten in Ihrem  Kundenkonto zum Schutz Ihrer Privatsphäre entnehmen Sie bitte direkt den Datenschutzhinweisen des jeweiligen Dienstes.
</p>
<p>
	Facebook: <a href="http://de-de.facebook.com/privacy/explanation.php" target="fb">http://de-de.facebook.com/privacy/explanation.php</a><br />
	Twitter: <a href="https://twitter.com/privacy" target="twitter">https://twitter.com/privacy</a><br />
</p>
<p>
	Weitere Datenschutzhinweise zu anderen Diensten finden Sie unter Aufruf des jeweiligen Internetauftrittes dieses Dienstes, unter Menüpunkten wie „Datenschutz“ oder „Privacy Policy“.
</p>
<h5>Google Analytics</h5>
<p>
Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) werden an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten, die von Google gespeichert werden, in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können.
</p>
<p>
Wir haben überdies Google Analytics so eingerichtet, dass nicht die vollständige IP-Adresse gespeichert oder verarbeitet wird, sondern das letzte Oktett der IP-Adresse des Besuchers automatisch von Google Analytics entfernt wird, bevor diese verwendet und gespeichert wird.
</p>
<p>
Es besteht bei allen gängigen Internetbrowsern mittlerweile die Möglichkeit der Deaktivierung der Google Analytics-Funktion mittels eines Browser Add-on. Sie können also, falls gewünscht, sehr einfach durch Installation dieses Browser Add-on verhindern, dass Analyse-Informationen an Google gesendet werden. Diese Möglichkeit besteht mittlerweile für Google Chrome, Firefox, Internet Explorer, Safari und Opera.
</p>
