

<div class="span3" >
  FAQs
</div>

<div class="span8" >

  <div class="span8 content_header_def" >
    <h1>Frequently Asked Questions</h1>
  </div>

  <div class="span8 content" >
    <h4>Why not just using bundle outdated?</h4>
    <p class="l_faq_section">
      Why you are using an continuous integration system to run your tests? You could simply run "rspec" in command line! The reason why you are using a CI system is automation! And for the same reason you should use a Continuous Updating tool like VersionEye. Because of automation. VersionEye will never forget to check your project. It will do the job everyday and remind you. It will never become sick and it will never go on vacation. VersionEye is working 24/7 only for you! It keeps you informed and makes you a better developer!
    </p>

    <h4>How can I use VersionEye if my project is not on GitHub</h4>
    <p class="l_faq_section">
      There are many ways to use VersionEye. The GitHub integration is the best they to use it because it is integrated into your daily coding routine. <br/>
      But you can also use the URL feature. Just put in the URL to your project file and VersionEye will fetch your file once a day and notify you about outdated dependencies.<br/>
      Another way is to use our API. You can send your project file programatically to our API and we will send you back a JSON object with all the information you need to know about outdated dependencies. In that way you can integrate our service into your workflows.
    </p>

    <h4>Why does VersionEye need write access to my private Repositories?</h4>
    <p class="l_faq_section">
      Well. If you sign up with GitHub we only ask for permissions to your public repositories. If you want that VersionEye is monitoring private Repositories for you, you can grant VersionEye access to your private repositories afterwards.<br/>
      We don't need write access to your private repositories. But unfortunately the GitHub API provides only 1 scope to access your private repositories and that includes also write permissions. But we promise you that we don't have any git write operations in our code base. VersionEye does NOT change your code! We only look in your project root for a project file we can parse. That's all.<br/>
      We hope that GitHub will provide a read-only scope for private repositories. Up to them we promise you not to change your code.
    </p>

    <h4>Can I trust VersionEye and give them full read access to my private repositories?</h4>
    <p class="l_faq_section">
      Yes! We are based in Germany and how you probably heard already, the Germans are going crazy for privacy! We respect your privacy! We are not interested into your code! We do not change it and we do not read it. We are only looking in your project root for a project file we can parse. That's all.<br/>
      And we do this only for the repositories you choose. We don't scan automatically ALL your repositories, like some of our competitors. We only scan the repository and branch you select.<br/>
      If you don't trust us anyway, you can still use the file upload or URL feature to submit your project files. With that 2 features we don't have any access to your source code.
    </p>
  </div>

</div>
