<% title 'FAQ' %>

<div class="span3" >
  FAQs
</div>

<div class="span8" >

  <div class="span8 content_header_def" >
    <h1>Frequently Asked Questions</h1>
  </div>

  <div class="span8 content" >
    <h2>Why not just using bundle outdated?</h2>
    <p class="l_faq_section">
      Why are you using a continuous integration system to run your tests if you could simply run "rspec" in the command line? The reason why you are using a CI system is automation! And for the same reason you should use a Continuous Updating tool like VersionEye. VersionEye will never forget to check your project. It will do the job everyday, notify you and it will never get sick or go on vacation. VersionEye is working 24/7 only for you! It keeps you informed and makes you a better developer!
    </p>

    <h2>How can I use VersionEye if my project is not on GitHub</h2>
    <p class="l_faq_section">
      There are many ways to use VersionEye. But the GitHub integration is by far the best way to use it because it's integrated into your daily coding routine. <br/>
      You can also use the URL feature. Just add the URL to your project file at VersionEye.com and we will fetch your file once a day and notify you about outdated dependencies.<br/>
      Another way to use VersionEye is through our API. Simply send your project file programatically to our API and we'll send you a JSON object back with all the information you need to know about outdated dependencies. In that way you can integrate our service into your workflow.
    </p>

    <h2>Why does VersionEye need writing authorization to my private repositories?</h2>
    <p class="l_faq_section">
      Well, if you sign up with GitHub we only ask for permission to your public repositories. But if you want us to monitor private repositories for you, you have to grant VersionEye access afterwards.<br/>
      Unfortunately, the GitHub API provides only 1 scope to access your private repositories and that includes writing authorization, even though VersionEye doesn't need it. However, we promise you that we don't have any git write operations in our code base. VersionEye will NEVER change your code! We only look in your project root for a project file we can parse. That's all.<br/>
      We hope that GitHub will provide a read-only scope for private repositories in the near future.
    </p>

    <h2>Can I trust VersionEye and give them full permission to read my private repositories?</h2>
    <p class="l_faq_section">
      Yes! We are based in Germany and you probably already know that the Germans are going crazy for privacy! VersionEye is always respecting your privacy! We are not interested in your code! We don't change it and we don't read it. We are only looking in your project root for a project file we can parse. That's all.<br/>
      Besides, we do this only for the repositories you have choosen. We will never scan ALL your repositories automatically, like some of our competitors. We only scan the repositories and branches you have selected.<br/>
      If you're still suspicious, simply use the file upload or URL feature to submit your project files. With those 2 features we don't get any access to your source code.
    </p>

    <h2>How quick do notifications happen?</h2>
    <p class="l_faq_section">
      There are 2 kinds of notifications at VersionEye. The <b>follow</b> notifications and the <b>project</b> notifications. 
    </p>
    <p class="l_faq_section">
      The <b>follow</b> notifications you receive once a day. Assume you are following 100 software packages at VersionEye and 20 of them 
      release a new version today. In that case we will not send you 20 emails ;-) You will receive just 1 single email which contains the notifications for today! If there are no <b>follow</b> notifications for you, we don't send out an email!
    </p>
    <p class="l_faq_section">
      The <b>project</b> notifications are configurable. By default you get them once a day. Assume you have 100 GitHub projects which get monitored by VersionEye. In that case you will not receive 100 emails every day ;-) You will receive 1 single project email per day with a summary about all your projects.
    </p>
    <p class="l_faq_section">
      We try to send out as less emails as possible and as much as necessary!
    </p>
  
  </div>

</div>
