<div>
	<div style="text-align: center; width: 666px; margin-left: auto; margin-right: auto">
		<%= image_tag "worldmap_sf_ma.jpg", {:width => 666}  %>
		<br/>
		<br/>
		<div style="float:right; text-align:left" >
			<span class="meta-text-bold">VersionEye GmbH i.G.</span><br/>
			<br/>
			<div class="meta-text">
				Neckarauer Waldweg 27<br/>
				68199 Mannheim<br/>
				Germany<br/>
				<br/>
				E-Mail: contact [at] versioneye.com</br>
				Tel: +1-415-967-3497</br>
				</br>
				Amtsgericht: Mannheim</br>
				Handelsregister: Mannheim, HRB i.G.</br>
				USt-IdNr.: i.G.</br>
				Geschäftsführer: Robert Reiz</br>
			</div>
		</div>
		<div style="text-align:left; width: 300px" >
			<span class="meta-text-bold">VersionEye</span><br/>
			<br/>
			<div class="meta-text">
				524 Union Street, #131<br/>
				North Beach<br/>
				San Francisco, CA 94133<br/>
				USA<br/>
				<br/>
				E-Mail: contact [at] versioneye.com</br>
				Tel: +1-415-967-3497</br>
				</br>
			</div>
		</div>	
	</div>
</div>