<% title 'Imprint' %>

<div class="impressum-container" style = "text-align: center;">
  <%= image_tag 'worldmap_sf_b.jpg', {:width => 650}  %>
</div>
<div class = "row">
  <div class="offset1 span4" style="margin-top: 50px;">
    <address>
      <strong>VersionEye GmbH</strong><br/>
      <br />
      Rudolf-Breitscheid-Straße 187<br/>
      14482 Potsdam<br/>
      Germany<br/>
      <br/>
      E-Mail: contact [at] versioneye.com<br />
      Tel: +49 331 97992270<br />
      <br />
      Amtsgericht: Potsdam<br />
      Handelsregister: Potsdam, HRB 26748 P<br />
      USt-IdNr.: DE282045007<br />
      CEO: Robert Reiz<br />
    </address>
  </div>
</div>
