<div>
	<div class="impressum-container" >
		<%= image_tag "worldmap_sf_b.jpg", {:width => 666}  %>
		<br/>
		<br/>
		<div class="impressum-right" >
			<span class="meta-text-bold">VersionEye GmbH</span><br/>
			<br/>
			<div class="meta-text">
				Invalidenstraße 50/51<br/>
				10557 Berlin<br/>
				Germany<br/>
				<br/>
				E-Mail: contact [at] versioneye.com</br>
				Tel: +49 621 18068183</br>
				</br>
				Amtsgericht: Berlin / Charlottenburg</br>
				Handelsregister: Berlin, HRB 144242 B</br>
				USt-IdNr.: DE282045007</br>
				Geschäftsführer: Robert Reiz</br>
			</div>
		</div>
		<div class="impressum-left" >
			<span class="meta-text-bold">VersionEye</span><br/>
			<br/>
			<div class="meta-text">
				524 Union Street, #131<br/>
				North Beach<br/>
				San Francisco, CA 94133<br/>
				USA<br/>
				<br/>
				E-Mail: contact [at] versioneye.com</br>
				Tel: +1-415-967-3497</br>
				</br>
			</div>
		</div>	
	</div>
</div>