<% title 'Impressum' %>

<div class="impressum-container" style = "text-align: center;">
  <%= image_tag 'worldmap.jpg', {:width => 650}  %>
</div>
<div class = "row">
  <div class="offset1 span4" style="margin-top: 50px;">
    <address>
      <strong>VersionEye GmbH</strong><br/>
      <br/>
      Julius-Hatry-Str. 1<br/>
      68163 Mannheim<br/>
      Germany<br/>
      <br/>
      E-Mail: contact [at] versioneye.com<br />
      Tel: +49 621 18068183<br />
      <br />
      Amtsgericht: Mannheim<br />
      Handelsregister: Mannheim, HRB 720830<br />
      USt-IdNr.: DE282045007<br />
      Geschaeftsfuehrer: Robert Reiz<br />
    </address>
  </div>
  <div class="span5" style="margin-top: 50px;">
    <%= image_tag "mafinex.jpg", :class => "img-rounded" %>
  </div>
</div>

