<%= image_tag "worldmap_sf_ma.jpg", {:width => 666}  %>
<br/>
<br/>
<table>
	<tr>
		<td>
			<span style="font-weight: bold">VersionEye</span><br/>
			524 Union Street, #131<br/>
			North Beach<br/>
			San Francisco, CA 94133<br/>
			USA<br/>
		</td>
		<td style="vertical-align: top">
			<span style="font-weight: bold">VersionEye GmbH i.G.</span><br/>
			Neckarauer Waldweg 27<br/>
			68199 Mannheim<br/>
			Germany<br/>
		</td>
	</tr>
</table>