<% title 'Imprint' %>

<div class="impressum-container" style = "text-align: center;">
  <%= image_tag 'worldmap_sf_b.jpg', {:width => 650}  %>
</div>
<div class = "row">
  <div class="offset1 span4" >
    <address>
      <strong>VersionEye</strong><br/>
      <br/>
      524 Union Street, #131<br/>
      North Beach<br/>
      San Francisco, CA 94133<br/>
      USA<br/>
      <br/>
      E-Mail: contact [at] versioneye.com<br />
      Tel: +1-415-967-3497<br />
      <br />
    </address>
  </div>
  <div class="offset1 span4">
    <address>
      <strong>VersionEye GmbH</strong><br/>
      <br />
      Invalidenstraße 50/51<br/>
      10557 Berlin<br/>
      Germany<br/>
      <br/>
      E-Mail: contact [at] versioneye.com<br />
      Tel: +49 331 97992270<br />
      <br />
      Amtsgericht: Berlin / Charlottenburg<br />
      Handelsregister: Berlin, HRB 144242 B<br />
      USt-IdNr.: DE282045007<br />
      CEO: Robert Reiz<br />
    </address>

    <address>
      <strong>Shipping Address</strong><br/>
      <br />
      Rudolf-Breitscheid-Straße 187<br/>
      14482 Potsdam<br/>
      Germany<br/>
      <br/>
    </address>
  </div>
</div>
