<script type='text/javascript' src='http://static.firebase.com/v0/firebase.js'></script>
<script>
	var messageListRef = new Firebase('http://gamma.firebase.com/_versioneye');
	messageListRef.limit(50).on('child_added', function(snapshot, prevName) {
		var messageInfo = snapshot.val();
		if (messageInfo && messageInfo.package && messageInfo.version && messageInfo.url){
			var product = messageInfo.package;
			if (messageInfo.name) {
				product = messageInfo.name
			}
			var version = messageInfo.version;
			var url = messageInfo.url;
			var type = messageInfo.type; 
			var content = "<div class='searchResult' >"
			content += "<ul class='list-row'>"
			content += "<li class='list-cell icon-cell'>"
			if (type && type == "RubyGem" )
				content += "<img src='/assets/prod_type/logo_ruby.png' alt='Ruby'></img>";
			else if (type && type == "PIP")
				content += "<img src='/assets/prod_type/logo_python.png' alt='Python'></img>";
			else if (type && type == "npm")
				content += "<img src='/assets/prod_type/logo_npm.png' alt='Node.js'></img>";
			else if (type && type == "Maven2")
				content += "<img src='/assets/prod_type/logo_java.png' alt='Java'></img>";
			else 
				content += "<img src='/assets/eye_off.png' alt='Software'></img>";						
			content += "</li>"
			content += "<li class='list-cell'><a class='searchResultLink' href='"+url+"'>"+product+" - (" + version + ")</a></li>"
			content += "</ul>"
			content += "</div>"
			$('#searchresults').prepend(content)
		}	  
	});
</script>

<ul class="list-row">
	<li class="list-cell icon-cell"></li>
	<li class="list-cell"></li>
</ul>


<div class="sidebar">
	
	:-)
	
</div>
<div class="content" >
	<h1>Newest Versions / Latest Versions!</h1>
	
	<div class="info-text">
		Check out the newest versions. This is a live stream to our Backend System! This live stream is based on <a href="http://www.firebase.com">Firebase</a>!<br/>
		<br/>
		You don't need to reload this page! Every time a new version is detected it will be added to the top of this list. 
	</div>
	
	<div class="searchResults" id="searchresults" ></div>

</div>
