<script type='text/javascript' src='http://static.firebase.com/v0/firebase.js'></script>
<script>
	start_firebase(30);
</script>

<div class="sidebar">
	
	:-)
	
</div>
<div class="content" >
	<h1>Newest Versions / Latest Versions!</h1>
	
	<div class="info-text">
		Check out the newest versions. This is a live stream to our Backend System! This live stream is based on <a href="http://www.firebase.com">Firebase</a>!<br/>
		<br/>
		You don't need to reload this page! Every time a new version is detected it will be added to the top of this list. 
	</div>
	
	<div id="newest" class="searchResults"  >
		<div id="loadingbar" style="text-align: center">
			<%= image_tag "loadingbar.gif" %>
		</div>
	</div>

</div>