<% title 'Nutzungsbedingungen'%>

<p class="subtitle">
	zur Nutzung von und Registrierung unter
	www.versioneye.com
</p>
<p class="version">
	Version <strong>1.1</strong> / Stand 10.05.2012
</p>
<p>
	Gelangen Sie hier zur druckbaren Version (<a href="/docs/VersionEye_NUTZUNGSBEDINGUNGEN_de_V1.1.pdf">PDF</a>)<br/>
	Englische Version: <%= link_to "Terms of Use", terms_path  %>
</p>
<h5>
	1. Geltungsbereich der Nutzungsbedingungen
</h5>
<p>
	Die Firma VersionEye GmbH, Julius-Hatry-Str. 1, D-68163 Mannheim (im Folgenden: Anbieter) betreibt unter www.versioneye.com einen Internetauftritt (im Folgenden: Website), der es ermöglicht, nach Registrierung kostenlos per E-Mail oder Smartphone über neue Versionen von Produkten (beispielsweise von Java-Bibliotheken) informiert zu werden (im Folgenden: Service).
</p>
<p>
	Diese Nutzungsbedingungen gelten gegenüber allen registrierten Nutzern der Website (im Folgenden: Nutzer). Mit der Registrierung stimmt der Nutzer der ausschließlichen Geltung dieser Nutzungsbedingungen zu.
</p>
<p>
	Der Geltung von eigenen AGB des Nutzers wird vorsorglich ausdrücklich widersprochen.
</p>
<p>
	Es gilt jeweils die zum Zeitpunkt der Registrierung aktuelle Version der Nutzungsbedingungen, welche auch immer auf der Website direkt in der aktuellen Fassung einsehbar und ausdruckbar zur Verfügung steht.
</p>
<h5>
	2. Änderungen der Nutzungsbedingungen
</h5>
<p>
	Der Anbieter behält sich das Recht vor, die Nutzungsbedingungen zu ändern. Der Nutzer wird über die Änderungen ausdrücklich in geeigneter Weise informiert und auf die – hervorgehobenen – geänderten Passagen hingewiesen. In der Regel erfolgt der Hinweis durch Veröffentlichung auf der Website unter dem dafür jeweils vorgesehenem Menüpunkt. Dem Anbieter bleibt jedoch vorbehalten, wie der Nutzer auf die Änderungen aufmerksam gemacht wird.
</p>
<p>
	Gibt der Nutzer nicht innerhalb von sechs (6) Wochen nach Information über die Neufassung zu erkennen, dass er die Neufassung nicht akzeptiert, ist dies eine stillschweigende Zustimmung und ab diesem Zeitpunkt gilt die Neufassung. Der Anbieter verpflichtet sich mit der Information über die Änderungen den Nutzer auf diese Bedeutung seines Verhaltens besonders hinzuweisen.
</p>
<p>
	Im Falle eines fristgemäßen Widerspruchs des Nutzers ist der Anbieter berechtigt, die Registrierung zur Nutzung des Service der Website zu dem Zeitpunkt zu beenden, zu dem die neu gefassten Nutzungsbedingungen in Kraft treten sollen.
</p>
<h5>
	3. Vertragsgegenstand, Leistungen, Funktionalitäten, Erreichbarkeit
</h5>
<p>
	Der Anbieter stellt dem Nutzer nach Registrierung die Möglichkeit zur Verfügung, über das Erscheinen neuer Versionen von Produkten (beispielsweise von Java-Bibliotheken) u.ä. per E-Mail oder Smartphone informiert zu werden.
</p>
<p>
	Der Nutzer erhält durch die Registrierung eine Zugangsmöglichkeit zur Nutzung des Service (im Folgenden: Account). Der Account beinhaltet die einfache, jederzeit frei widerrufliche und nicht übertragbare Berechtigung zur Nutzung des Service.
</p>
<p>
	Es gibt kostenlose Accounts und kostenpflichtige Accounts. Bei einem kostenlosen Account wird der Anbieter Werbebotschaften an die vom Nutzer angegebene Emailadresse übermitteln (vgl. unten Ziffer 5). Bei einem kostenpflichtigen Account entfällt die Übermittlung von Werbung. Zusätzlich stehen dem Nutzer verschiedene zusätzliche Features – abhängig von der Art des gewählten kostenpflichtigen Account – zur Verfügung.
</p>
<p>
	Der Anbieter behält sich vor, jederzeit auch ohne Ankündigung Accounts zu löschen oder zu sperren.
</p>
<p>
	Verschiedene Nutzungsmöglichkeiten der Website können jederzeit unangekündigt angepasst, also entweder erweitert oder eingestellt, werden. Der Nutzer erwirbt keinen Anspruch darauf, dass bestimmte Funktionalitäten und Nutzungsmöglichkeiten bestehen, bestehen bleiben oder zukünftig eingerichtet werden.
</p>
<p>
	Der Anbieter gewährleistet für die kostenfreie Nutzung des Service keine bestimmte Erreichbarkeit. Der Anbieter ist selbstverständlich bemüht ein Höchstmaß an Erreichbarkeit im Rahmen seines Einflussbereichs zu ermöglichen.
</p>
<p>
	Der Anbieter kann jederzeit den Zugang zu den Leistungen beschränken, sofern die Sicherheit des Netzbetriebes, die Aufrechterhaltung der Netzintegrität, insbesondere die Vermeidung schwerwiegender Störungen des Netzes, der Software oder gespeicherter Daten dies erfordern.
</p>
<h5>
	4. Registrierung, Zugangsdaten
</h5>
<p>
	Der Nutzer kann auch ohne Registrierung die Suchfunktion des Service nutzen. Will der Nutzer aber der Aktualisierung einer Bibliothek folgen, muss er sich vorab registrieren. Eine anonyme Registrierung unter Pseudonym ist möglich, es muss jedoch eine tatsächlich existierende und verfügbare E-Mailadresse des Nutzers angegeben werden. Der Nutzer versichert, dass er die von ihm angegebene E-Mailadresse auch tatsächlich nutzt und diese Adresse existiert. Ein Anspruch auf Registrierung bzw. auf Gewährung der Nutzung durch den Anbieter besteht in keinem Fall.
</p>
<p>
	Der Nutzer wählt sich bei der Registrierung selbst ein Passwort, mit dem er sich künftig „Einloggen“ kann. Der Nutzer ist für die Sicherheit und die Stärke dieses Passwortes selbst voll verantwortlich. Der Anbieter weist darauf hin, dass Passwörter in der Regel mindestens sechs Zeichen aufweisen sollten und möglichst eine Kombination aus Buchstaben, Zahlen und Sonderzeichen. Der Nutzer hat sein Passwort streng geheim zu halten und keinem Dritten weiterzugeben.
</p>
<h5>
	5. Nur bei kostenlosem Account: Einwilligung in Erhalt von Werbung
</h5>
<p>
	Dem Nutzer des kostenfreien Accounts ist bekannt, dass der Anbieter den kostenlosen Service durch Werbung finanzieren muss.
</p>
<p>
	Der Nutzer willigt daher mit der Registrierung darin ein, dass der Anbieter ihm Werbebotschaften an die vom Nutzer angegebene E-Mailadresse zukommen lässt. Der Nutzer muss bei der Registrierung daher eine entsprechende Einwilligungserklärung akzeptieren. Eine Registrierung ist nur unter Abgabe dieser Einwilligungserklärung möglich.
</p>
<p>
	Der – jederzeit mögliche – Widerruf der Einwilligungserklärung bedeutet gleichzeitig die Kündigung des Accounts durch den Nutzer und damit auch den Verlust der Nutzungsmöglichkeit des Service.
</p>
<p>
	Dem Nutzer steht es jederzeit frei einen kostenpflichtigen und werbefreien Account zu bestellen.
</p>
<h5>
	6. Rechte an der Website
</h5>
<p>
	Sämtliche Kennzeichenrechte, Rechte an geschäftlichen Bezeichnungen, Namensrechte, Markenrechte, Urheberrechte, Leistungsschutzrechte und sonstige Rechte an der Website selbst, ihren einzelnen grafischen und textlichen Elementen und ihren Funktionalitäten und Diensten stehen alleine dem Anbieter zu und dürfen ohne vorherige schriftliche Zustimmung des Anbieters nicht genutzt, verbreitet, kopiert, vervielfältigt, öffentlich Zugänglich gemacht, aufgeführt, gesendet oder sonst wie verwertet werden. Eine Übertragung von Verwertungs- oder sonstigen Rechten auf den Nutzer findet nicht statt.
</p>
<h5>
	7. Eingestellte Texte &amp; Kommentare / Verhaltensmaßregeln
</h5>
<p>
	Der Nutzer kann die verschiedenen Bibliotheken auch bewerten und Kommentare hinterlassen.
</p>
<p>
	Der Nutzer ist selbst und alleine für alle von ihm eingestellten Texte, Kommentare etc. verantwortlich.
</p>
<p>
	Der Nutzer verpflichtet sich die Rechte Dritter zu wahren, insbesondere deren Persönlichkeitsrechte sowie Nutzungs-, Leistungsschutz- und Verwertungsrechte. Soweit der Nutzer Texte und Kommentare einstellt versichert er, entweder selbst die hierfür erforderlichen Rechte zu haben (z.B. in dem er den Text selbst geschrieben hat) oder zumindest vorab sich die nötige Zustimmung von dem, jeweiligen Rechteinhaber beschafft zu haben.
</p>
<p>
	Der Nutzer verpflichtet sich keine pornographischen, gegen die guten Sitten verstoßende oder rechtswidrige Inhalte gleich welcher Art einzustellen. Dazu gehören z.B. auch jugendgefährdende, rechts- oder linksradikale, anstößige, menschenverachtende, gewaltverherrlichende, kinderpornographische, beleidigende, verleumderische oder sonstige vergleichbare Inhalte. Gleiches gilt für die Verlinkung zu solchen oder vergleichbaren Inhalten.
</p>
<p>
	Inhalte, die unter dem Verdacht stehen Rechte zu verletzen, können vom Anbieter unmittelbar ohne Rücksprache jederzeit korrigiert bzw. gelöscht werden.
</p>
<p>
	Der Nutzer wird alle Inhalte nach bestem Wissen erstellen, insbesondere seine Bewertungen und Kommentare ehrlich und ohne Schädigungs- bzw. Täuschungsabsicht zu erstellen.
</p>
<p>
	Der Nutzer verpflichtet sich, keine Versuche zu unternehmen, unberechtigt an Daten anderer Nutzer zu gelangen oder auf welche Art auch immer Daten Dritter unrechtmäßig zu erlangen, aufzuspüren, weiterzugeben, zu verändern oder zu missbrauchen.
</p>
<p>
	Der Nutzer ist dafür verantwortlich, dass von ihm eingestellte Inhalte frei von Schadsoftware, Malware, Viren, Trojanern oder sonstigen Programmen bzw. Code sind.
</p>
<p>
	Der Nutzer verpflichtet sich, die Einhaltung dieser Regeln jeweils vor dem Einstellen von Inhalten zu prüfen.
</p>
<p>
	Der Anbieter ist weder für Nutzungshandlungen des Nutzers noch für solche von Dritten, insbesondere Besuchern und Gästen der Website verantwortlich.
</p>
<p>
	Der Nutzer willigt mit dem Hochladen bzw. Einstellen eigener Inhalte automatisch darin ein, dass dem Anbieter an diesen Inhalten eigene Nutzungsrechte übertragen werden. Dies gilt insbesondere, aber nicht ausschließlich für Textbeiträge, die der Nutzer einstellt. Der Anbieter ist berechtigt, insbesondere diese Textbeiträge des Nutzers wie eigene zu verwerten und zu nutzen. Dies gilt auf unbestimmte Zeit, auch über die Dauer des Vertrags- bzw. Nutzungsverhältnisses zwischen dem Nutzer und dem Anbieter hinaus.
</p>
<h5>
	8. Sperrung, Löschung von Nutzern bzw. Accounts
</h5>
<p>
	Den Ausschluss einzelner Nutzer behält sich der Anbieter vor. Der Anbieter ist berechtigt, bestimmte Accounts zu löschen, zu sperren und/oder diese Accounts an der Teilnahme des Service oder bestimmten Funktionalitäten bzw. Nutzungsmöglichkeiten zu hindern. Bei kostenpflichtigen Accounts gilt dies im Falle des Vorliegens eines wichtigen Grundes zur außerordentlichen Kündigung. Ein solcher Grund liegt insbesondere vor, wenn tatsächliche Anhaltspunkte vorliegen, die den Verdacht begründen, dass
</p>
<p>
	<ul>
		<li>von dem Nutzer über den Account Straftaten begangen wurden oder werden;</li>
		<li>der Nutzer rechtswidrigen Inhalt gleich welcher Art eingestellt hat;</li>
		<li>der Nutzer anderweitig schuldhaft gegen diese Nutzungsbedingungen verstößt.</li>
	</ul>
</p>
<p>
	Diese Aufzählung ist nicht abschließend. Der Anbieter wird die Belange des Nutzers, insbesondere vor dem Hintergrund der Schwere des Verstoßes bzw. des Verdachts bei seiner Entscheidung angemessen berücksichtigen.
</p>
<p>
	In Zweifelsfragen obliegt die Beweislast dem Nutzer. Der Nutzer hat darzulegen und nachzuweisen, dass er sich entgegen des Verdachts des Anbieters in Übereinstimmung mit den Regeln verhalten hat bzw. ein Sperrgrund nicht vorliegt.
</p>
<p>
	Die Sperrung bzw. Löschung des Accounts bedeutet bei einem kostenpflichtigen Account zugleich die Kündigung aus wichtigem Grund durch den Anbieter. Ein zu diesem Zeitpunkt noch bestehendes Restguthaben des Nutzers erhält dieser erstattet. Hierbei wird der im Voraus bezahlte Zeitraum anteilig abzüglich des tatsächlich möglichen Nutzungszeitraums ausbezahlt.
</p>
<h5>
	9. Schadensersatz, Haftungsfeistellung
</h5>
<p>
	Der Nutzer ist verpflichtet, dem Anbieter den Schaden zu ersetzen, der diesem aus einer Verletzung der Pflichten des Nutzers entsteht, es sei denn, der Nutzer hat die Pflichtverletzung nicht zu vertreten.
</p>
<p>
	Der Nutzer stellt den Anbieter im Falle der Nichtbeachtung seiner Verpflichtungen von dessen Haftung gegenüber Dritten frei. Er wird dem Anbieter hierdurch entstandenen Schaden, einschließlich Anwaltsgebühren, entgangenen Gewinn u.ä. erstatten. Das gilt nur dann nicht, wenn der Nutzer die Pflichtverletzung nicht zu vertreten hat.
</p>
<h5>
	10. Nutzungsdauer
</h5>
<p>
	Die kostenlose Nutzungsmöglichkeit besteht auf unbestimmte Zeit, die kostenpflichtige Variante besteht so lange, wie der Nutzer die hierfür anfallenden Entgelte vollständig bezahlt.
</p>
<p>
	Der Nutzer hat jederzeit das Recht, seinen Account zu löschen und damit die Nutzung zu beenden. Tut er dies bei einem kostenpflichtigen Account vor Ablauf des bereits bezahlten Zeitraums, erfolgt keine Rückerstattung.
</p>
<p>
	Der Anbieter hat bei einem kostenlosen Account das Recht die Nutzungsmöglichkeit jederzeit zu beenden und den Account des Nutzers umgehend und ohne Ankündigung zu sperren bzw. zu löschen. Bei einem kostenpflichtigen Account kann der Anbieter den Account ordentlich zum Ende des bereits bezahlten Zeitraums kündigen.
</p>
<h5>
	11. Einstellung der Tätigkeit des Anbieters
</h5>
<p>
	Soweit und solange kostenlose Funktionalitäten angeboten und genutzt werden ist der Anbieter jederzeit berechtigt, das Anbieten von Inhalten und die Gewährung des Zugangs auf den Service zu unterbrechen oder auf unbestimmte Zeit oder endgültig zu beenden.
</p>
<p>
	Der Nutzer hat keinen Anspruch auf Nutzung und Zugangsgewährung.
</p>
<h5>
	12. Haftung des Anbieters
</h5>
<p>
	Der Anbieter haftet nur für solche Schäden, die auf vorsätzlicher oder grob fahrlässiger Handlung beruhen.
</p>
<p>
	Der Anbieter haftet auch für Schäden, die sich aus leicht fahrlässigen Verletzungen wesentlicher Vertragspflichten ergeben, dann jedoch beschränkt auf den vorhersehbaren typischen Durchschnittsschaden.
</p>
<p>
	Der Anbieter haftet immer für Schäden an Leben, Körper und Gesundheit, sowie nach dem Produkthaftungsgesetz.
</p>
<h5>
	13. Rechtsordnung, Erfüllungsort, Abtretung, Aufrechnung
</h5>
<p>
	Für die Geltung dieser Nutzungsbedingungen findet ausschließlich das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts Anwendung.
</p>
<p>
	Erfüllungsort ist der Sitz des Anbieters in Deutschland.
</p>
<p>
	Rechte und Pflichten aus diesen Nutzungsbedingungen können nicht abgetreten oder sonst wie übertragen werden, ohne dass die andere Partei zuvor zugestimmt hat.
</p>
<p>
	Der Nutzer kann die Aufrechnung nur mit solchen Gegenansprüchen erklären, die unstreitig oder rechtskräftig festgestellt sind.
</p>
<h5>
	14. Sprache
</h5>
<p>
	Rechtliche verbindlich ist ausschließlich die deutsche Sprachversion dieser Nutzungsbedingungen und sonstiger Regeln/Texte des Anbieters im Zusammenhang mit der Nutzung des Service. Andere Sprachversionen diesen lediglich dem Verständnis und der Information anderssprachiger Nutzer.
</p>
<h5>
	15. Salvatorische Klausel
</h5>
<p>
	Sollte eine der hier geregelten Bestimmungen unwirksam sein oder werden, bleibt die Wirksamkeit der übrigen Bestimmungen hiervon unberührt.
</p>
