
<div style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
	<h2 style="text-align: center;">Coming soon</h2>
	<div>
		VersionEye is following the Freemium model. <br/>
		There will be a free account and a premium account with additional features. 
	</div>
</div>
