<% title 'Conditions of use' %>

<p class="subtitle">
  for the use of and registration at
  www.versioneye.com
</p>
<p class="version">
  Version 1.1 / as at 05/10/2012
</p>
<p>
  German Version: <%= link_to "Nutzungsbedingungen", nutzungsbedingungen_path  %>
</p>
<h5>
  1. Area of application of the Conditions of Use
</h5>
<p>
  VersionEye GmbH (in formation), Invalidenstrasse 50/51, D-10557 Berlin (hereinafter called the “Provider“) operates a web-site (hereinafter called the “Web-site“) at www.versioneye.com which enables the user, after registration, to obtain new versions of products (for example from Java libraries) free of charge via email or smartphone (hereinafter called the “Service”).
</p>
<p>
  The Conditions of Use apply to all registered users of the Web-site (hereinafter called the “Users”). By registering, the User agrees to the exclusive application of these Conditions of Use.
</p>
<p>
  As a precautionary measure the application of the User’s own General Terms and Conditions of Business is expressly contradicted.
</p>
<p>
  On each occasion the version of the Conditions of Use valid at the time of the registration applies. The latest version of the Conditions of Use can always be seen directly on the Website and can also be printed out.
</p>
<h5>
  2. Amendments to the Conditions of Use
</h5>
<p>
  The Provider reserves the right to amend the Conditions of Use. The User will be expressly informed of the amendments in a suitable manner and his/her attention will be drawn to the amended passages which will also be highlighted. Notification will usually take the form of publication on the Website at the menu item provided for this purpose. However, the Provider reserves the right to select the manner in which the User’s attention is drawn to the amendments.
</p>
<p>
  If the User fails to indicate within six (6) weeks of notification of the new version that he/she does not accept the new version, this constitutes tacit consent and the new version applies from this time onwards. When giving notice of the amendment(s), the Provider particularly undertakes to inform the User of the significance of his/her reaction.
</p>
<p>
  In the event that the User objects to the amendment within the time allowed, the Provider is entitled to terminate the User’s registration for the use of the Website Service at the time that the new version of the Conditions of Use are to come into force.
</p>
<h5>
  3. Subject of the contract, services, functionalities, availability
</h5>
<p>
  After registering, the Provider will make it possible for the User to be informed about the appearance of new versions of products (for example, versions of Java libraries) and similar by email or smartphone.
</p>
<p>
  By registering, the User will receive the facility to access the use of the Service (hereinafter called the “Account”). The Account comprises the simple, non-transferable entitlement to use the Service; the entitlement may be freely revoked at any time.
</p>
<p>
  There are free accounts and fee-based accounts. In the case of a free account, the provider will forward sales messages to the e-mail address indicated by the user (cf. Section 5 below). The forwarding of sales messages does not apply with a fee-based account. Furthermore, various additional features – depending on the type of fee-based account chosen – are available to the user.
</p>
<p>
  The various possibilities of using the Website can be amended at any time without notice, i.e. either enhanced or curtailed. The User does not acquire any rights that specific functionalities and possibilities of use exist, will continue to exist or will be established in the future.
</p>
<p>
  The Provider does not guarantee any specific availability in respect of the use of the free Service. However, the Provider will, of course, endeavour to achieve the maximum possible availability within the constraints of his sphere of influence.
</p>
<p>
  The Provider may at any time restrict access to the services in so far as this is necessary for the safety of the operation of the network, the maintenance of the integrity of the network and particularly the avoidance of serious disruption to the network, software or stored data.
</p>
<h5>
  4. Registrations, access data
</h5>
<p>
  The User can also use the Service’s search function without registration. However, if the User wishes to follow the updating of a library, he/she must register in advance. It is possible to register anonymously under a pseudonym but an email address belonging to the User which is currently in existence and available must be indicated. The User affirms that he/she actually uses the email address he/she indicates and that the address exists. Under no circumstances is there any entitlement to registration or to the grant of use of the website by the Provider.
</p>
<p>
  When registering, the User himself/herself will choose a password with which he/she can in future log in. The user himself/herself is wholly responsible for the security and strength of this password. The Provider wishes to point out that passwords should normally consist of at least six characters and, if at all possible, a combination of letters, figures and special characters. The User must keep his/her password strictly secret and not pass it to any third party.
</p>
<h5>
  5. Only for free Accounts: Consent to the receipt of advertising
</h5>
<p>
  The user of the free account is aware that the provider has to finance the free service through advertising.
</p>
<p>
  The user therefore agrees on registration that the provider will send him sales messages at the e-mail address indicated by the user. The user therefore has to accept an appropriate declaration of consent on registration. Registration is only possible with submission of this declaration of consent.
</p>
<p>
  The revocation – possible at any time – of the declaration of consent means at the same time the termination of the account by the user and thus also the loss of the possibility of using the service.
</p>
<p>
  The user is at liberty at all times to order a fee-based and advert-free account.
</p>
<h5>
  6. Rights to the Website
</h5>
<p>
  Only the Provider is entitled to all rights to marks, rights to business-related designations, rights to a name, rights to trade marks, copyright, ancillary copyrights and other rights to the Website itself, its individual graphical and textual components and their functionalities and services and such rights may not be used, circulated, copied, reproduced, made available to the general public, executed, transmitted or otherwise exploited without the Provider’s prior written consent. Rights of exploitation or other rights are not transferred to the User.
</p>
<h5>
  7. Posting of statements and comments / Code of Conduct
</h5>
<p>
  The User may also assess the various libraries and post comments.
</p>
<p>
  The User him/herself bears sole responsibility for all the statements and comments etc. which he/she posts.
</p>
<p>
  The User undertakes to observe the rights of others, particularly their personal rights such as rights of use, ancillary copyrights and rights of exploitation. In so far as the User posts statements and comments, he/she affirms that he/she is in possession of the rights which are necessary for this (in that he/she has written the text him/herself) or that he/she has obtained the necessary consent in advance from the relevant holder of the right.
</p>
<p>
  The User undertakes not to post any content which is pornographic, unlawful or in breach of public morality in any way whatsoever. This also includes, for example, content which is harmful to minors, offensive, personally degrading, insulting and slanderous or which glorifies violence, is of a nature which is left or right extremist, or relates to child pornography or is of any other comparable content. The same applies to links to such or comparable content.
</p>
<p>
  Content which is suspected of infringing rights may be immediately corrected or deleted by the Provider at any time and without consultation.
</p>
<p>
  The User will post all content to the best of his/her knowledge and will, in particular, post his/her assessments and comments in a manner which is honest and which does not seek to damage or deceive.
</p>
<p>
  The User undertakes to make no unauthorised attempt to access the data of other users or to unlawfully access, retrieve, transmit, amend or misuse the data of third parties in any way whatsoever.
</p>
<p>
  The User is responsible for ensuring that content which he/she posts is free from malicious software, malware, viruses, Trojans or other programs and codes.
</p>
<p>
  The User undertakes to check compliance with these rules on each occasion before posting content.
</p>
<p>
  The Provider is neither responsible for the User’s actions in using the Website nor for the actions of third parties, particularly Website visitors and guests.
</p>
<p>
  By uploading and posting his/her own content, the User automatically gives his consent for his/her own rights of use to this content to be transferred to the Provider. This applies in particular but not exclusively to comments which the User posts. The Provider is entitled to exploit and use these comments from the User as if they were his own. This applies for an unlimited period which also extends beyond the end of the term of the contractual and user relationship between the User and the Provider.
</p>



<h5>
  8. Blocking, deletion of Users and Accounts
</h5>
<p>
  The provider shall retain the right to exclude individual users. The provider shall be entitled to delete or to block specific accounts and/or to prevent these accounts from participating in the service or specific functionalities or possible uses. This shall apply with fee-based accounts in the event of the existence of a compelling reason for premature termination. There shall be such a reason, in particular, if there are actual indications that create the suspicion that
</p>

  <div>
    <ul>
      <li>the User has committed or is committing crimes via the Account;</li>
      <li>the User has posted unlawful content of any nature whatsoever;</li>
      <li>the User has culpably infringed these Conditions of Use in any other way.</li>
    </ul>
  </div>

<p>
  This list is not definitive. The provider will appropriately take into account the interests of the user in its decision, particularly against the background of the gravity of the breach or of the suspicion.
</p>
<p>
  The onus of proof shall be incumbent on the user in cases of doubt. The user has to demonstrate and prove that, contrary to the provider's suspicion, he has behaved in compliance with the rules or there is no reason for blocking.
</p>
<p>
  With a fee-based account, the blocking or deletion of the account means at the same time termination by the provider for a compelling reason. A remaining credit balance of the user still existing at that time is reimbursed to the latter. In this connection, the period paid in advance is paid off on a pro rata basis net of the actual possible period of use.
</p>


<h5>
  9. Compensation, indemnification
</h5>
<p>
  The User is obliged to compensate the Provider for loss or damage to the User arising from a breach of the User’s obligations unless the User is not responsible for the breach of the obligations.
</p>
<p>
  In the event of his/her failure to comply with his/her obligations, the User will indemnify the Provider for his liabilities towards third parties. The User will reimburse the Provider for losses arising from failure to comply with the User’s obligations including lawyers‘ fees, lost profits and similar save only in the event that the User is not responsible for the breach of his/her obligations.
</p>

<h5>
  10. Duration of use of the Service
</h5>
<p>
  The free possibility of use exists for an indefinite period and the fee-based version exists as long as the user fully pays the fees accruing for this.
</p>
<p>
  The user has the right at all times to delete his account and thus to end usage. If he does this with a fee-based account before expiry of the period already paid for, no refund shall be effected.
</p>
<p>
  The provider shall have the right with a free account to end the possibility of use at any time and to block or to delete the user's account immediately and without notice. In the case of a fee-based account, the provider may duly terminate the account at the end of the period already paid for.
</p>

<h5>
  11. Cessation of the Provider’s activity
</h5>
<p>
  In so far as and for so long as the free functionalities are offered and used, the Provider is entitled at any time to interrupt the provision of content and the grant of access to the Service or to end such provision for an indefinite period or to end such provision definitively and finally.
</p>
<p>
  The User has no entitlement of use or entitlement to the grant of access.
</p>

<h5>
  12. The Provider’s liability
</h5>
<p>
  The Provider is only liable for such loss or damage as is caused by intent or gross negligence.
</p>
<p>
  The Provider is also liable for loss or damage which arises from the breach of material contractual obligations caused by ordinary negligence but in such cases liability is limited to foreseeable, typical average loss or damage.
</p>
<p>
  The Provider is always liable for loss of life, bodily injury and impairment of health and is also liable under the German Product Liability Act (Produkthaftungsgesetz).
</p  >

<h5>
  13. Legal system, place of performance, assignment, off-setting
</h5>
<p>
  Only the law of the Federal Republic of Germany applies to these Conditions of Use but with the exclusion of the United Nations Convention on Contracts for the International Sale of Goods.
</p  >
<p>
  The place of performance is the Provider’s registered office in Germany.
</p >
<p>
  The rights and obligations arising from these Conditions of Use may not be assigned or transferred in any other way without the prior consent of the other party.
</p  >
<p>
  The user may only assert off-setting against such counter-claims as are uncontested or have been judged to be final and absolute.
</p  >

<h5>
  14. Language
</h5>
<p>
  Only the German-language version of these Conditions of Use and other rules/texts of the Provider in connection with the use of the Service are binding in law. Other language versions are only for the understanding and information of Users speaking other languages.
</p  >

<h5>
  15. Separability clause
</h5>
<p>
  If one of the provisions which is set out here should be or become invalid, the validity of the other provisions remains unaffected thereby.
</p >
