
	<div class="boxContainer" >
		<%= link_to 'News', news_path %><br/>
		<% if signed_in? %>
			<%= link_to 'My News', mynews_path %><br/>
		<% end %>
		<%= link_to 'Hot News', hotnews_path %><br/>
	</div>
