
	<div class="boxHeader">
		Filter
	</div>
	<div class="boxContainer" >
		<%= link_to "News", users_news_path %><br/>
		<%= link_to "My News", users_mynews_path %><br/>
		<%= link_to "Hot News", users_hotnews_path %><br/>
	</div>
