
<div class="col-md-3" >
  <%= render 'news/navi' %>
</div>
<div class="col-md-9">

  <div class="content_header_def" >
    Comments to the hottest packages from the community.
  </div>

  <div class="content" >
    <% if !@comments.nil? && !@comments.empty? %>
      <%= render :partial => "shared/comments", :locals => { :comments => @comments, :show_gravatar => true } %>
    <% end %>
  </div>

</div>
