<div class="sidebar" >	
	<%= render 'news/navi' %>
</div>	
<div class="content">

	<h1>My News</h1>
	<p>
		Comments to the packages you are following. 
	</p>
	
	<% if !@comments.nil? && !@comments.empty? %>
		<%= render :partial => "shared/comments", :locals => { :comments => @comments, :show_gravatar => true } %> 
		<% if !@comments.nil? && !@comments.empty? %> 
			<div style="margin-top: 20px;">
				<%= will_paginate @comments %>
			</div>	
		<% end %>
	<% end %>

</div>