
<div class="span3" >
  <%= render 'news/navi' %>
</div>
<div class="span8">

  <div class="span8 content_header_def" >
    The newest comments from the community.
  </div>

  <div class="span8 content" >
    <% if !@comments.nil? && !@comments.empty? %>
      <%= render :partial => "shared/comments", :locals => { :comments => @comments, :show_gravatar => true } %>
      <% if !@comments.nil? && !@comments.empty? %>
        <div style="margin-top: 20px;">
          <%= will_paginate @comments %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
