<div class="sidebar" >

	<%= render "settings/navi" %>	

</div>
<div class="content">

	<div class="boxHeader">
		Connect
	</div>
	<div class="boxContainer">
		Connect your VersionEye Account with other Networks. In that way you can login 
		with your Twitter, GitHub or Facebook Account. 
	</div>
	<div class="boxContainer" style="padding: 20px 0;">
		
		<div class="div-row" >
			<div class="labelCelBig"><label>Twitter</label></div>
			<div class="inputCel" style="padding-top: 3px;">
				<% if @user.twitter_token && @user.twitter_secret %>
					<span style="color: green">Connected</span>
				<% else %> 
					<a href="/auth/twitter/forward" >
						Connect with Twitter
					</a>
				<% end %>
			</div>
		</div>

		<div class="div-row" >
			<div class="labelCelBig"><label>GitHub</label></div>
			<div class="inputCel" style="padding-top: 3px;">
				<% if @user.github_token %>
					<span style="color: green">Connected</span>
				<% else %> 
					<a href='https://github.com/login/oauth/authorize?client_id=50fb47103b8a3f03b2cd'  >
						Connect with GitHub
					</a>
				<% end %>
			</div>
		</div>

		<div class="div-row" >
			<div class="labelCelBig"><label>Facebook</label></div>
			<div class="inputCel" style="padding-top: 3px;">
				<% if @user.fb_token %>
					<span style="color: green">Connected</span>
				<% else %> 
					<a href='javascript:var popupWindow = window.open(oauth_facebook_link, "popupWindow", "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, menubar=1, resizable=1, width="+winWidth+",height="+winHeigh+"top="+top+", left="+left);' style="margin-right: 5px;" >
						Connect with Facebook
					</a>
				<% end %>
			</div>
		</div>

		

	</div>

</div>