<div class="span3" >

	<%= render "settings/navi" %>	

</div>
<div class="span8">
  <div class="boxHeader">
    Delete
  </div>
	<div class="boxContainer">
    Here you can delete this Account.<br/>
    <br/>
  	<%= form_tag("/settings/destroy", :method => "post") do  %>
      <div style="display:table-row;">
        <div class="labelCelBig">
  		    <%= label_tag(:password) %>
        </div>
        <div class="inputCel">
  		    <%= password_field_tag :password, "", :class => "round" %>
        </div>
      </div>
      <div style="display:table-row;">
        <div class="labelCelBig"></div>
        <div class="inputCel">
          <button type="submit" class="btn btn-large btn-danger" onClick="return confirmAction()" >Delete</button>
        </div>
      </div>
  	<% end %>
  </div>
</div>