<div class="sidebar" >

	<%= render "settings/navi" %>	

</div>
<div class="content">

	<div class="boxHeader">
		Plans & Pricing
	</div>
	<div class="boxContainer" >
		Update your plane to monitor private projects. Open source projects are for free.
	</div>

	<%= render "/shared/pricing" %>

	<br/>

</div>