<div class="span3" >

	<%= render "settings/navi" %>

</div>
<div class="span8">

	<h4> Plans & Pricing </h4>
	<p>
		Update your plane to monitor private projects. Open source projects are for free.
	</p>

	<%= render "/shared/pricing" %>

</div>