<div id = "summary-tables" class = "row-fluid">
  <div class = "plot1 col-md-3"></div>
  <div class = "plot2 col-md-3"></div>
  <div class = "plot3 col-md-3"></div>
  <div class = "plot4 col-md-3"></div>
</div>

<div id = "summary-plots" class = "row-fluid">
  <div class = "plot1 col-md-3"></div>
  <div class = "plot2 col-md-3"></div>
  <div class = "plot3 col-md-3"></div>
  <div class = "plot4 col-md-3"></div>
</div>



<div class = "row">
  <div id = "area3-controls">
    <ul class = "nav nav-pills">
      <li class = "lang-timeline-btn active" data-lang = "clojure"><a href = "#">Clojure</a><li>
      <li class = "lang-timeline-btn" data-lang = "java"><a href = "#">Java</a><li>
      <li class = "lang-timeline-btn" data-lang = "nodejs"><a href = "#">Node.js</a><li>
      <li class = "lang-timeline-btn" data-lang = "python"><a href = "#">Python</a><li>
      <li class = "lang-timeline-btn" data-lang = "php"><a href = "#">Php</a><li>
      <li class = "lang-timeline-btn" data-lang = "ruby"><a href = "#">Ruby</a><li>
      <li class = "lang-timeline-btn" data-lang = "r"><a href = "#">R</a><li>
    </ul>
  </div>
  <div id = "area3" class = "span12"></div>
</div>
