<div id = "summary-tables" class = "row-fluid">
  <div class = "plot1 span3"></div>
  <div class = "plot2 span3"></div>
  <div class = "plot3 span3"></div>
  <div class = "plot4 span3"></div>
</div>

<div id = "summary-plots" class = "row-fluid">
  <div class = "plot1 span3"></div>
  <div class = "plot2 span3"></div>
  <div class = "plot3 span3"></div>
  <div class = "plot4 span3"></div>
</div>



<div class = "row">
  <div id = "area3" class = "span12"></div>
</div>
