<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <!-- use 3rd auth services -->
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
        Authorize with 3rd party service
      </a>
    </div>
    <div id="collapse1" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render partial: "social_signin" %>
      </div>
    </div>
    <!-- signin-->
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
        Login with existing account
      </a>
    </div>
    <div id="collapse2" class="accordion-body collapse">
      <div class="accordion-inner">
        <%=  render partial: "signin_form" %>
      </div>
    </div>
    <!-- sing up -->
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
        Create new account and login
      </a>
    </div>
    <div id="collapse3" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render partial: "signup_form" %>
      </div>
    </div>
  </div>
</div>