<div class="accordion" id="accordion2">
  <div class="accordion-group">
 <!-- sing up -->
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
        <i class="icon-expand-alt"></i> Create new account
      </a>
    </div>
    <div id="collapse3" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= render partial: "signup_form" %>
      </div>
    </div>
    <!-- signin-->
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
        <i class="icon-expand-alt"></i> Login with existing account
      </a>
    </div>
    <div id="collapse2" class="accordion-body collapse">
      <div class="accordion-inner">
        <%=  render partial: "signin_form" %>
      </div>
    </div>
  </div>
</div>
