<!-- signup -->
<form class="form-horizontal" action= "/users?redirect_url=/lottery/verify" method= "POST">
  <div class="form-group">
    <label for="user_fullname" class="col-lg-2 control-label">Your name</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id = "user_fullname" name="user[fullname]" placeholder="Fullname">
    </div>
  </div>
  <div class="form-group">
    <label for="user_email" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="user_email" name = "user[email]" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="user_password" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-10">
      <input type="password" class="form-control" id="user_password" name = "user[password]" placeholder="Password">
      <div class="checkbox">
        <label>
          <input name="user[terms]" type="hidden" value="0">
          <input name="user[terms]" type="hidden" value="0">
          <input type="checkbox" name = "user[terms]" value= "1"> Accept terms
        </label>
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>