<!-- signin -->
<h3> Congratulations! </h3>
<p>
  Your account is now created. Please login with your credentials.
</p>
<form class="form-horizontal" action = "/sessions?redirect_url=/lottery/lucky" method = "POST">
  <div class="form-group">
    <label for="session_email" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id = "session_email" name="session[email]" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="session_password" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-10">
      <input type="password" class="form-control" id  = "session_password" name="session[password]" placeholder="Password">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>

</form>