<!-- signin -->
<h3> Congratulations! </h3>
<p>
  Your account is now created. Please login with your credentials.
</p>
<form id = "signin_form" class="form-horizontal" action = "/sessions?redirect_url=/lottery/libraries" method = "POST">

  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <div class="form-group">
    <label for="session_email" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id = "session_email" name="session[email]" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="session_password" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-10" >
      <input type="password" class="form-control" id  = "session_password" name="session[password]" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="session_password" class="col-lg-2 control-label"></label>
    <div class="col-lg-10" >
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>

</form>
