<div>
  <button class = "btn btn-primary btn-block btn-github"><i class = "icon-github"></i> | Github</button>
  <button class = "btn btn-primary btn-block btn-twitter"><i class = "icon-twitter"></i> | Twitter</button>
</div>
