<div class = "">
  <%= render partial: 'carousel' %>
</div>
<h3>Welcome to VersionEye lottery <%= @user.nil? ? '!' : ", #{@user[:fullname].capitalize}!" %></h3>
<p class = "">
  Sign up for free and follow at least 3 software libraries to
  participate on the lottery for the
  <a href = "http://www.apple.com/ipad-mini/overview" target = "_blank">iPad mini</a>,
  <a href = "http://cubieboard.org/" target = "_blank"> CubieBoard </a> or
  <a href = "http://www.raspberrypi.org/" target = "_blank"> Raspberry Pi </a>.
</p>
<p>
  The lottery is starting on <em> August 1st, 2013</em> and is ending on <em>October 31st, 2013</em>.
</p>

<div class="flash-container col-12 col-lg-12" >
  <% flash.each do |key, value| %>
    <div class="alert flash alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
      <%= value %>
    </div>
  <% end %>
</div>
<% if @user.nil? %>
  <%= render partial: "login" %>
<% else %>
  <a href = "/lottery/libraries" class = "btn btn-success pull-right"> Pick your libraries and take what's yours! </a>
<% end %>
