
<div>
	<h4> Thank you! </h4>
	<p class = "lead"> Our Fortuna has now your ticket</p>
  <p> We hope you'll be the luckiest hacker in world very soon. We stop Fortuna's wheel on 26th August,
    it's already <%= (@deadline == @today) ? 'today' : "in #{(@deadline - Date.today).numerator} days." %>
  </p>
  <p>
      TODO: when there's deadline;
      What happens next bla-bla;
      visit our pages bla-bla;
      Have a question?
      Have a nice day!
  </p>
</div>

<ul class = "media-list">
  <%= render partial: "ticket", collection: @tickets %>
</ul>
