<div>
	<h4> Thank you! </h4>
	<p class = "lead"> You are now successfully registered to lottery!</p>
  <p>
      TODO: when there's deadline; What happens next bla-bla;
      when signed up and state [active/not lucky enough/the luckiest]
      show followed packages; visit our pages bla-bla
  </p>
</div>

<ul class = "media-list">
  <%= render partial: "ticket", collection: @tickets %>
</ul>
