<% title 'Github Repositories' %>

<div class="col-md-3" >
  <%= render '/user/helpers/navi' %>
</div>


<% if !current_user.github_account_connected? %>

  <div class="col-md-9">
    <div class="content_header_def" >
      Connect with GitHub to monitor your GitHub Repositories.
    </div>
    <div class="content " >
      <%= render 'shared/login_with_github', :btn => "signup" %>
    </div>
  </div>

<% else %>

  <div class="col-md-9">
    <div class="content_header_def" >
      Your GitHub Repositories
    </div>

    <% if !current_user.github_scope.to_s.split(",").include?("repo") %>
      <div class="content flash warning" >
         With the current scope VersionEye can only fetch your public repositories.
         If you want VersionEye to monitor your private repositories, you need to grant VersionEye access:<br/><br/>
         <a href='<%= Settings.instance.github_base_url %>/login/oauth/authorize?client_id=<%=Settings.instance.github_client_id%>&amp;scope=repo,user:email' style="margin-right: 5px;" >
           Grant access to private repositories
         </a><br/><br/>
         Unfortunately, GitHub doesn't have a read-only scope for private repositories currently.
         But we promise you that we don't have any git write operations in our code base and we only
         do a lookup for supported project files.
         <br/>
      </div>
    <% end %>

    <div class="content" id="content"> . </div>
  </div>
  <script type="text/javascript">
    React.renderComponent(
      RepoList({url: "/user/github_repos", scm: "github", pollInterval: 3000}),
      document.getElementById('content')
    );
  </script>

<% end %>

