<% title 'Github Repositories' %>

<div class="span3" >
  <%= render '/user/helpers/navi' %>
</div>


<% if !current_user.github_account_connected? %>

  <div class="span8">
    <div class="row content_header_def" >
      Connect with GitHub to monitor your GitHub Repositories.
    </div>
    <div class="content " >
      <%= render 'shared/login_with_github', :btn => "signup" %>
    </div>
  </div>

<% else %>

  <div class="span8">
    <div id="content"> . </div>
  </div>
  <script type="text/jsx">
    /** @jsx React.DOM */

    var store = []

    var RepoList = React.createClass({
      loadReposFromServer: function() {
        $.ajax({
          url: this.props.url,
          dataType: 'json',
          success: function(data) {
            store = data;
            this.setState({data: data, list_size: data.length});
          }.bind(this),
          error: function(xhr, status, err) {
            console.error(this.props.url, status, err.toString());
          }.bind(this)
        });
      },
      getInitialState: function() {
        return {data: [], text: '', list_size: 0};
      },
      componentWillMount: function() {
        this.loadReposFromServer();
        setInterval(this.loadReposFromServer, this.props.pollInterval);
      },
      onChange: function( e ) {
        filtered = [];
        data = store; // this.state.data
        count = 0;
        for (var key in data) {
           if (data.hasOwnProperty(key)) {
              if (data[key]['fullname'].indexOf( e.target.value ) != -1) {
                filtered[key] = data[key];
                console.info(data[key]['fullname'])
                count += 1;
              }
           }
        }
        this.setState({data: filtered, list_size: count, text: e.target.value})
      },
      render: function() {
        var scm_repos = this.state.data.map(function (repo) {
          return (
            <ScmRepo data={repo} />
          );
        });
        return (
          <div >
            <div>
              <input type="text" id="filter_input" value={this.state.text} onChange={this.onChange} />
            </div>
            <div className="scm_meta" >
              {this.state.list_size} Repositories
            </div>
            {scm_repos}
          </div>
        );
      }
    });

    var ScmRepo = React.createClass({
      render: function() {
        return (
          <div className="scm_repo" >
            {this.props.data.fullname}
          </div>
        );
      }
    });

    React.renderComponent(
      <RepoList url="/user/github_repos" pollInterval={200000} />,
      document.getElementById('content')
    );
    // data={data}
  </script>

<% end %>

