<% title 'Github Repositories' %>

<div class="span3" >
  <%= render '/user/helpers/navi' %>
</div>


<% if !current_user.github_account_connected? %>

  <div class="span8">
    <div class="row content_header_def" >
      Connect with GitHub to monitor your GitHub Repositories.
    </div>
    <div class="content " >
      <%= render 'shared/login_with_github', :btn => "signup" %>
    </div>
  </div>

<% else %>

  <div class="span8">
    <div id="content"> . </div>
  </div>
  <script type="text/jsx">
    /** @jsx React.DOM */

    var data = [
      {fullname: "Pete Hunt", text: "This is one comment"},
      {fullname: "Jordan Walke", text: "This is *another* comment"}
    ];

    var RepoList = React.createClass({
      render: function() {
        var scm_repos = this.props.data.map(function (repo) {
          return (
            <ScmRepo data={repo} />
          );
        });
        return (
          <div className="" >
            {scm_repos}
          </div>
        );
      }
    });

    var ScmRepo = React.createClass({
      render: function() {
        return (
          <div className="scm_repo" >
            {this.props.data.fullname}
          </div>
        );
      }
    });

    React.renderComponent(
      <RepoList data={data} />,
      document.getElementById('content')
    );

  </script>

<% end %>

