<% title 'Github Repositories' %>

<div class="col-md-3" >
  <%= render '/user/helpers/navi' %>
</div>

<div class="col-md-9">
  <div class="content_header_def" >
    Files for repository <b><%= @repo.fullname %></b>
  </div>
  <div class="content" id="content"> . </div>
</div>
<script type="text/javascript">
  React.renderComponent(
    RepoFiles({url: "/user/projects/github/<%= @repo.fullname %>/files", scm: "github", pollInterval: 3000, repo_fullname: "<%= @repo.fullname %>" }),
    document.getElementById('content')
  );
</script>
