<div class="sidebar" >
	
	<%= render "/projects/navi" %>
	
</div>	
<div class="content">	
	<% if @projects.nil? || @projects.empty? %>
		<%= render "/projects/create" %>
	<% else %>		
		<div class="searchResults" id="searchresults" >			
			<% @projects.each do |project| %>
				<div class="searchResult" >
					<%= link_to project.name, project, :class => "searchResultLink" %><br/>
					<span class="meta-text-small">Dependencies: <%= project.dep_number %></span>
				</div>
			<% end %>
		</div>
	<% end %>
</div>