    <div class="row" >
      <div class="span3 col2-left-l" >
        <h4>VersionEye has an API</h4>
        <p class="marketing_exp">
          With the VersionEye API you can write custom integrations
          and integrate our service into your workflows.
        </p>
      </div >
      <div class="span7 col2-right-r pull-right" >

        <div class = "row">
          <div class="span1 integration_icon" >
            <i class="icon-beaker" style="font-size: 38px;" ></i>
          </div>
          <div class="span6">
            <h5 class="integration_header"> API </h5>
            <p class="integration_desc">
              Integrate VersionEye into your tools and workflows with our API.<br/>
              <a href="/api?version=v2">VersionEye API</a>
            </p>
          </div>
        </div>

        <div class = "row">
          <div class="span1 integration_icon" >
            <span class = "icon_enterprise"></span>
          </div>
          <div class="span6">
            <h5 class="integration_header"> Enterprise </h5>
            <p class="integration_desc">
              Enterprise features are coming soon.
            </p>
          </div>
        </div>

        <div class = "row">
          <div class="span1 integration_icon" >
            <span class="icon_dependency off marketing-icon" style="height: 62px; margin-left: -7px;" ></span>
          </div>
          <div class =  "span6">
            <h5 class="integration_header"> Visualizing Dependencies </h5>
            <p class="integration_desc">
              VersionEye visualizes recursive dependencies and
              makes complexity visible.<br/>
              <a href="/ruby/rails/3.2.13">Watch example</a> or graphs on <a href="http://pinterest.com/versioneye/pins/" target="new_pinterest">Pinterest</a>

            </p>
          </div>
        </div>

      </div>

    </div>
