
<div id="search_section" class="search_container" >

  <div id="search_bar"  >
    <form id="form" action="/search" method="GET" style="padding: 0; margin:0;" >
      <div class="input-append">
        <input id="q" name="q" class="typeahead input-huge" type="text" placeholder="Search for a software library" autofocus="autofocus" autocomplete="off" >
        <button class="btn btn-primary btn-huge" type="submit" >
          Search
        </button>
      </div>
    </form>
  </div>
  
  <% if !@languages.nil? && !@languages.empty? %>
    <ul class="list-inline intro-social-buttons">
      <% @languages.each do |language| %>
        <li>
          <% langname = language.downcase.gsub(/\./, "") %>
          <a href="<%=language%>">
            <span  id="icon_<%= langname %>" class="icon_<%= langname %> small on" title="<%= langname %>">&nbsp;</span>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>

</div>
