    <div class="row" >
      <div class="span3 col2-left-l" >
        <h4>VersionEye is very easy to use</h4>
        <p class="marketing_exp">
          VersionEye makes it easy for you to stay up to date
          with your repositories. We feature an easy to use upload,
          URL and GitHub integration.
        </p>
      </div >
      <div class="span7 col2-right-r pull-right" >

        <div class = "row">
          <div class="span1 integration_icon" >
            <span class="icon_gitcat" style="margin-left: -10px;"></span>
          </div>
          <div class =  "span6">
            <h5 class="integration_header"> GitHub </h5>
            <p class="integration_desc">
              Monitor your GitHub repositories to get periodical
              E-Mail notifications about outdated dependencies in your
              projects.<br/>
              <a href='https://github.com/login/oauth/authorize?client_id=50fb47103b8a3f03b2cd'>Login via GitHub</a>
            </p>
          </div>
        </div>
        <div class = "row">
          <div class="span1 integration_icon" >
            <span class = "icon_www"></span>
          </div>
          <div class = "span6">
            <h5 class="integration_header"> URL </h5>
            <p class="integration_desc">
              Put in the URL to your project file and VersionEye
              will fetch it every day and notify you about outdated
              dependencies.
            </p>
          </div>
        </div>
        <div class = "row">
          <div class="span1 integration_icon" >
            <span class = "icon_upload"></span>
          </div>
          <div class="span6">
            <h5 class="integration_header"> Upload </h5>
            <p class="integration_desc">
              Just upload your project file and VersionEye will
              show you the outdated dependencies.
            </p>
          </div>
        </div>

        <div class = "row">
          <div class="span1 integration_icon" >
            <span class="icon_dependency off marketing-icon" style="height: 62px; margin-left: -7px;" ></span>
          </div>
          <div class =  "span6">
            <h5 class="integration_header"> Visualizing Dependendencies </h5>
            <p class="integration_desc">
              VersionEye visualises recursive dependencies and
              makes complexity visible.<br/>
              <a href="/ruby/rails/3.2.13">Watch example</a>
            </p>
          </div>
        </div>

        <div class = "row">
          <div class="span1 integration_icon" >
            <span class = "icon_enterprise"></span>
          </div>
          <div class="span6">
            <h5 class="integration_header"> Enterprise </h5>
            <p class="integration_desc">
              Enterprise features coming soon.
            </p>
          </div>
        </div>

        <div class = "row">
          <div class="span1 integration_icon" >

          </div>
          <div class="span6">
            <h5 class="integration_header"> API </h5>
            <p class="integration_desc">
              With our API your can integrate VersionEye into your tools and workflows. <br/>
              <a href="/api?version=v2">VersionEye API</a>
            </p>
          </div>
        </div>
      </div>

    </div>
