    <div class="row" >
      <div class="span3 col2-left-l" >
        <h4>VersionEye is very easy to use</h4>
        <p class="marketing_exp">
          VersionEye makes it easy for you to stay up to date
          with your repositories. We feature an easy to use upload,
          URL, GitHub &amp; Bitbucket integration.
        </p>
      </div >
      <div class="span7 col2-right-r pull-right" >

        <div class = "row">
          <div class="span1 integration_icon" >
            <span class="icon_gitcat" style="margin-left: -10px;"></span>
          </div>
          <div class =  "span6">
            <h5 class="integration_header"> GitHub </h5>
            <p class="integration_desc">
              Monitor your GitHub repositories to get periodical
              email notifications about outdated dependencies in your
              projects.<br/>
              <a href='https://github.com/login/oauth/authorize?client_id=50fb47103b8a3f03b2cd'>Login via GitHub</a>
            </p>
          </div>
        </div>
        <div class = "row">
          <div class="span1 integration_icon" >
            <span style="font-size: 50px;"><i class = "icon-bitbucket"></i></span>
          </div>
          <div class =  "span6">
            <h5 class="integration_header"> Bitbucket </h5>
            <p class="integration_desc">
              Monitor your Bitbucket repositories to get periodical
              email notifications about outdated dependencies in your
              projects.<br/>
              <a href='<%= auth_bitbucket_signin_url %>'>Login via Bitbucket</a>
            </p>
          </div>
        </div>
        <div class = "row">
          <div class="span1 integration_icon" >
            <span class = "icon_www"></span>
          </div>
          <div class = "span6">
            <h5 class="integration_header"> URL </h5>
            <p class="integration_desc">
              Let VersionEye know where your project file is located on the Internet
              and it will fetch it every day and notify you about outdated
              dependencies.
            </p>
          </div>
        </div>
        <div class = "row">
          <div class="span1 integration_icon" >
            <span class = "icon_upload"></span>
          </div>
          <div class="span6">
            <h5 class="integration_header"> Upload </h5>
            <p class="integration_desc">
              Just upload your project file and VersionEye will
              show you the outdated dependencies.
            </p>
          </div>
        </div>

      </div>

    </div>
