
<div class="box header no_border" >
  <h3 class="side_header">
    Share
  </h3>
</div>
<div class="box content" >
  <ul class="list-social" >
    <%= render 'shared/share_buttons' %>
  </ul>
  <%= render :partial => "shared/dependency_badge", :locals => { :project => @product } %>
  <%= render :partial => "shared/ref_badge" %>
</div>
