
<div class="box header no_border" >
  <h3 class="side_header">
    Share
  </h3>
</div>
<div class="box content" >
  <%= render :partial => "shared/dependency_badge", :locals => { :project => @product } %><br/>
  <%= render :partial => "shared/ref_badge" %>
</div>
