
<div class="box content" >
  <ul class="list-social" >
    <%= render 'shared/share_buttons' %>
  </ul>
  <%= render :partial => "shared/dependency_badge", :locals => { :project => @product } %>
</div>
