
<div class="row" >
  <div class="span10 l_padding_surround" >
    <h2 class="no_margin" > What is VersionEye? </h2>
    <p class="l_padding_top large_font">
      VersionEye helps to keep your software project up to date.
      Let VersionEye monitor your repositories to get notified
      about outdated dependencies in your software projects.
    </p>
  </div>
</div>
