
    <div class="row" >
      <div class="span6 col2-left" >
        <h2 class="no_margin" > What is VersionEye </h2>
        <p style = "font-size: 16px; padding-top: 30px;">
          VersionEye helps keep your software project up to date.
          Let VersionEye monitor your repositories to get notified
          about outdated dependencies in your software projects.
        </p>
      </div>
      <div class="span4 col2-right pull-right" >
        <span class = "logo_eye"> </span>
      </div>
    </div>
