
<div class="marketing" >
  <h2>Because software libraries don't update themselves</h2>
  <p>They just become out-dated!</p>
</div>
<div class="marketing" >
  <h2>Because software libraries are not like iPhone apps</h2>
  <p>They are passive! They don't tell you that they are out-dated!</p>
</div>
<div class="marketing" >
  <h2>Because software developers are wasting time with ...</h2>
  <p>looking manually for updates. Save time and money by automating this process.</p>
</div>

<hr/>

<div class="row" >
  <div class="span10 l_padding_surround" >
    <p class="l_padding_top">
      Because core committers of open source projects don't release new versions just for fun.
      Releasing a new version of an open source project is a lot of work. An artifact
      has to be build and published. Documentation needs to be updated and a releasenote
      has to be generated. If it's a major version a migration path has to be written.
      And in most cases the core comitters even don't get paid for this work. So they
      think twice before they release a new version. And every time they do so they have
      a very good reason for it. For example:
    </p>

    <ul class="large_font l_padding_vert_7">
      <li><b>Bug Fixes</b></li>
      <li><b>Security Fixes</b></li>
      <li><b>New Features</b></li>
    </ul>

    <p >
      This are all good reasons for you to update your dependencies to the newest version.
      If you don't update you are missing bug &amp; security fixes and new features!
    </p>
    <p >
      Check out the slides to
      <a href="https://speakerdeck.com/reiz/continuous-updating" target="contupdate">Continuous Updating</a>
      and don't forget to run your tests after
      the update. We don't recommend to use continuous updating without
      <a href="http://en.wikipedia.org/wiki/Continuous_testing" target="conttesting">continuous testing</a>,
      <a href="http://en.wikipedia.org/wiki/Continuous_Integration" target="contint" >continuous integration</a> and <a href="http://semver.org" target="semver">semantic versioning</a>.
    </p>
  </div>
</div>
