<div align="center">
	<div>
		Crawles 
	</div>	
	<div class="searchResults">
		<% if !@crawles.nil? %>
			<% @crawles.each do |crawle| %>
				<div class="searchResult">
					<%= link_to crawle.repository_src, crawle_path(crawle.to_param), :class => "searchResultLink" %><br/>
					<span class="searchResultMeta">Crawler: <%= crawle.crawler_name_and_version %></span><br/>
					<% if crawle.errors.count() > 0 %>
						<span class="searchResultMeta" style="color: red; font-weight:bold">Errors: <%= crawle.errors.count() %></span>
					<% end %>
					<% if !crawle.duration.nil? %>
						<span class="searchResultMeta" style="color: green; font-weight:bold"> Duration: <%= crawle.duration.strftime("%H:%M ") %></span>
					<% end %>
				</div>				
			<% end %>
		<% end %>
	</div>
</div>