
<div style="margin-top: 40px;">
  <a href="https://www.getdigital.eu/Minecraft-Creeper-Vinyl-Figure.html?her=veye" target="getdigital" alt="minecraft" title="minecraft">
    <%= image_tag "minecraft_figures.png", :style => 'width: 100%' %>
  </a>
</div>
