<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>From: <%= @name %></p>
		<p>E-Mail: <%= @email %></p>
		<p>Feedback: <%= @feedback %></p>
	</body>
</html>