<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hey, </p>
		<p>
    <%= @user.fullname %> you're now successfully subscribed to VersionEye.
    Thank you!
    </p>
		<p>
			Your's profile: <a href="http://www.versioneye.com/users/<%= @username %>">http://www.versioneye.com/users/<%= @username %></a></br>
		</p>
	</body>
</html>
