<div class="span3" >
  <%= render 'settings/navi' %>
</div>

<div class="span8" >

  <div class="row content_header_def" >
    Plans &amp; Pricing - Manage your subscription here
  </div>

  <div class="span8 content" >
    <p>
      Monitoring open source projects is for free! <br/>
    </p>
    <hr />
    <%= render "pricing" %>
  </div>
</div>
