<div class="col-md-3" >
  <%= render 'settings/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Plans &amp; Pricing - Manage your subscription here
  </div>

  <div class="content" >
    <p>
      Open source projects are for free! We only charge a small fee for monitoring project files in private GitHub/Bitbucket repositories.<br/>
      <% if current_user.free_private_projects > 0 %>
        <br/>
        You can monitor <b><%= current_user.free_private_projects %></b> project files in private repositories, for free!
      <% end %>
    </p>
    <hr />

    <%= render "pricing" %>

    <p>
      Send a message to <a href="mailto:support@versioneye.com">support@versioneye.com</a> if you need higher plans.
    </p>
    <% if has_current_plan?( current_user ) %>
      <p>
        <a href="/settings/creditcard">Update Credit Card</a>
      </p>
    <% end %>

  </div>

</div>
