<div class="col-md-3" >
  <%= render 'settings/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Plans &amp; Pricing - Manage your subscription here
  </div>

  <div class="content" >
    <p>
      Open source projects are for free! We only charge a small fee for monitoring project files in private GitHub/Bitbucket repositories.<br/>
      <% if current_user.free_private_projects > 0 %>
        <br/>
        You can monitor <b><%= current_user.free_private_projects %></b> project files in private repositories, for free!
      <% end %>
    </p>
    <hr />

    <%= render "pricing" %>

    <% now = DateTime.now %>
    <% oct = DateTime.parse "2015-10-01" %>
    <% if now < oct %>
      <div style="padding: 30px 0 10px 0; font-size: 18px; font-weight: bold;">
        Old plans. Only available for this month.
      </div>
      <%= render "old_pricing" %>
    <% end %>

    <% if has_current_plan?( current_user ) %>
      <p>
        <br/>
        <a href="/settings/creditcard">Update Credit Card</a>
      </p>
    <% end %>
  </div>

</div>
