Hey <%= @user.fullname %>,
<p>
  We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately:
</p>
<ul>
  <li>
    <b>Semantic Versioning:</b> Semantic versioning is something every software developer should know about. Now we mark version numbers green if they are conform with semantic versioning. Check out our <a href="http://blog.versioneye.com/2014/01/16/semantic-versioning/">beginners guide to semantic versioning</a>.
    <br/><br/>
  </li>
  <li>
    <b>Submit new packages:</b> If you want to get notified about new versions of projects we don't track yet, you can now submit them to us and we will integrate them into our crawling framework. Read mor that <a href="http://blog.versioneye.com/2014/01/16/submit-new-packages/">here</a>.
    <br/><br/>
  </li>
  <li>
    <b>Follow All:</b> Now you can follow multiple software libraries with one single click.
    Read more <a href="http://blog.versioneye.com/2014/01/16/follow-all/">here</a><br/><br/>
  </li>
</ul>
<p>
  And since we like continuous updating, we did many small improvements on the VersionEye page as well.
</p>
<p>
  We'd love to hear your feedback!
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com?utm_medium=email&amp;utm_source=newsletter">http://www.versioneye.com</a>
<br/>
