<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head >
		<title>VersionEye</title>
	</head>

	<body style="color: #22211f;
				background-color: lightgray;
				background-repeat: no-repeat;
				background-position: 50px 30px;
				font-size: 14px;
				font-family: sans-serif, arial, verdana, tahoma, 'lucida grande', 'Segoe UI', 'lucida sans unicode';
				padding: 0px; 
				margin: 0px;">
	
		<div style="background-image: url('http://www.versioneye.com/assets/header_os.png');
				background-repeat: repeat-x;
			    background-position: top;
				margin: 0px;
				padding: 0px;
				height: 55px;
				width: 100%;
				vertical-align: middle;">
			<div style="width: 690px;
				margin: 0 auto; 
				clear: both;
			    display: block;
			    height: 0;">
				<div style="float: left; margin: 0; padding: 0;">
					<a href="http://wwww.versioneye.com"><img src="http://www.versioneye.com/assets/header_logo_os.png" /></a>
				</div>
				<div style="float:left; margin-top: 13px; margin-left: 5px;">
					<a href="http://www.versioneye.com"><img src="http://www.versioneye.com/assets/eye_off.png" /></a>
				</div>
			</div>
		</div>

		<div style="width: 690px;
				margin: 0 auto;">
			<div style="
				display: inline-block;
			    width: 650px;
				padding: 20px;
				margin-top: 10px;
				background-color: white;
				-moz-border-radius:    10px;
			    -webkit-border-radius: 10px;
			    border-radius:         10px;" >
Hey <%= @user.fullname %>,<br/>
<br/>
We're always hard at work to become the most awesome community for software developers.   
<br/>
<br/>
<ul>
   <li><b>iPad mini</b>: It's Christmas time and we're raffling an iPad mini. Every signed up user who is following at least 3 software libraries is automatically participating at the contest. Simply follow 3 libraries and win an iPad mini. It's that easy!<br/><br/>
		<img src="http://versioneye.files.wordpress.com/2012/12/ipad-mini-1351017524.jpg?w=660" ></img>
	</li>
	<li><b>Google like Search</b>: We noticed that the search was a little slow and you not always got results.
   In the last few weeks we worked hard on that issue. We finally integrated a new search engine technology on our site, which is up to 50 times faster than a simple database search. It also enables us to offer a google like search behavior.</li>
</ul>
<br/>
<br/>
Your Feedback is always appreciated. 
<br/>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com">http://www.versioneye.com</a>
<br/>
			</div>
			<div style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; 
				text-align: left;
			    margin-top: 15px;
				padding: 20px;
			    width: 650px;
			    margin-left: auto;
			    margin-right: auto;
			    clear: both;
				background-color: white; 
				font-size: 12px;
				color: #808080;
				word-wrap:break-word;" >
				VersionEye GmbH | Invalidenstrasse 50/51 | 10557 Berlin | Germany | 
E-Mail: contact [at] versioneye.com | Amtsgericht: Berlin / Charlottenburg | Handelsregister: Berlin, HRB 144242 B | USt-IdNr.: DE282045007 | CEO: Robert Reiz<br/>
<a href="https://www.versioneye.com/imprint">Imprint</a> / <a href="https://www.versioneye.com/impressum">Impressum</a>. Unsubscribe here: <a href="https://www.versioneye.com/settings/notifications">Notification Center</a>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
	</body>
</html>