<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head >
    <title>VersionEye</title>
  </head>

  <body style="color: #22211f;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-position: 50px 30px;
        font-size: 14px;
        font-family: sans-serif, arial, verdana, tahoma, 'lucida grande', 'Segoe UI', 'lucida sans unicode';
        padding: 0px;
        margin: 0px;">

    <div style="background-image: url('http://www.versioneye.com/assets/header_os.png');
        background-repeat: repeat-x;
          background-position: top;
        margin: 0px;
        padding: 0px;
        height: 55px;
        width: 100%;
        vertical-align: middle;">
      <div style="width: 690px;
        margin: 0 auto;
        clear: both;
          display: block;
          height: 0;">
        <div style="float: left; margin: 0; padding: 0;">
          <a href="http://www.versioneye.com"><img src="http://www.versioneye.com/assets/header_logo_os.png" /></a>
        </div>
        <div style="float:left; margin-top: 13px; margin-left: 5px;">
          <a href="http://www.versioneye.com"><img src="http://www.versioneye.com/assets/eye_off.png" alt="off" /></a>
        </div>
      </div>
    </div>

    <div style="width: 690px;
        margin: 0 auto;">
      <div style="
        display: inline-block;
          width: 650px;
        padding: 20px;
        margin-top: 10px;
        background-color: white;
        -moz-border-radius:    10px;
          -webkit-border-radius: 10px;
          border-radius:         10px;" >
Hey <%= @user.fullname %>,
<p>
  We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately:
</p>
<ul>
  <li>
    <b>API:</b> We added a new Endpoint to the API for GitHub interaction. Our ruby command line tool is using it. Read more <a href="http://versioneye.wordpress.com/2013/11/05/new-endpoints-on-our-api/">here</a>.
  </li>
  <li>
    <b>API projects:</b> We updated the API page with all the current projects who are using the API and a link to the page where you can manage your API Key. Check it out <a href="https://www.versioneye.com/api?version=v2">here</a>.
  </li>
  <li>
    <b>Speed:</b> Many speed optimisations with a new caching strategy. Specially the dependency badges and projects are loading now faster.
  </li>
  <li>
    Many small bugfixes and improvements.
  </li>
</ul>
<p>
  And since we like continuous updating, we did many small improvements on the VersionEye page as well.
</p>
<p>
  We'd love to hear your feedback
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com">http://www.versioneye.com</a>
<br/>
      </div>
      <div style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
        text-align: left;
          margin-top: 15px;
        padding: 20px;
          width: 650px;
          margin-left: auto;
          margin-right: auto;
          clear: both;
        background-color: white;
        font-size: 12px;
        color: #808080;
        word-wrap:break-word;" >
        VersionEye GmbH | Invalidenstrasse 50/51 | 10557 Berlin | Germany |
E-Mail: contact [at] versioneye.com | Amtsgericht: Berlin / Charlottenburg | Handelsregister: Berlin, HRB 144242 B | USt-IdNr.: DE282045007 | CEO: Robert Reiz<br/>
<a href="https://www.versioneye.com/imprint">Imprint</a> / <a href="https://www.versioneye.com/impressum">Impressum</a>. Unsubscribe here: <a href="https://www.versioneye.com/settings/notifications">Notification Center</a>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </body>
</html>
