Hey <%= @user.fullname %>,
<p>
  We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately:
</p>
<ul>
  <li>
    <b>New Software License View:</b> Software licenses are one of the most important meta informations we collect at VersionEye and some of our enterprise customers need to know these for due diligence. We already had a license view, but now this view is new and improved. Read more
    <a href="http://versioneye.wordpress.com/2013/12/17/new-software-license-view/">here</a>.<br/><br/>
  </li>
  <li>
    <b>Updated GitHub SinglePage App:</b> We updated our GitHub SinglePage app with multiple file selection, async fetching and a couple more feature. Read more <a href="http://versioneye.wordpress.com/2013/12/13/updated-github-singlepage-app/">here</a>.<br/><br/>
    <img src="http://versioneye.files.wordpress.com/2013/12/screen-shot-2013-12-13-at-11-48-00.png" width="600" />
    <br/><br/>
  </li>
  <li>
    <b>References:</b> The references number shows how many other software libraries are referencing the current library. This number is now clickable.
    Read more <a href="http://versioneye.wordpress.com/2013/12/13/which-packages-use-my-library/">here</a><br/><br/>
  </li>
</ul>
<p>
  And since we like continuous updating, we did many small improvements on the VersionEye page as well.
</p>
<p>
  We'd love to hear your feedback!
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com?utm_medium=email&amp;utm_source=newsletter">http://www.versioneye.com</a>
<br/>
