Hey <%= @user.fullname %>,
<p>
  We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately:
</p>
<ul>
  <li>
    <b>BitBucket Integration:</b> Beside GitHub now we are supporting BitBucket. Now you can login with your BitBucket account and VersionEye can actively monitor BitBucket repositories. Read more
    <a href="http://blog.versioneye.com/2014/01/02/versioneye-bitbucket/">here</a>.<br/><br/>
    <img src="http://versioneye.files.wordpress.com/2014/01/bitbucket.png" />
    <br/><br/>
  </li>
  <li>
    <b>Improvements for Node.JS / NPM:</b> Because NPM is the fastest growing repository, we reworked our integration for Node.JS. Read more <a href="http://blog.versioneye.com/2014/01/03/improved-integration-for-nodejs-and-npm/">here</a>.<br/><br/>
  </li>
  <li>
    <b>Most referenced packages:</b> On our language pages we are showing now the top 10 most referenced packages.
    Read more <a href="http://blog.versioneye.com/2014/01/06/most-referenced-packages/">here</a><br/><br/>
  </li>
</ul>
<p>
  And since we like continuous updating, we did many small improvements on the VersionEye page as well.
</p>
<p>
  We'd love to hear your feedback!
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com?utm_medium=email&amp;utm_source=newsletter">http://www.versioneye.com</a>
<br/>
