<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head >
    <title>VersionEye</title>
  </head>

  <body style="color: #22211f;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-position: 50px 30px;
        font-size: 14px;
        font-family: sans-serif, arial, verdana, tahoma, 'lucida grande', 'Segoe UI', 'lucida sans unicode';
        padding: 0px;
        margin: 0px;">

    <div style="background-image: url('http://www.versioneye.com/assets/header_os.png');
        background-repeat: repeat-x;
          background-position: top;
        margin: 0px;
        padding: 0px;
        height: 55px;
        width: 100%;
        vertical-align: middle;">
      <div style="width: 690px;
        margin: 0 auto;
        clear: both;
          display: block;
          height: 0;">
        <div style="float: left; margin: 0; padding: 0;">
          <a href="http://www.versioneye.com"><img src="http://www.versioneye.com/assets/header_logo_os.png" /></a>
        </div>
        <div style="float:left; margin-top: 13px; margin-left: 5px;">
          <a href="http://www.versioneye.com"><img src="http://www.versioneye.com/assets/eye_off.png" /></a>
        </div>
      </div>
    </div>

    <div style="width: 690px;
        margin: 0 auto;">
      <div style="
        display: inline-block;
          width: 650px;
        padding: 20px;
        margin-top: 10px;
        background-color: white;
        -moz-border-radius:    10px;
          -webkit-border-radius: 10px;
          border-radius:         10px;" >
Hey <%= @user.fullname %>,
<p>
  We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately:
</p>
<ul>
  <li>
    <b>Maven Plugin:</b> We released a Maven Plugin which enables you to manage your Java projects on VersionEye, even if your code is not on GitHub. The plugin can also handle dependencies from parent POMs. Check it out here:
    <br/><br/>
    <a href="https://github.com/versioneye/versioneye_maven_plugin">VersionEye Maven Plugin on GitHub</a>
    <br/><br/>
  </li>
  <li>
    <b>Language Pages:</b> We just added some marvelous graphs to our language pages. Check out the PHP Page for example:
    <br/><br/>
    <a href="https://www.versioneye.com/php">PHP language page</a>
    <br/><br/>
    <img src="http://robertreiz.files.wordpress.com/2013/09/screen-shot-2013-09-03-at-4-15-13-pm.png" width="500" />
    <br/><br/>
  </li>
  <li>
    <b>Facebook:</b> Almost nobody used our "Login with Facebook" button, so it had to go. It makes anyway more sense to login with GitHub, don't you think? ;)
    <br/><br/>
  </li>
</ul>
<p>
  And since we like continuous updating, we did many small improvements on the VersionEye page as well.
</p>
<p>
  We'd love to hear your feedback
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com">http://www.versioneye.com</a>
<br/>
      </div>
      <div style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
        text-align: left;
          margin-top: 15px;
        padding: 20px;
          width: 650px;
          margin-left: auto;
          margin-right: auto;
          clear: both;
        background-color: white;
        font-size: 12px;
        color: #808080;
        word-wrap:break-word;" >
        VersionEye GmbH | Invalidenstrasse 50/51 | 10557 Berlin | Germany |
E-Mail: contact [at] versioneye.com | Amtsgericht: Berlin / Charlottenburg | Handelsregister: Berlin, HRB 144242 B | USt-IdNr.: DE282045007 | CEO: Robert Reiz<br/>
<a href="https://www.versioneye.com/imprint">Imprint</a> / <a href="https://www.versioneye.com/impressum">Impressum</a>. Unsubscribe here: <a href="https://www.versioneye.com/settings/notifications">Notification Center</a>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </body>
</html>
