<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head >
		<title>VersionEye</title>
	</head>

	<body style="color: #22211f;
				background-color: lightgray;
				background-repeat: no-repeat;
				background-position: 50px 30px;
				font-size: 14px;
				font-family: sans-serif, arial, verdana, tahoma, 'lucida grande', 'Segoe UI', 'lucida sans unicode';
				padding: 0px; 
				margin: 0px;">
	
		<div style="background-image: url('http://versioneye.com/assets/header_os.png');
				background-repeat: repeat-x;
			    background-position: top;
				margin: 0px;
				padding: 0px;
				height: 55px;
				width: 100%;
				vertical-align: middle;">
			<div style="width: 690px;
				margin: 0 auto; 
				clear: both;
			    display: block;
			    height: 0;">
				<div style="float: left; margin: 0; padding: 0;">
					<a href="http://versioneye.com"><img src="http://versioneye.com/assets/header_logo_os.png" /></a>
				</div>
				<div style="float:left; margin-top: 13px; margin-left: 5px;">
					<a href="http://versioneye.com"><img src="http://versioneye.com/assets/eye_off.png" /></a>
				</div>
			</div>
		</div>

		<div style="width: 690px;
				margin: 0 auto;">
			<div style="
				display: inline-block;
			    width: 650px;
				padding: 20px;
				margin-top: 10px;
				background-color: white;
				-moz-border-radius:    10px;
			    -webkit-border-radius: 10px;
			    border-radius:         10px;" >
Hi <%= @user.fullname %>,<br/>
<br/>
Thank you very much for using <a href="http://versioneye.com">VersionEye.com</a> on a regular basis.
It is our goal to continuously improve and enhance our products.
In the following, we have listed the most important changes in the latest release:
<ul>
	<li style="padding-top: 5px; padding-bottom: 5px;">We have replaced the star rating system by a simple Like button.  Now, there is no need anymore to contemplate on your rating - if you like a package, you can simply click on the heart.
	<br/><br/><img src="http://versioneye.com/assets/heart.png" /><br/><br/></li>
	<li style="padding-top: 5px; padding-bottom: 5px;">We have added a few thousand packages for the R programming language. 
	<br/><br/><img src="http://versioneye.com/assets/language/r.png" /><br/><br/></li>
	<li style="padding-top: 5px; padding-bottom: 5px;" >There is a new default image for profiles. 
	<br/><br/><img src="http://versioneye.com/profile_icon.png" style="width: 60px;" /><br/><br/></li>
	<li style="padding-top: 5px; padding-bottom: 5px;" >On every Package Detail page, you now find a "Share" button which you can use to share the page immediately with your friends on Twitter.</li>
</ul>
We always strive to improve the service we provide to our customers. Thus, if you have any suggestions or remarks, you can use the Feedback button in your Login area.<br/>
<br/>
Best regards, <br/>
Your VersionEye Team
<br/>
			</div>
			<div style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; 
				text-align: left;
			    margin-top: 15px;
				padding: 20px;
			    width: 650px;
			    margin-left: auto;
			    margin-right: auto;
			    clear: both;
				background-color: white; 
				font-size: 12px;
				color: #808080;
				word-wrap:break-word;" >
				VersionEye GmbH | Neckarauer Waldweg 27 | 68199 Mannheim | Germany | 
E-Mail: contact [at] versioneye.com | Amtsgericht: Mannheim | Handelsregister: Mannheim, HRB 713947 | USt-IdNr.: DE282045007 | CEO: Robert Reiz
			</div>
		</div>
		<br/>
		<br/>
	</body>
</html>