<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head >
    <title>VersionEye</title>
  </head>

  <body style="color: #22211f;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-position: 50px 30px;
        font-size: 14px;
        font-family: sans-serif, arial, verdana, tahoma, 'lucida grande', 'Segoe UI', 'lucida sans unicode';
        padding: 0px;
        margin: 0px;">

    <div style="background-image: url('http://www.versioneye.com/assets/header_os.png');
        background-repeat: repeat-x;
          background-position: top;
        margin: 0px;
        padding: 0px;
        height: 55px;
        width: 100%;
        vertical-align: middle;">
      <div style="width: 690px;
        margin: 0 auto;
        clear: both;
          display: block;
          height: 0;">
        <div style="float: left; margin: 0; padding: 0;">
          <a href="http://www.versioneye.com"><img src="http://www.versioneye.com/assets/header_logo_os.png" /></a>
        </div>
        <div style="float:left; margin-top: 13px; margin-left: 5px;">
          <a href="http://www.versioneye.com"><img src="http://www.versioneye.com/assets/eye_off.png" alt="off" /></a>
        </div>
      </div>
    </div>

    <div style="width: 690px;
        margin: 0 auto;">
      <div style="
        display: inline-block;
          width: 650px;
        padding: 20px;
        margin-top: 10px;
        background-color: white;
        -moz-border-radius:    10px;
          -webkit-border-radius: 10px;
          border-radius:         10px;" >
Hey <%= @user.fullname %>,
<p>
  We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately:
</p>
<ul>
  <li>
    <b>New Software License View:</b> Software licenses are one of the most important meta informations we collect at VersionEye and some of our enterprise customers need to know these for due diligence. We already had a license view, but now this view is new and improved. Read more
    <a href="http://versioneye.wordpress.com/2013/12/17/new-software-license-view/">here</a>.<br/><br/>
  </li>
  <li>
    <b>Updated GitHub SinglePage App:</b> We updated our GitHub SinglePage app with multiple file selection, async fetching and a couple more feature. Read more <a href="http://versioneye.wordpress.com/2013/12/13/updated-github-singlepage-app/">here</a>.<br/><br/>
    <img src="http://versioneye.files.wordpress.com/2013/12/screen-shot-2013-12-13-at-11-48-00.png" width="600" />
    <br/><br/>
  </li>
  <li>
    <b>References:</b> The references number shows how many other software libraries are referencing the current library. This number is now clickable.
    Read more <a href="http://versioneye.wordpress.com/2013/12/13/which-packages-use-my-library/">here</a><br/><br/>
  </li>
</ul>
<p>
  And since we like continuous updating, we did many small improvements on the VersionEye page as well.
</p>
<p>
  We'd love to hear your feedback!
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com">http://www.versioneye.com</a>
<br/>
      </div>
      <div style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
        text-align: left;
          margin-top: 15px;
        padding: 20px;
          width: 650px;
          margin-left: auto;
          margin-right: auto;
          clear: both;
        background-color: white;
        font-size: 12px;
        color: #808080;
        word-wrap:break-word;" >
        VersionEye GmbH | Invalidenstrasse 50/51 | 10557 Berlin | Germany |
E-Mail: contact [at] versioneye.com | Amtsgericht: Berlin / Charlottenburg | Handelsregister: Berlin, HRB 144242 B | USt-IdNr.: DE282045007 | CEO: Robert Reiz<br/>
<a href="https://www.versioneye.com/imprint">Imprint</a> / <a href="https://www.versioneye.com/impressum">Impressum</a>. Unsubscribe here: <a href="https://www.versioneye.com/settings/notifications">Notification Center</a>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </body>
</html>
