Hey <%= @user.fullname %>,
<p>
  We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately:
</p>
<ul>
  <li>
    <b>Bower Integration:</b> Bower is a package manager for the Web (JavaScript &amp; CSS). We just recently finished our Bower integration. Check out how you can stay up-to-date with your frontend components: <a href="http://blog.versioneye.com/2014/01/28/bower-integration/">Bower Integration</a>.
    <br/><br/>
    <img src="http://versioneye.files.wordpress.com/2014/01/bower-logo.png" width="200" />
    <br/><br/>
  </li>
</ul>
<p>
  And since we like continuous updating, we did many small improvements on the VersionEye page as well.
</p>
<p>
  We'd love to hear your feedback!
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com?utm_medium=email&amp;utm_source=newsletter">http://www.versioneye.com</a>
<br/>
