<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head >
		<title>VersionEye</title>
	</head>

	<body style="color: #22211f;
				background-color: lightgray;
				background-repeat: no-repeat;
				background-position: 50px 30px;
				font-size: 14px;
				font-family: sans-serif, arial, verdana, tahoma, 'lucida grande', 'Segoe UI', 'lucida sans unicode';
				padding: 0px; 
				margin: 0px;">
	
		<div style="background-image: url('http://www.versioneye.com/assets/header_os.png');
				background-repeat: repeat-x;
			    background-position: top;
				margin: 0px;
				padding: 0px;
				height: 55px;
				width: 100%;
				vertical-align: middle;">
			<div style="width: 690px;
				margin: 0 auto; 
				clear: both;
			    display: block;
			    height: 0;">
				<div style="float: left; margin: 0; padding: 0;">
					<a href="http://wwww.versioneye.com"><img src="http://www.versioneye.com/assets/header_logo_os.png" /></a>
				</div>
				<div style="float:left; margin-top: 13px; margin-left: 5px;">
					<a href="http://www.versioneye.com"><img src="http://www.versioneye.com/assets/eye_off.png" /></a>
				</div>
			</div>
		</div>

		<div style="width: 690px;
				margin: 0 auto;">
			<div style="
				display: inline-block;
			    width: 650px;
				padding: 20px;
				margin-top: 10px;
				background-color: white;
				-moz-border-radius:    10px;
			    -webkit-border-radius: 10px;
			    border-radius:         10px;" >
Hey <%= @user.fullname %>,<br/>
<br/>
We finished some work again. Here are the new features: 
<br/>
<br/>
<ul>
	<li>
		<b>New Service page</b>: We re-worked our service page. You will see that there are some new icons and new text.<br/>
  		<a href="http://www.versioneye.com/services" >http://www.versioneye.com/services</a><br/><br/>
	</li>
	<li>
		<b>Feedback</b>: The Feedback button on the left side is now always available - even if you are not logged in.<br/><br/>
	</li>
	<li>
		<b>Premium Plans</b>: We are introducing paid features. We are starting with 4 paid plans. Monitoring open source projects will still be free. However, if you want
VersionEye to monitor one of your private repositories on GitHub, you have to pay
us a little bit of money for that. Check out our pricing here.<br/>
  		<a href="http://www.versioneye.com/services#pricing" >http://www.versioneye.com/services#pricing</a><br/><br/>
	</li>
	<li>
		<b>New terms and conditions</b>: As we are now introducing paid services, we have to customize our terms and conditions and our data protection policy.  If you do not object within the next 2 weeks, you automatically accept the new terms and conditions.  If you do not agree with the new terms and conditions, you can delete your account in the "Settings".
Here is the link to our new terms and conditions:<br/>
  		<a href="http://www.versioneye.com/nutzungsbedingungen" >http://www.versioneye.com/nutzungsbedingungen</a><br/>
  		<a href="http://www.versioneye.com/terms" >http://www.versioneye.com/terms</a><br/>
	</li>
</ul>
<br/>
These are quite some new features at once. If you notice a bug, please use the Feedback button to inform us about the problem.
<br/>Your Feedback is always appreciated. 
<br/>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com">http://www.versioneye.com</a>
<br/>
			</div>
			<div style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; 
				text-align: left;
			    margin-top: 15px;
				padding: 20px;
			    width: 650px;
			    margin-left: auto;
			    margin-right: auto;
			    clear: both;
				background-color: white; 
				font-size: 12px;
				color: #808080;
				word-wrap:break-word;" >
				VersionEye GmbH | Invalidenstrasse 50/51 | 10557 Berlin | Germany | 
E-Mail: contact [at] versioneye.com | Amtsgericht: Berlin / Charlottenburg | Handelsregister: Berlin, HRB 144242 B | USt-IdNr.: DE282045007 | CEO: Robert Reiz<br/>
<a href="https://www.versioneye.com/imprint">Imprint</a> / <a href="https://www.versioneye.com/impressum">Impressum</a>. Unsubscribe here: <a href="https://www.versioneye.com/settings/notifications">Notification Center</a>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
	</body>
</html>