<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head >
    <title>VersionEye</title>
  </head>

  <body style="color: #22211f;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-position: 50px 30px;
        font-size: 14px;
        font-family: sans-serif, arial, verdana, tahoma, 'lucida grande', 'Segoe UI', 'lucida sans unicode';
        padding: 0px;
        margin: 0px;">

    <div style="background-image: url('http://www.versioneye.com/assets/header_os.png');
        background-repeat: repeat-x;
          background-position: top;
        margin: 0px;
        padding: 0px;
        height: 55px;
        width: 100%;
        vertical-align: middle;">
      <div style="width: 690px;
        margin: 0 auto;
        clear: both;
          display: block;
          height: 0;">
        <div style="float: left; margin: 0; padding: 0;">
          <a href="http://wwww.versioneye.com"><img src="http://www.versioneye.com/assets/header_logo_os.png" /></a>
        </div>
        <div style="float:left; margin-top: 13px; margin-left: 5px;">
          <a href="http://www.versioneye.com"><img src="http://www.versioneye.com/assets/eye_off.png" /></a>
        </div>
      </div>
    </div>

    <div style="width: 690px;
        margin: 0 auto;">
      <div style="
        display: inline-block;
          width: 650px;
        padding: 20px;
        margin-top: 10px;
        background-color: white;
        -moz-border-radius:    10px;
          -webkit-border-radius: 10px;
          border-radius:         10px;" >
Hey <%= @user.fullname %>,
<p>
  We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately:
</p>
<ul>
  <li>
    <b>Testimonials:</b> We would like to collect testimonials for our landing page and would be thrilled if you could help us with this task. What do you think about VersionEye? How does our service help you? Simply submit a short 140 character testimonial about VersionEye. Thank you!
    <br/><br/>
    <a href="http://www.versioneye.com/user/testimonials">Write your testimonial</a>
    <br/><br/>
  </li>
  <li>
    <b>Lottery:</b> Our last lottery in December 2012 was a big success. So we thought we should do it again :-) Sign up at <a href="http://www.versioneye.com/lottery">http://www.versioneye.com/lottery</a>, follow at least 3 software libraries and win an iPad mini or a Raspberry Pi!
    <br/><br/>
    <center>
      <img src="http://versioneye.files.wordpress.com/2013/08/raspberrypi.jpg" style="width: 300px;" />
    </center>
    <br/><br/>
  </li>
  <li>
    <b>New landing page:</b> We launched a new landing page. Since we are located in Berlin we decided to add a cool background image from the German capital for a warm and fuzzy feeling. Let us know how you like it.
    <br/><br/>
    <a href="http://www.versioneye.com">Check it out here!</a>
    <br/><br/>
  </li>
</ul>
<p>
  And since we like continuous updating, we did many small improvements on the VersionEye page as well.
</p>
<p>
  We'd love to hear your feedback
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com">http://www.versioneye.com</a>
<br/>
      </div>
      <div style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
        text-align: left;
          margin-top: 15px;
        padding: 20px;
          width: 650px;
          margin-left: auto;
          margin-right: auto;
          clear: both;
        background-color: white;
        font-size: 12px;
        color: #808080;
        word-wrap:break-word;" >
        VersionEye GmbH | Invalidenstrasse 50/51 | 10557 Berlin | Germany |
E-Mail: contact [at] versioneye.com | Amtsgericht: Berlin / Charlottenburg | Handelsregister: Berlin, HRB 144242 B | USt-IdNr.: DE282045007 | CEO: Robert Reiz<br/>
<a href="https://www.versioneye.com/imprint">Imprint</a> / <a href="https://www.versioneye.com/impressum">Impressum</a>. Unsubscribe here: <a href="https://www.versioneye.com/settings/notifications">Notification Center</a>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </body>
</html>
