<% title 'Collaboration settings' %>

<div class="col-md-3" >
  <%= render '/user/helpers/navi' %>
</div>

<div class="col-md-9">
  <%= render '/user/collaborations/helpers/project_settings' %>
</div>
