---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/?client_id=23baa3ad794ac9a9214b&client_secret=bf2bc9df8933e9a1784bbcec2b46527b6e8098dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1386258265'
      Etag:
      - "\"e4559722c53d01255bb3d12bbb945098\""
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"current_user_url\":\"https://api.github.com/user\",\"authorizations_url\":\"https://api.github.com/authorizations\",\"code_search_url\":\"https://api.github.com/search/code?q={query}{&page,per_page,sort,order}\",\"emails_url\":\"https://api.github.com/user/emails\",\"emojis_url\":\"https://api.github.com/emojis\",\"events_url\":\"https://api.github.com/events\",\"feeds_url\":\"https://api.github.com/feeds\",\"following_url\":\"https://api.github.com/user/following{/target}\",\"gists_url\":\"https://api.github.com/gists{/gist_id}\",\"hub_url\":\"https://api.github.com/hub\",\"issue_search_url\":\"https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}\",\"issues_url\":\"https://api.github.com/issues\",\"keys_url\":\"https://api.github.com/user/keys\",\"notifications_url\":\"https://api.github.com/notifications\",\"organization_repositories_url\":\"https://api.github.com/orgs/{org}/repos/{?type,page,per_page,sort}\",\"organization_url\":\"https://api.github.com/orgs/{org}\",\"public_gists_url\":\"https://api.github.com/gists/public\",\"rate_limit_url\":\"https://api.github.com/rate_limit\",\"repository_url\":\"https://api.github.com/repos/{owner}/{repo}\",\"repository_search_url\":\"https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}\",\"current_user_repositories_url\":\"https://api.github.com/user/repos{?type,page,per_page,sort}\",\"starred_url\":\"https://api.github.com/user/starred{/owner}{/repo}\",\"starred_gists_url\":\"https://api.github.com/gists/starred\",\"team_url\":\"https://api.github.com/teams\",\"user_url\":\"https://api.github.com/users/{user}\",\"user_organizations_url\":\"https://api.github.com/user/orgs\",\"user_repositories_url\":\"https://api.github.com/users/{user}/repos{?type,page,per_page,sort}\",\"user_search_url\":\"https://api.github.com/search/users?q={query}{&page,per_page,sort,order}\"}"
  recorded_at: Thu, 05 Dec 2013 14:56:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/0xced/ABGetMe?client_id=23baa3ad794ac9a9214b&client_secret=bf2bc9df8933e9a1784bbcec2b46527b6e8098dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1386258265'
      Last-Modified:
      - Sat, 23 Nov 2013 22:42:41 GMT
      Etag:
      - "\"f0a7625501dffd9be235646911542c62\""
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"id\":3170852,\"name\":\"ABGetMe\",\"full_name\":\"0xced/ABGetMe\",\"owner\":{\"login\":\"0xced\",\"id\":51363,\"avatar_url\":\"https://2.gravatar.com/avatar/e634e02646d909ce006da694a9deec28?d=https%3A%2F%2Fidenticons.github.com%2F218dbfa4c28f376e2cd43b27be4855f4.png&r=x\",\"gravatar_id\":\"e634e02646d909ce006da694a9deec28\",\"url\":\"https://api.github.com/users/0xced\",\"html_url\":\"https://github.com/0xced\",\"followers_url\":\"https://api.github.com/users/0xced/followers\",\"following_url\":\"https://api.github.com/users/0xced/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/0xced/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/0xced/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/0xced/subscriptions\",\"organizations_url\":\"https://api.github.com/users/0xced/orgs\",\"repos_url\":\"https://api.github.com/users/0xced/repos\",\"events_url\":\"https://api.github.com/users/0xced/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/0xced/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/0xced/ABGetMe\",\"description\":\"ABGetMe
        implementation for iOS using undocumented APIs (safely)\",\"fork\":false,\"url\":\"https://api.github.com/repos/0xced/ABGetMe\",\"forks_url\":\"https://api.github.com/repos/0xced/ABGetMe/forks\",\"keys_url\":\"https://api.github.com/repos/0xced/ABGetMe/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/0xced/ABGetMe/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/0xced/ABGetMe/teams\",\"hooks_url\":\"https://api.github.com/repos/0xced/ABGetMe/hooks\",\"issue_events_url\":\"https://api.github.com/repos/0xced/ABGetMe/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/0xced/ABGetMe/events\",\"assignees_url\":\"https://api.github.com/repos/0xced/ABGetMe/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/0xced/ABGetMe/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/0xced/ABGetMe/tags\",\"blobs_url\":\"https://api.github.com/repos/0xced/ABGetMe/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/0xced/ABGetMe/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/0xced/ABGetMe/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/0xced/ABGetMe/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/0xced/ABGetMe/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/0xced/ABGetMe/languages\",\"stargazers_url\":\"https://api.github.com/repos/0xced/ABGetMe/stargazers\",\"contributors_url\":\"https://api.github.com/repos/0xced/ABGetMe/contributors\",\"subscribers_url\":\"https://api.github.com/repos/0xced/ABGetMe/subscribers\",\"subscription_url\":\"https://api.github.com/repos/0xced/ABGetMe/subscription\",\"commits_url\":\"https://api.github.com/repos/0xced/ABGetMe/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/0xced/ABGetMe/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/0xced/ABGetMe/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/0xced/ABGetMe/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/0xced/ABGetMe/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/0xced/ABGetMe/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/0xced/ABGetMe/merges\",\"archive_url\":\"https://api.github.com/repos/0xced/ABGetMe/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/0xced/ABGetMe/downloads\",\"issues_url\":\"https://api.github.com/repos/0xced/ABGetMe/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/0xced/ABGetMe/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/0xced/ABGetMe/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/0xced/ABGetMe/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/0xced/ABGetMe/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/0xced/ABGetMe/releases{/id}\",\"created_at\":\"2012-01-13T13:14:26Z\",\"updated_at\":\"2013-11-23T22:42:41Z\",\"pushed_at\":\"2012-07-12T22:00:23Z\",\"git_url\":\"git://github.com/0xced/ABGetMe.git\",\"ssh_url\":\"git@github.com:0xced/ABGetMe.git\",\"clone_url\":\"https://github.com/0xced/ABGetMe.git\",\"svn_url\":\"https://github.com/0xced/ABGetMe\",\"homepage\":\"\",\"size\":132,\"stargazers_count\":128,\"watchers_count\":128,\"language\":\"Objective-C\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":8,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":8,\"open_issues\":0,\"watchers\":128,\"default_branch\":\"master\",\"master_branch\":\"master\",\"network_count\":8,\"subscribers_count\":6}"
  recorded_at: Thu, 05 Dec 2013 14:56:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/0xced/ABGetMe/tags?client_id=23baa3ad794ac9a9214b&client_secret=bf2bc9df8933e9a1784bbcec2b46527b6e8098dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1386258265'
      Last-Modified:
      - Sat, 23 Nov 2013 22:42:41 GMT
      Etag:
      - "\"f0a7625501dffd9be235646911542c62\""
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[{\"name\":\"1.0.0\",\"zipball_url\":\"https://api.github.com/repos/0xced/ABGetMe/zipball/1.0.0\",\"tarball_url\":\"https://api.github.com/repos/0xced/ABGetMe/tarball/1.0.0\",\"commit\":{\"sha\":\"8d8d7ca9f3429c952b83d1ecf03178e8efb99cb2\",\"url\":\"https://api.github.com/repos/0xced/ABGetMe/commits/8d8d7ca9f3429c952b83d1ecf03178e8efb99cb2\"}}]"
  recorded_at: Thu, 05 Dec 2013 14:56:01 GMT
recorded_with: VCR 2.8.0
