/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
*/

$gradient_start: #7F0200;
$gradient_end: #610003;
$link_color: #7575FF;

/* $text_yellow: #FBB21C; */

$text_yellow: gray;
$text_casual: #616970;

$link_hover:   #FBB21C;
$link_color:   #FDFDFD;
$link_visited: #FDFDFD;

$text_link:  #669acb;
$text_hover: #a0b8cf;

@import "bootstrap.css.scss";
@import "bootstrap_responsive.css";
@import "bootstrap_switch.css";
@import "bootstrap_upload.css";
@import "font-awesome.css.scss";
@import "sprite.css.scss";
@import "colorschema.css.scss";

@import "layout.css.scss";
@import "base.css.scss";
@import "well.css.scss";
@import "search.css.scss";
@import "marketing.css.scss";
@import "social_media_login.css.scss";
@import "header.css.scss";
@import "footer.css.scss";

@import "main.css.scss";
@import "typeahead.js-bootstrap.css";
@import "social-buttons.css";
@import "product.css.scss";
@import "user.css.scss";
@import "plots.css.scss";
@import "github_app.css.scss";
@import "scm_app.css";
