
/******* Basic Elements *********/

body {
	color: #22211f;
	font-size: 14px;
	font-family: sans-serif, arial, verdana, tahoma, 'lucida grande', 'Segoe UI', 'lucida sans unicode';
}

form{
	padding: 0px;
	margin: 0px;
}

label {
	color: #666666;
	font-size: 18px;
	font-weight: bold;
}

textarea{
	font-size: 16px;
	width: 777px;
	height: 100px;
}

button {
    padding-left: 15px;
    height: 35px;
    font-size: 12px;
}

input{
    padding-left: 15px;
    height: 35px;
    font-size: 16px;
}

input[type="submit"] {
	-webkit-user-select:none;
	background-color: #f9b323;
	border: 2px solid gray;
    border-bottom-left-radius:8px 8px;
	border-bottom-right-radius:8px 8px;
 	border-top-left-radius:8px 8px;
	border-top-right-radius:8px 8px;
	color:black;
	cursor:default;
	font-family: arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 35px;
/*	line-height:px;*/
	margin-bottom:0px;
	margin-left:5px;
	margin-right:5px;
	margin-top:0px;
	min-width:54px;
	padding-bottom:0;
	padding-left:8px;
	padding-right:8px;
	padding-top:0;
	text-align:center;
}

pre {
	margin: 5px;
}

/********* Fonts ***********/

.meta-text{
	color: #808080;
}

.meta-text-bold{
	color: #808080;
	font-weight: bold;
}

.meta-text-small{
	font-size: 12px;
	color: #808080;
	word-wrap:break-word;
}

/******* Links *********/

a {
	color: #22211f;
    text-decoration: none;
}

a:hover {
/*	color: #f9b323;*/
	color: blue;
    text-decoration: underline;
}

header a:hover{
	color: #f9b323;
	text-decoration: underline;
}

a:visited {
	color: #808080;
}

a:visited:hover {
	color: blue;
    text-decoration: underline;
}

header a:visited:hover {
	color: #f9b323;
    text-decoration: underline;
}

.searchResultLink{
	font-size: 16px;
}

/****** Buttons **********/

.followButton[type="submit"]{
	-webkit-user-select:none;
	  background-color: #f9b323;
	  border: 2px solid gray;
      border-bottom-left-radius:8px 8px;
	  border-bottom-right-radius:8px 8px;
 	  border-top-left-radius:8px 8px;
	  border-top-right-radius:8px 8px;
	  color:black;
	  cursor:default;
	  font-family: arial, sans-serif;
	  font-size:11px;
	  font-weight:bold;
	  height:25px;
	  line-height:22px;
	  margin-bottom:0px;
	  margin-left:5px;
	  margin-right:5px;
	  margin-top:0px;
	  min-width:54px;
	  padding-bottom:0;
	  padding-left:8px;
	  padding-right:8px;
	  padding-top:0;
	  text-align:center;
}

.unfollowButton[type="submit"]{
	-webkit-user-select:none;
	 background-color:white;
	 border: 2px solid #f9b323;
     border-bottom-left-radius:8px 8px;
	 border-bottom-right-radius:8px 8px;
 	 border-top-left-radius:8px 8px;
	 border-top-right-radius:8px 8px;
	 color:#22211f;
	 cursor:default;
	 font-family: arial, sans-serif;
	 font-size:11px;
	 font-weight:bold;
	 height:25px;
	 line-height:22px;
	 margin-bottom:0px;
	 margin-left:5px;
	 margin-right:5px;
	 margin-top:0px;
	 min-width:54px;
	 padding-bottom:0;
	 padding-left:8px;
	 padding-right:8px;
	 padding-top:0;
	 text-align:center; 
}


/***** Round corners ********/

.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

/******** LAYOUT **********/

.container {
	width: 850px;
}

header {
	background-image: url("headerbackground.png")  ;
	background-repeat: repeat-x;
    background-position: top;
	position: fixed;
	top: 0;
	margin: 0px;
    padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	height: 55px;
	width: 100%;
	vertical-align: middle;	
}

section {
    display: inline-block;
    width: 810px;
	padding: 20px;
	margin-top: 65px;
	-moz-box-shadow:    0px 0px 2px 2px #888888;
	-webkit-box-shadow: 0px 0px 2px 2px #888888;
	box-shadow:         0px 0px 2px 2px #888888;
}

.section_lean {
    display: inline-block;
    width: 810px;
	padding: 20px;
	margin-top: 65px;
	-moz-box-shadow:    0px 0px 0px 0px #888888;
	-webkit-box-shadow: 0px 0px 0px 0px #888888;
	box-shadow:         0px 0px 0px 0px #888888;
}

section .container{
	width: 810px;
}

section h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}

footer {
    text-align: left;
	border-top: 1px dotted gray;
    margin-top: 10px;
	padding-top: 10px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

footer nav {
    float: none;
    height: 40px;
    vertical-align: middle;
}

/******* Header *****************/

.logo_div{
	float: left;
}

.searchfield_div{
	float: left; 
	margin-left: 10px; 
	margin-right: 10px;
	margin-top: 5px;
	padding: 0px;
	width: 170px; 
	height: 45px
}

.searchfield{
	height: 23px; 
	width: 162px;  
	margin: 0;	 
	padding:0; 
	padding-left: 5px; 
	border-bottom-left-radius:5px 5px; 
	border-top-left-radius:5px 5px;
	border-bottom-right-radius:5px 5px; 
	border-top-right-radius:5px 5px;
}

.searchlink_div{
	float:left; 
	margin-top: 13px
}

.searchlink{
	background: url("eye_off.png");
	margin-top: 0px;
	margin-left: 0;
	padding-left: 0;
	display:block; 
	width:56px; 
	height:26px;
}

.searchlink:hover{
	background: url("eye_on.png");
	margin-top: 0px;
	margin-left: 0;
	padding-left: 0;
	display:block; 
	width:56px; 
	height:26px;
	text-decoration: none;
	zoom: 1;
}

nav a img{
	margin-top: 7px;
}

/****** Navigation ******/

nav {
    float: right;
	margin: 8px 0px;
    white-space: nowrap;
	height: 37px;	
}

nav ul {
    margin: 0;
    padding: 0;
	display: table-row;
}

nav ul li {
    list-style-type: none;
    display: table-cell;
    padding: 0;
	height: 37px;
	vertical-align: middle;
	background-image: url("sign_space.png");
	background-repeat: repeat-x;
}

nav ul li a {
    padding: 0 10px;
    font-weight: none;
	vertical-align: middle;
	color: white;
}

nav ul li a:visited {
	color: white;
	font-weight: none;
}

nav ul li a:hover {
    text-decoration: none;
	font-weight: none;
	color: #f9b323;
}

.nav-begin{
	background-image: url("sign_left.png");
	width: 7px;
}
.nav-end{
	background-image: url("sign_right.png");
	width: 7px;
}
.nav-line{
	background-image: url("sign_line.png");
	width: 2px;
}

/****** Footer ******/

.footerLink{
	padding-left: 5px;
}

.footerLink:visited{
	padding-left: 5px;
}

.footerLink:hover{
	padding-left: 5px;
}


/***** About Page ********/

.aboutCell{
	padding: 5px; 
	margin-right: 10px;
	margin-bottom: 10px; 
	border: 1px dotted #808080; 
	text-align: center;
	height: 255px;	
}

/***** 3 Col Form ********/

.labelCel{
    width: 170px;
    text-align: right;
	vertical-align: middle;
    display: table-cell;
    padding-right: 5px;
}

.inputCel{
    padding-left: 5px;
    width: 300px;
    display: table-cell;
}

.inputCel input{
    width: 270px;
}

.hintCel{
    width: 300px;
    display: table-cell;
    border: 0px solid black;
    vertical-align: middle;
}

.submitCel{
	padding-left: 0px;
    width: 300px;
    display: table-cell;
}

.formDiv{
	padding-bottom: 15px;
	border-bottom: 1px dotted gray;
}

/******** Box - Header / Container **********/

.boxHeader{
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #666666;
}

.boxContainer{
	padding: 10px;
	background-color: #F5F5F5;
}

/******** USER DETAIL PAGE **********/

.productCountInfo{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

/******** ERROR STYLES **********/

#error_explanation {
  display: table;
  width: 90%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/****** ELSE ****************/

.searchResults{
	text-align: left;
	padding-top: 0px;
}

.searchResult{
	border-bottom: 1px dotted gray; 
	padding-top: 5px;
	padding-bottom: 5px; 
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.searchResult:hover{
	border-bottom: 1px dotted gray; 
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F5F5F5;
}

#product_to_follow{
	font-weight: bold;
}

.dialog_description{
	margin-top: 10px;
}