
/******* Colors *********/

$orange: #f9b323;

/* $bg_color: #EEEEDD; */
$bg_color: lightgray;
$text_color: #22211f;
$label_color: #666666;
$meta_text_color: #808080;

$side_menu_selected_bg_color: #F5F5F5;
$element_highlight_color: #F5F5F5;

/* Used on the package detail page */
$box_container_bg_color: #F5F5F5;

/* Used on the landing page for hottest box */
$box_border_color: #BBBBBB;
$border_color: #BBBBBB;

$outdated_row_bg_color: #FFD5D5;
$unknown_row_bg_color: beige;
$unknown_color: red;
$outdated_color: red;

$horizontal_separater_line: #888888;


/******* Sprites *****************/

.blog_button, .facebook_button, .twitter_button, .youtube_button, .feedback_button, .searchlink, .beta, .button_bg_200_off, .button_bg_200_on, .followButton, .logo_div, .logout, .myprofile, .news, .profile_off, .profile_on, .project_icon, .settings, .c_bw, .c, .clojure_bw, .clojure, .java_bw, .java, .javascript_bw, .javascript, .node_js_bw, .node_js, .opa_bw, .opa, .php_bw, .php, .python_bw, .python, .r_bw, .r, .ruby_bw, .ruby, .eye_off, followButton[type="submit"], lp_sign_up_button[type="submit"], .nav-begin, .nav-end, .nav-line, .login_facebook, .login_twitter, .login_github{
	background: url(sprites.optimized.png) no-repeat;
}

.socialbuttons{
	position: fixed;
	top: 177px;
	left: 0;
}

.blog_button{
	background-position: -1117px -104px ;
	width: 51px;
	height: 51px;
}

.blog_button:hover{
	background-position: -1117px -52px ;
	width: 51px;
	height: 51px;
}

.facebook_button{
	background-position: -1065px 0;
	width: 51px;
	height: 51px;
}

.facebook_button:hover{
	background-position: -1169px 0;
	width: 51px;
	height: 51px;
}

.twitter_button{
	background-position: -1169px -52px ;
	width: 51px;
	height: 51px;
}

.twitter_button:hover{
	background-position: -1065px -52px ;
	width: 51px;
	height: 51px;
}

.youtube_button{
	background-position: -1117px 0;
	width: 51px;
	height: 51px;
}

.youtube_button:hover{
	background-position: -1065px -104px ;
	width: 51px;
	height: 51px;
}

.feedback{
	position: fixed;
	top: 177px;
	right: 0;
}

.feedback_button {
	background-position: -1013px 0;
	width: 51px;
	height: 165px;
	background-color: transparent;
	cursor:pointer;
}

.feedback_button:hover {
	background-position: 0 0;
	width: 51px;
	height: 165px;
	background-color: transparent;
	cursor:pointer;
}

.beta{
	background-position: -1179px -122px ;
	width: 41px;
	height: 43px;
	float: left; 
	margin-left: 20px;
}

.news{
	background-position: -751px -114px ;
	width: 30px;
	height: 25px;
}

.news:hover{
	background-position: -717px -115px ;
	width: 30px;
	height: 25px;
}

.myprofile{
	background-position: -844px -117px ;
	width: 18px;
	height: 25px;
}

.myprofile:hover{
	background-position: -817px -118px ;
	width: 18px;
	height: 25px;
}

.settings{
	background-position: -591px -118px ;
	width: 26px;
	height: 25px;
}

.settings:hover{
	background-position: -621px -118px ;
	width: 26px;
	height: 25px;
}

.project_icon{
	background-position: -943px -120px ;
	width: 29px;
	height: 25px;
}

.project_icon:hover{
	background-position: -982px -121px ;
	width: 29px;
	height: 25px;
}

.logout{
	background-position: -878px -117px ;
	width: 22px;
	height: 24px;
}

.logout:hover{
	background-position: -907px -117px ;
	width: 22px;
	height: 24px;
}

.c_bw{
	background-position: -899px 0;
	width: 56px;
	height: 56px;
}

.c{
	background-position: -500px 0;
	width: 56px;
	height: 56px;
}

.clojure_bw{
	background-position: -728px 0;
	width: 56px;
	height: 56px;
}

.clojure{
	background-position: -443px 0;
	width: 56px;
	height: 56px;
}

.java_bw{
	background-position: -956px -57px ;
	width: 56px;
	height: 56px;
}

.java{
	background-position: -614px -57px ;
	width: 56px;
	height: 56px;
}

.javascript_bw{
	background-position: -842px -57px ;
	width: 56px;
	height: 56px;
}

.javascript{
	background-position: -842px 0;
	width: 56px;
	height: 56px;
}

.node_js_bw{
	background-position: -500px -57px ;
	width: 56px;
	height: 56px;
}

.node_js{
	background-position: -557px 0;
	width: 56px;
	height: 56px;
}

.opa_bw{
	background-position: -379px -82px ;
	width: 56px;
	height: 36px;
}

.opa{
	background-position: -379px -119px ;
	width: 56px;
	height: 36px;
}

.perl_bw{
	background-position: -956px 0;
	width: 56px;
	height: 56px;
}

.perl{
	background-position: -899px -57px ;
	width: 56px;
	height: 56px;
}

.php_bw{
	background-position: -671px 0;
	width: 56px;
	height: 56px;
}

.php{
	background-position: -443px -57px ;
	width: 56px;
	height: 56px;
}

.python_bw{
	background-position: -785px -57px ;
	width: 56px;
	height: 56px;
}

.python{
	background-position: -728px -57px ;
	width: 56px;
	height: 56px;
}

.r_bw{
	background-position: -671px -57px ;
	width: 56px;
	height: 56px;
}

.r{
	background-position: -614px 0;
	width: 56px;
	height: 56px;
}

.ruby_bw{
	background-position: -557px -57px ;
	width: 56px;
	height: 56px;
}

.ruby{
	background-position: -785px 0;
	width: 56px;
	height: 56px;
}

.eye_off {
	background-position: -443px -114px ;
	width: 56px;
	height: 26px;
}

.login_facebook{
	background-position: -52px -72px ;
	width: 160px;
	height: 30px;
}

.login_github{
	background-position: -278px 0;
	width: 160px;
	height: 31px;
}

.login_twitter{
	background-position: -52px -103px ;
	width: 160px;
	height: 31px;
}



.icon-circle-arrow-up {
	background-image: url("glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	background-position: -288px -144px;
	width: 14px;
	height: 14px;
}

.icon-circle-arrow-down {
	background-image: url("glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
  	background-position: -312px -144px;
  	width: 14px;
	height: 14px;
}  

/******* Basic Elements *********/

body {
	color: $text_color;
	background-color: $bg_color;
	background-repeat: repeat;
	background-position: 50px 30px;
	background-image: url("subtle-pattern.jpeg");
	font-size: 14px;
	font-family: sans-serif, arial, verdana, tahoma, 'lucida grande', 'Segoe UI', 'lucida sans unicode';
}

form{
	padding: 0px;
	margin: 0px;
}

table{
	margin: 0px;
}

label {
	color: $label_color;
	font-size: 18px;
	font-weight: bold;
	display: inline;
}

.label-small{
	font-size: 14px;
}

.label-smaller{
	font-size: 12px;
}

textarea{
	font-size: 16px;
	width: 550px;
	height: 100px;
}

input{
    padding-left: 15px;
    height: 35px;
	line-height: 35px;
    font-size: 16px;	
}

pre {
	margin: 5px;
}

img {
	padding: 0;
	margin: 0;
	border: 0;
}

/********* Fonts ***********/

.meta-text{
	color: $meta_text_color;
}

.meta-text-bold{
	color: $meta_text_color;
	font-weight: bold;
}

.meta-text-small{
	font-size: 12px;
	color: $meta_text_color;
	word-wrap:break-word;
}

/******* Links *********/

a {
	color: $text_color;
	text-decoration: underline;
}

a:hover {
	color: #fe9933;
    text-decoration: underline;
}

a:visited {
	color: $meta_text_color;
}

a:visited:hover {
	color: #fe9933;
    text-decoration: underline;
}


.ui-widget-content a {
	color: $text_color;
	text-decoration: underline;
}

.ui-widget-content a:hover {
	color: #fe9933;
    text-decoration: underline;
}

.ui-widget-content a:visited {
	color: $meta_text_color;
}

.ui-widget-content a:visited:hover {
	color: #fe9933;
    text-decoration: underline;
}



header a {
	color: white;
	text-decoration: none;
}

header a:visited {
	color: white;
	text-decoration: none;
}

header a:hover{
	color: $orange;
	text-decoration: none;
}

header a:visited:hover {
	color: $orange;
    text-decoration: none;
}

.searchResultLink{
	font-size: 16px;
}

/****** Buttons **********/

.lp_button{
	width: 200px;
}

.radio[type="radio"] {
	width: 20px;
}

.radio-label{
	font-weight: normal;
	font-size: 14px;
}

/***** Lists *****************/

.list-row {
	margin: 0;
	padding: 0;
	display: table-row;
	height: 20px;
}

.list-cell {
    list-style-type: none;
    display: table-cell;
    padding-right: 5px;
	vertical-align: middle;
}

.list-cell-lang-icons {
	list-style-type: none; 
	display: table-cell; 
	padding-right: 0px; 
	vertical-align: middle; 
	text-align: center;
	list-style-type: none; 
	display: table-cell; 
	padding-right: 0px; 
	vertical-align: middle; 
	text-align: center;
}

.small-heart {
	line-height: 0.7em;
	display: inline;
	padding-top: 0px;
    padding-right: 5px;
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
}

.small-heart-img {
	height: 20px; 
	padding-left: 15px;
}

/***** div tables ********/

.div-row{
	margin: 0;
    padding: 0;
	display: table-row;
}

.div-cell{
	margin: 0;
    padding: 0;
	display: table-cell;
}

/***** Round corners ********/

.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

/******** LAYOUT **********/

.container {
	width: 850px;
	z-index: 100
}

header {
	background-image: url("header_os.png")  ;
	background-repeat: repeat-x;
    background-position: top;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0px;
    padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	height: 55px;
	width: 100%;
	vertical-align: middle;	
}

section {
    display: inline-block;
    width: 810px;
	padding: 20px;
	margin-top: 65px;
	background-color: white;
}

.section-lp{
	display: inline-block;
    width: 810px;
	padding: 20px;
	margin-top: 15px;
	background-color: white;
}

section .container{
	width: 810px;
}

section h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}

section h2{
	font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

section h3{
	font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 7px;
    margin-top: 14px;
    color: gray;
}

.dep_link{
	padding-left: 15px;
}

footer {
    text-align: left;
    margin-top: 15px;
	padding-top: 5px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
	background-color: white;
}

footer nav {
    float: none;
    height: 175px;
    vertical-align: middle;
	padding: 0;
	margin: 0;
}


/******* Header *****************/

.logo_div{
	float: left;
	margin: 0;
	padding: 0;
	background-position: -278px -32px ;
	width: 148px;
	height: 49px;
}

.searchfield_div{
	float: left; 
	margin-left: 10px; 
	margin-right: 10px;
	margin-top: 5px;
	padding: 0px;
	width: 172px; 
	height: 44px
}

.search-form{
	vertical-align:top;
}

.lp_searchfield_hint{
	color: $border_color;
}

.searchfield{
	font-size: 14px;
	height: 23px; 
	line-height: 23px;
	width: 162px;  
	margin: 0;	 
	padding:0;
}

.searchlink_div{
	float:left; 
	margin-top: 13px;
	margin-left: 5px;
}

.searchlink{
	background-position: -443px -114px ;
	width: 56px;
	height: 26px;
	margin-top: 0px;
	margin-left: 0;
	padding-left: 0;
	display:block; 
}

.searchlink:hover{
	background-position: -500px -114px ;
	width:56px; 
	height:26px;
	margin-top: 0px;
	margin-left: 0;
	padding-left: 0;
	display:block; 
	text-decoration: none;
}

nav a img{
	margin-top: 7px;
}

/****** Navigation ******/

nav {
    float: right;
	margin: 6px 0px;
    white-space: nowrap;
	height: 37px;	
}

nav ul {
    margin: 0;
    padding: 0;
	display: table-row;
}

nav ul li {
    list-style-type: none;
    display: table-cell;
    padding: 0;
	height: 37px;
	vertical-align: middle;
	background-image: url("sign_space.png");
	background-repeat: repeat-x;
}

nav ul li a {
    padding: 0 10px;
	vertical-align: middle;
	color: white;
}

nav ul li a:visited {
	color: white;
}

nav ul li a:hover {
    text-decoration: none;
	color: $orange;
}

.nav-begin{
	background-position: -228px -87px ;
	width: 7px;
	height: 37px;
}
.nav-end{
	background-position: -239px -87px ;
	width: 7px;
	height: 37px;
}
.nav-line{
	background-position: -261px -20px ;
	width: 2px;
	height: 37px;
}

.nav-cell{
	padding-right: 7px;
	padding-left: 7px;
}

.side-navi-head{
	border-top: 1px dotted $border_color;
}

.side-navi{
	height: 25px;
	line-height: 28px;
	background-color: white;
	border-bottom: 1px dotted $border_color;
	padding-left: 10px;
}

.side-navi-selected{
	background-color: $side_menu_selected_bg_color;
	padding-left: 20px;
}

/****** Footer ******/

.footerLink{
	padding-left: 5px;
}

.footerLink:visited{
	padding-left: 5px;
}

.footerLink:hover{
	padding-left: 5px;
}

.footer-box{
	padding: 10px; 
	margin-bottom: 10px;
	height: 140px;
}

/***** Landing Page *****/

.slogan{
	text-align: center;
	padding-bottom: 30px;
}

.intro{
	height: 420px;
	text-align: center;
	padding-top: 10px;
}

.phone-box{
	float: right; 
	width: 256px
}

.movie-box{
	width: 512px; 
	padding-top: 40px;
}

.lp_login_area{
	text-align: center;
}

.lp_head{
	padding-top: 10px;
	padding-bottom: 0px;	
	margin: 0;
}

.lp_search_div{
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
}

.lp_half_box{
	border: 0px solid $box_border_color;
	width: 390px;
	border-bottom-left-radius:10px 10px; 
	border-top-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px; 
	border-top-right-radius:10px 10px;
}

.lp_box{
	padding-top: 15px;
	padding-bottom: 20px;	
}

.lp_b1_left_top{
	background-image: url("frame_corner_left_top.png");
	width: 8px;
	height: 8px;
}

.lp_b1_middle_top{
	width: 400px;
	background-image: url("frame_top.png");
	background-repeat: repeat-x;	
}

.lp_b1_right_top{
	background-image: url("frame_corner_right_top.png");
	width: 8px;
	height: 8px;
}

.lp_b1_left_middle{
	background-image: url("frame_left.png");
	background-repeat: repeat-y;
}

.lp_b1_middle_middle{
	
}

.lp_b1_right_middle{
	background-image: url("frame_right.png");
	background-repeat: repeat-y;
	width: 8px;
}

.lp_b1_left_bottom{
	background-image: url("frame_corner_left_bottom.png");
}

.lp_b1_middle_bottom{
	background-image: url("frame_bottom.png");
	background-repeat: repeat-x;
	height: 8px;
}

.lp_b1_right_bottom{
	background-image: url("frame_corner_right_bottom.png");
	width: 8px;
	height: 8px;
}

.lp_phone_small{
	padding: 10px;
	width: 125px;
	text-align: center;
}

.lp_phone_store{
	padding: 10px;
	width: 125px;
}

.lp_phone_content{
	width: 200px;
	vertical-align: top;
	padding: 10px;
}

.lp_sign_up{
	text-align: center;
}

.lp_sign_up_button[type="submit"]{
	background-position: -52px 0;
	width: 200px;
	height: 35px;
}

.lp_sign_up_button[type="submit"]:hover{
	background-position: -52px -36px ;
	width: 200px;
	height: 35px;
}

/***** Impressum *****/

.impressum-container{
	text-align: center; 
	width: 666px; 
	height: 670px; 
	margin-left: auto; 
	margin-right: auto
}

.impressum-right{
	float:right; 
	text-align:left
}

.impressum-left{
	text-align:left; 
	width: 300px
}

/***** About Page ********/

.aboutCell{
	padding: 5px; 
	margin-right: 10px;
	margin-bottom: 10px; 
	border: 1px dotted $meta_text_color; 
	text-align: center;
	height: 255px;	
}

/***** 3 Col Form ********/

.formCel{
	float:left; 
	display: block; 
	width: 460px;
	padding-top: 20px;
}

.alternative_signin_options_cel{
	float:left; 
	width: 250px; 
	padding-left: 58px; 
	border-left: 1px solid $horizontal_separater_line; 
	color: $meta_text_color
}

.labelCel{
    width: 110px;
    padding-right: 5px;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

.labelCelMiddle{
    width: 150px;
    padding-right: 5px;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

.labelCelPrivacy{
	width: 380px;
    padding-right: 5px;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

.labelCelBig{
	width: 210px;
    padding-right: 5px;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

.labelCelBigTop{
	padding-top: 10px;
	vertical-align: top;
}

.inputCel{
	width: 300px;
    padding-left: 5px;
    display: table-cell;
    text-align: left;
}

.inputCel input{
    width: 270px;
    font-size: 16px;
    height: 30px;
}

.inputCelHint{
	color: #D3D3D3;
	width: 270px;
}

.hintCel{
    width: 300px;
    display: table-cell;
    vertical-align: middle;
}

.formDiv{
	padding-bottom: 15px;
	border-bottom: 1px dotted $border_color;
}

/******** Box - Header / Container **********/

.boxHeader{
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
	color: $meta_text_color;
}

.boxContainer{
	padding: 10px;
	background-color: $box_container_bg_color;
	-moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

.navi{
	margin-top: 43px;
	padding: 10px;
	background-color: $box_container_bg_color;
	-moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}


/******** ERROR STYLES **********/

#error_explanation {
  display: table;
  width: 90%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/****** Other Versions Table ****/

.otherVersionOne{
	text-align: left;
}

.otherVersionTwo{
	text-align: left;
}

.otherVersionThree{
	text-align: left;
}

/****** 2 Col Content *******/ 

.sidebar{
	width: 200px; 
	display: block; 
	float: left; 
	margin-right: 10px;
}

.content{
	width: 590px; 
	display: block; 
	float: left; 
	margin-left: 5px;
}


/****** ELSE ****************/

.avatar-comment{
	padding-right: 5px;
}

.comment-meta-box{
	vertical-align: top
}

.dependencies{
	text-align: left;
}

.dependency{
	border-bottom: 1px dotted $border_color; 
	padding-top: 5px;
	padding-bottom: 5px; 
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

.dependency:hover{
	border-bottom: 1px dotted $border_color; 
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: $element_highlight_color;
}

.projects{
	text-align: left;
}

.project{
	border-bottom: 1px dotted $border_color; 
	padding-top: 5px;
	padding-bottom: 5px; 
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

.project:hover{
	border-bottom: 1px dotted $border_color; 
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: $element_highlight_color;
}

.plans{
	text-align: left;
}

.plan{
	border-bottom: 1px dotted $border_color; 
	padding-top: 5px;
	padding-bottom: 5px; 
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
	height: 30px;
}

.plan:hover{
	border-bottom: 1px dotted $border_color; 
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: $element_highlight_color;
}

.comment{
	border-bottom: 1px dotted $border_color; 
	padding-top: 5px;
	padding-bottom: 5px; 
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

.share-on{
	padding-bottom: 1px;
	padding-right: 5px;
}

.share-on-icon{
	cursor: pointer;
	padding-right: 5px;
	padding-top : 10px;
	vertical-align: top;
}

.share-cell{
	padding-top: 5px;
}

.searchResults{
	text-align: left;
}

.searchResult{
	border-bottom: 1px dotted $border_color; 
	padding-top: 5px;
	padding-bottom: 5px; 
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 75px;
	vertical-align: middle;
}

.searchResult:hover{
	border-bottom: 1px dotted $border_color; 
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: $element_highlight_color;
}

.searchResult .list-row {
	margin: 0;
	padding: 0;
	display: table-row;
	height: 70px;
}

.searchResult .list-row .list-cell {
    list-style-type: none;
    display: table-cell;
    padding-left: 5px;
	height: 50px;
	vertical-align: middle;
}

.searchResult-inner-list-row {
    list-style-type: none;
    display: table-cell;
    padding: 0px;
    padding-top: 5px;
	margin: 0px;
	vertical-align: middle;
}

.searchResult-inner-list-cell {
    list-style-type: none;
    display: table-cell;
    padding-left: 0px;
	height: 20px;
	vertical-align: middle;
}

#product_to_follow{
	font-weight: bold;
}

.dialog_description{
	margin-top: 10px;
}

.version{
	font-weight:bold;
}

.subtitle{
	font-weight: bold;
}

.flag{
	width: 66px;
	height: 48px;
	padding-right: 2px;
}

.show_image{
	text-align: center;
}

.code{
	background-color: $box_container_bg_color;
	padding: 10px;
	vertical-align: middle;
}

.docu{
	margin-top: 10px;
	margin-bottom: 10px;
}

.docu_h2{
	margin-top: 30px;
}

.docu_table{
	font-family: courier;
}

.docu_table td{
	vertical-align: top;
}

.docu_table th{
	background-color: $box_container_bg_color;
	font-family: courier;
}

.docu_table td{
	border-bottom: 1px solid $box_container_bg_color;
	font-family: courier;
}

.privacy-option-a{
	width: 100px; 
	text-align: center;
}

.privacy-option-b{
	width: 100px;
	text-align: center;
}

.privacy-seperator{
	border-top: 1px solid $border_color;
}

.icon-cell{
	vertical-align: middle; 
	text-align:center; 
	width: 56px;
	height: 50px;
}

.unknown{
	color: $unknown_color;
	font-weight: bold;
}

.unknown-row{
	background-color: $unknown_row_bg_color;
	padding: 5px;
}

.outdated-row{
	background-color: $outdated_row_bg_color;
	padding: 5px;
}

.outdated-text{
	color: $outdated_color;
	font-weight: bold;
}

.current-version-text{
	color: green;
	font-weight: bold;
}

.info-text{
	padding-bottom: 25px;
}


/******* Projects *****************/

.project-types-cell{
	width: 180px;
	padding: 7px; 
	border: 0px solid gray;
	text-align: center;
}

.project-types-header{
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.project-integration-cell{
	width: 180px;
	padding: 7px; 
	border: 0px solid gray;
	text-align: center;
}

.project-pricing-cell{
	width: 180px;
	padding: 7px; 
	border: 0px solid gray;
	text-align: center;
	font-weight: bold; 
	font-size: 16px;
}

.default {
    background-color: #91D473;
    color: white;
    padding: 5px 7px;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;

}