
/* kind of gray = #F5F5F5 */

/******* Basic Elements *********/

body {
	color: #22211f;
	background-color: #EEEEDD;
	background-repeat: no-repeat;
	background-position: 50px 30px;
	font-size: 14px;
	font-family: sans-serif, arial, verdana, tahoma, 'lucida grande', 'Segoe UI', 'lucida sans unicode';
}

form{
	padding: 0px;
	margin: 0px;
}

table{
	margin: 0px;
}

label {
	color: #666666;
	font-size: 18px;
	font-weight: bold;
}

.label-small{
	font-size: 14px;
	font-weight: none;
}

textarea{
	font-size: 16px;
	width: 550px;
	height: 100px;
}

input{
    padding-left: 15px;
    height: 35px;
	line-height: 35px;
    font-size: 16px;	
}

pre {
	margin: 5px;
}

img {
	padding: 0;
	margin: 0;
	border: 0;
}

/********* Fonts ***********/

.meta-text{
	color: #808080;
}

.meta-text-bold{
	color: #808080;
	font-weight: bold;
}

.meta-text-small{
	font-size: 12px;
	color: #808080;
	word-wrap:break-word;
}

/******* Links *********/

a {
	color: #22211f;
    text-decoration: underline;
}

a:hover {
	color: #fe9933;
    text-decoration: underline;
}

a:visited {
	color: #808080;
}

a:visited:hover {
	color: #fe9933;
    text-decoration: underline;
}

header a {
	color: white;
	text-decoration: none;
}

header a:visited {
	color: white;
	text-decoration: none;
}

header a:hover{
	color: #f9b323;
	text-decoration: none;
}

header a:visited:hover {
	color: #f9b323;
    text-decoration: none;
}

.searchResultLink{
	font-size: 16px;
}

/****** Buttons **********/

.lp_button{
	width: 200px;
}

input[type="submit"] {
	-webkit-user-select:none;
/*	background-color: #f9b323;*/
	background-image: url("button_bg_100_off.gif");
	background-repeat: no-repeat;
    background-position: top;
	color: black;	  
	cursor:pointer;
	font-family: arial, sans-serif;
	font-size:17px;
	font-weight:bold;
	text-align:center;
	width: 100px;
	min-width:54px;
	height:35px;
	line-height:35px;
	border: 0px solid gray;
	border-bottom-left-radius:8px 8px;
	border-bottom-right-radius:8px 8px;
	border-top-left-radius:8px 8px;
	border-top-right-radius:8px 8px;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:5px;
	margin-top:0px;
	padding-bottom:0;
	padding-left:8px;
	padding-right:8px;
	padding-top:0;
} 

input[type="submit"]:hover {
	-webkit-user-select:none;
	background-image: url("button_bg_100_on.gif");
}

.followButtonBig[type="submit"]{
	-webkit-user-select:none;
/*	background-color: #f9b323;*/
	background-image: url("button_bg_100_off.gif");
	background-repeat: no-repeat;
    background-position: top;
	color: black;
	cursor:pointer;
	font-family: arial, sans-serif;
	font-size:17px;
	font-weight:bold;
	text-align:center;
	width: 100px;
	min-width:54px;
	height:35px;
	line-height:35px;
	border: 0px solid gray;
	border-bottom-left-radius:8px 8px;
	border-bottom-right-radius:8px 8px;
	border-top-left-radius:8px 8px;
	border-top-right-radius:8px 8px;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:5px;
	margin-top:0px;
	padding-bottom:0;
	padding-left:8px;
	padding-right:8px;
	padding-top:0;
}

.followButtonBig[type="submit"]:hover {
	-webkit-user-select:none;
	background-image: url("button_bg_100_on.gif");
}

.unfollowButtonBig[type="submit"]{
	-webkit-user-select:none;
	 background-color:white;
	 background-image: none;
	 border: 2px solid #f9b323;
     border-bottom-left-radius:8px 8px;
	 border-bottom-right-radius:8px 8px;
 	 border-top-left-radius:8px 8px;
	 border-top-right-radius:8px 8px;
	 color:#22211f;
	 cursor:pointer;
	 font-family: arial, sans-serif;
	 font-size:17px;
	 font-weight:bold;
     width: 100px;
	 height:35px;
	 line-height:32px;
	 margin-bottom:0px;
	 margin-left:5px;
	 margin-right:5px;
	 margin-top:0px;
	 min-width:54px;
	 padding-bottom:0;
	 padding-left:8px;
	 padding-right:8px;
	 padding-top:0;
	 text-align:center; 
}

.unfollowButtonBig[type="submit"]:hover{
	 background-image: none;
}

.followButton[type="submit"]{
	-webkit-user-select:none;
	background-color: white;
	background-image: url("button_100_off.png");
	background-repeat: no-repeat;
    background-position: top;
	color: black;	  
	cursor:pointer;
	font-family: arial, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	width: 100px;
	min-width:54px;
	height:25px;
	line-height:25px;
	border: 0px solid gray;
	border-bottom-left-radius:8px 8px;
	border-bottom-right-radius:8px 8px;
	border-top-left-radius:8px 8px;
	border-top-right-radius:8px 8px;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:5px;
	margin-top:0px;
	padding-bottom:0;
	padding-left:8px;
	padding-right:8px;
	padding-top:0;
}

.followButton[type="submit"]:hover {
	-webkit-user-select:none;
	background-image: url("button_100_on.png");
}

.unfollowButton[type="submit"]{
	-webkit-user-select:none;
	background-color:white;
	background-image: none;
	border: 2px solid #f9b323;
    border-bottom-left-radius:8px 8px;
	border-bottom-right-radius:8px 8px;
 	border-top-left-radius:8px 8px;
	border-top-right-radius:8px 8px;
	color:#22211f;
	cursor:pointer;
	font-family: arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	height:25px;
	line-height:22px;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:5px;
	margin-top:0px;
	min-width:54px;
	padding-bottom:0;
	padding-left:8px;
	padding-right:8px;
	padding-top:0;
	text-align:center; 
}

.unfollowButton[type="submit"]:hover{
	background-image: none;
}

.feedbackButton[type="submit"] {
	-webkit-user-select:none;
	background-image: url("feedback_off.png");
	width: 51px;
	height: 165px;
	background-color: transparent;
}

.feedbackButton[type="submit"]:hover {
	-webkit-user-select:none;
	background-image: url("feedback_on.png");
	width: 51px;
	height: 165px;
	background-color: transparent;
}

.radio[type="radio"] {
	width: 20px;
}

.radio-label{
	font-weight: normal;
	font-size: 14px;
}

/***** Lists *****************/

.list-row {
	margin: 0;
	padding: 0;
	display: table-row;
	height: 20px;
}

.list-cell {
    list-style-type: none;
    display: table-cell;
    padding-right: 5px;
	height: 20px;
	vertical-align: middle;
}

/***** div tables ********/

.div-row{
	margin: 0;
    padding: 0;
	display: table-row;
}

.div-cell{
	margin: 0;
    padding: 0;
	display: table-cell;
}

/***** Round corners ********/

.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

/******** LAYOUT **********/

.container {
	width: 850px;
}

header {
	background-image: url("header_os.png")  ;
	background-repeat: repeat-x;
    background-position: top;
	position: fixed;
	top: 0;
	margin: 0px;
    padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	height: 55px;
	width: 100%;
	vertical-align: middle;	
}

section {
    display: inline-block;
    width: 810px;
	padding: 20px;
	margin-top: 65px;
/*	opacity:0.5;*/
	background-color: white;
	/*-moz-box-shadow:    0px 0px 2px 2px #888888;
		-webkit-box-shadow: 0px 0px 2px 2px #888888;
		box-shadow:         0px 0px 2px 2px #888888;	*/
}

.section_lean {
    display: inline-block;
    width: 810px;
	padding: 20px;
	-moz-box-shadow:    0px 0px 0px 0px #888888;
	-webkit-box-shadow: 0px 0px 0px 0px #888888;
	box-shadow:         0px 0px 0px 0px #888888;
}

section .container{
	width: 810px;
}

section h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}

section h2{
	font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

section h3{
	font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

footer {
    text-align: left;
	border-top: 0px dotted gray;
    margin-top: 15px;
	padding-top: 5px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
	background-color: white;
}

footer nav {
    float: none;
    height: 135px;
    vertical-align: middle;
	padding: 0;
	margin: 0;
}

/******* Header *****************/

.logo_div{
	float: left;
	margin: 0;
	padding: 0;
}

.searchfield_div{
	float: left; 
	margin-left: 10px; 
	margin-right: 10px;
	margin-top: 5px;
	padding: 0px;
	width: 170px; 
	height: 45px
}

.search-form{
	vertical-align:top;
}

.lp_searchfield{
	font-size: 20px;
	height: 43px; 
	line-height: 43px;
	width: 377px;
	margin: 0;
	padding:0;
	padding-left: 10px; 
	border-bottom-left-radius:10px 10px; 
	border-top-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px; 
	border-top-right-radius:10px 10px;
}

.lp_searchfield_hint{
	color: gray;
}

.searchfield{
	font-size: 14px;
	height: 23px; 
	line-height: 23px;
	width: 162px;  
	margin: 0;	 
	padding:0; 
	padding-left: 5px; 
	border-bottom-left-radius:5px 5px; 
	border-top-left-radius:5px 5px;
	border-bottom-right-radius:5px 5px; 
	border-top-right-radius:5px 5px;
}

.searchlink_div{
	float:left; 
	margin-top: 13px;
	margin-left: 5px;
}

.searchlink{
	background: url("eye_off.png");
	margin-top: 0px;
	margin-left: 0;
	padding-left: 0;
	display:block; 
	width:56px; 
	height:26px;
}

.searchlink:hover{
	background: url("eye_on.png");
	margin-top: 0px;
	margin-left: 0;
	padding-left: 0;
	display:block; 
	width:56px; 
	height:26px;
	text-decoration: none;
	zoom: 1;
}

nav a img{
	margin-top: 7px;
}

/****** Navigation ******/

nav {
    float: right;
	margin: 6px 0px;
    white-space: nowrap;
	height: 37px;	
}

nav ul {
    margin: 0;
    padding: 0;
	display: table-row;
}

nav ul li {
    list-style-type: none;
    display: table-cell;
    padding: 0;
	height: 37px;
	vertical-align: middle;
	background-image: url("sign_space.png");
	background-repeat: repeat-x;
}

nav ul li a {
    padding: 0 10px;
    font-weight: none;
	vertical-align: middle;
	color: white;
}

nav ul li a:visited {
	color: white;
	font-weight: none;
}

nav ul li a:hover {
    text-decoration: none;
	font-weight: none;
	color: #f9b323;
}

.nav-begin{
	background-image: url("sign_left.png");
	width: 7px;
}
.nav-end{
	background-image: url("sign_right.png");
	width: 7px;
}
.nav-line{
	background-image: url("sign_line.png");
	width: 2px;
}

.side-navi-head{
	border-top: 1px dotted gray;
}

.side-navi{
	height: 25px;
	line-height: 28px;
	background-color: white;
	border-bottom: 1px dotted gray;
	padding-left: 10px;
}

.side-navi-selected{
	background-color: #F5F5F5;
	padding-left: 20px;
}

/****** Footer ******/

.footerLink{
	padding-left: 5px;
}

.footerLink:visited{
	padding-left: 5px;
}

.footerLink:hover{
	padding-left: 5px;
}

.footer-box{
	padding: 10px; 
	margin-bottom: 10px;
	height: 120px;
}

/***** Landing Page *****/

.slogan{
	text-align: center;
	padding-bottom: 30px;
}

.intro{
	height: 420px;
	text-align: center;
	padding-top: 10px;
}

.phone-box{
	float: right; 
	width: 256px
}

.movie-box{
	width: 512px; 
	padding-top: 40px;
}

.lp_login_area{
	text-align: center;
}

.lp_head{
	padding-top: 0px;
	padding-bottom: 0px;	
	margin: 0;
}

.lp_search_div{
	padding-top: 10px;
	padding-bottom: 50px;
	text-align: center;
}

.lp_half_box{
	border: 1px solid #BBBBBB;
	width: 390px;
	border-bottom-left-radius:10px 10px; 
	border-top-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px; 
	border-top-right-radius:10px 10px;
}

.lp_box{
	padding-top: 15px;
	padding-bottom: 20px;	
}

.lp_b1_left_top{
	background-image: url("frame_corner_left_top.png");
	width: 8px;
	height: 8px;
}

.lp_b1_middle_top{
	width: 400px;
	background-image: url("frame_top.png");
	background-repeat: repeat-x;	
}

.lp_b1_right_top{
	background-image: url("frame_corner_right_top.png");
	width: 8px;
	height: 8px;
}

.lp_b1_left_middle{
	background-image: url("frame_left.png");
	background-repeat: repeat-y;
}

.lp_b1_middle_middle{
	
}

.lp_b1_right_middle{
	background-image: url("frame_right.png");
	background-repeat: repeat-y;
	width: 8px;
}

.lp_b1_left_bottom{
	background-image: url("frame_corner_left_bottom.png");
}

.lp_b1_middle_bottom{
	background-image: url("frame_bottom.png");
	background-repeat: repeat-x;
	height: 8px;
}

.lp_b1_right_bottom{
	background-image: url("frame_corner_right_bottom.png");
	width: 8px;
	height: 8px;
}

.lp_phone_small{
	padding: 10px;
	width: 125px;
	text-align: center;
}

.lp_phone_store{
	padding: 10px;
	width: 125px;
}

.lp_phone_content{
	width: 200px;
	vertical-align: top;
	padding: 10px;
}

.lp_sign_up{
	text-align: center;
}

.lp_sign_up_button[type="submit"]{
	width: 200px;
	background-image: url("button_bg_200_off.gif");
	background-repeat: no-repeat;
    background-position: top;
}

.lp_sign_up_button[type="submit"]:hover{
	background-image: url("button_bg_200_on.gif");
}

/***** Impressum *****/

.impressum-container{
	text-align: center; 
	width: 666px; 
	height: 670px; 
	margin-left: auto; 
	margin-right: auto
}

.impressum-right{
	float:right; 
	text-align:left
}

.impressum-left{
	text-align:left; 
	width: 300px
}


/***** Social Buttons *****/

.socialbuttons{
	position: fixed;
	top: 177px;
	left: 0;
}

.feedback{
	position: fixed;
	top: 177px;
	right: 0;
}

/***** About Page ********/

.aboutCell{
	padding: 5px; 
	margin-right: 10px;
	margin-bottom: 10px; 
	border: 1px dotted #808080; 
	text-align: center;
	height: 255px;	
}

/***** 3 Col Form ********/

.formCel{
	float:left; 
	display: block; 
	width: 460px;
}

.alternativeCel{
	float:left; 
	width: 250px; 
	padding-left: 58px; 
	border-left: 1px solid #888888; 
	color: #666666
}

.labelCel{
    width: 110px;
    padding-right: 5px;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

.labelCelBig{
	width: 210px;
    padding-right: 5px;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

.labelCelBigTop{
	padding-top: 10px;
	vertical-align: top;
}

.inputCel{
	width: 300px;
    padding-left: 5px;
    display: table-cell;
}

.inputCel input{
    width: 270px;
}

.inputCelHint{
	color: #D3D3D3;
	width: 270px;
}

.hintCel{
    width: 300px;
    display: table-cell;
    vertical-align: middle;
}

.submitCel{
	padding-left: 0px;
    width: 300px;
    display: table-cell;
}

.formDiv{
	padding-bottom: 15px;
	border-bottom: 1px dotted gray;
}

/******** Box - Header / Container **********/

.boxHeader{
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #666666;
}

.boxContainer{
	padding: 10px;
	background-color: #F5F5F5;
}

/******** USER DETAIL PAGE **********/

.productCountInfo{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

/******** ERROR STYLES **********/

#error_explanation {
  display: table;
  width: 90%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/****** Other Versions Table ****/

.otherVersionOne{
	text-align: left;
}

.otherVersionTwo{
	text-align: left;
}

.otherVersionThree{
	text-align: left;
}

/****** 2 Col Content *******/ 

.sidebar{
	width: 200px; 
	display: block; 
	float: left; 
	margin-right: 10px;
}

.content{
	width: 590px; 
	display: block; 
	float: left; 
	margin-left: 5px;
}

/****** BLOG ****************/

.blogpost{
	padding-bottom: 20px;
}

.blog-subject{
	font-size: 20px;
	font-weight: bold;
}

.blog-post{
	padding-top: 10px;
}

.blog-labelCel{
    padding-left: 5px;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	height: 35px;
	padding-top: 10px;
}

.blog-inputCel{
	width: 570px;
    padding-left: 5px;
    display: table-cell;
}

.blog-submitCel{
	padding-left: 0px;
    width: 570px;
    display: table-cell;
	text-align: left;
}

.blog-input{
	width: 560px;
}

.blog-textarea{
	width: 563px;
	height: 300px;
}

/****** ELSE ****************/

.share-on{
	padding-bottom: 1px;
}

.share-on-icon{
	cursor: pointer
}

.searchResults{
	text-align: left;
	padding-top: 0px;
}

.searchResult{
	border-bottom: 1px dotted gray; 
	padding-top: 5px;
	padding-bottom: 5px; 
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.searchResult:hover{
	border-bottom: 1px dotted gray; 
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F5F5F5;
}

#product_to_follow{
	font-weight: bold;
}

.dialog_description{
	margin-top: 10px;
}

.version{
	font-weight:bold;
}

.subtitle{
	font-weight: bold;
}

.flag{
	width: 66px;
	height: 48px;
	padding-right: 2px;
}

.show_image{
	text-align: center;
}

.code{
	background-color: #F5F5F5;
	padding: 10px;
	vertical-align: middle;
}

.docu{
	margin-top: 10px;
	margin-bottom: 10px;
}

.docu_h2{
	margin-top: 30px;
}

.docu_table{
	font-family: courier;
}

.docu_table td{
	vertical-align: top;
}

.docu_table th{
	background-color: #F5F5F5;
	font-family: courier;
}

.docu_table td{
	border-bottom: 1px solid #F5F5F5;
	font-family: courier;
}

.privacy-option-a{
	width: 150px; 
	text-align: center;
/*	padding-left: 10px*/
}

.privacy-option-b{
	width: 200px;
	text-align: center;
}

.privacy-option-c{
	width: 150px; 
	text-align: center;
}

.privacy-seperator{
	border-top: 1px solid gray;
}

.profile-head{
	padding-bottom: 20px;
	border-bottom: 1px dotted gray;
}

.icon-cell{
	vertical-align: top; 
	text-align:center; 
	width: 56px
}

.unknown{
	color: red;
	font-weight: bold;
}

.unknown-row{
	background-color: beige;
	padding: 5px;
}

.outdated-row{
	background-color: #FFD5D5;
	padding: 5px;
}

.outdated-text{
	color: red;
	font-weight: bold;
}

.current-version-text{
	color: green;
	font-weight: bold;
}

.info-text{
	padding-bottom: 25px;
}