
.enterprise_header{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 400px;
  font-family: "Helvetica";
  font-size: 70px;
}

.enterprise_subheader{
  position: relative;
  top: 66px;
  left: 10px;
  font-family: "Helvetica";
  font-size: 20px;
  width: 700px;
}

.cell2{
  width: 417px;
  padding: 10px 15px 0 0;
}

h2{
  margin-top: 50px;
}

h3{
  font-size: 20px;
  font-family: "Helvetica"
}

.two_col_box{
  padding: 0 5px 0 15px;
}

cite {
    font-style: italic;
    font-family: times;
    font-size: 22px;
    color: gray;
    line-height: 1.2;
}

.cite_section {
  padding-top: 10px;
}

