

h2{
  margin-top: 50px;
}

h3{
  font-size: 20px;
  font-family: "Helvetica"
}

cite {
    font-style: italic;
    font-family: times;
    font-size: 22px;
    color: gray;
    line-height: 1.2;
}

.cite_section {
  padding-top: 10px;
}

