

/* Footer
-------------------------------------------------- */

.footer {

  padding-top: 30px;
  border-top: 1px solid #eeeeee;

  & h4 { color: $text_casual;}
  & p {
    margin-bottom: 0;
    color: $text_casual;
  }

}

.footer-links {
  margin: 10px 0;
  & li {
    display: block;
    margin: 5px 0px 5px 0px;
  }

  & a {
    font-size: 13px;
    color: $text_link;
    text-decoration: none;

    & :hover {
      color: $text_hover;
    }
    &:visited {
      color: $text_link;
    }
  }

}

.footer_social_icon{
  font-size: 24px;
  text-decoration: none;
}

.footer_social_icon:hover{
  text-decoration: none;
}

.footer_link_margin{
  margin-right: 10px;
}

.footer_link_row_1{
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer_language_row{
  text-align: center;
  margin-bottom: 10px;
  font-size: 11px;
}


.footer_link_row_3{
  text-align: center;
  margin-bottom: 20px;
  font-size: 11px;

  & a {
    color: gray;
  }
}

.footer_social_media_row{
  text-align: center;
  padding-bottom: 15px;
}
