.repo-controls .nav {
  max-height: 130px;
  overflow-x: hidden;
  overflow-y: auto;

  & li:hover {
    background-color: #efefef;
  };

  .media-body.product-item {
    border-top: 1px solid #f3f3f3;
    padding: 5px 0px;

    &:hover {
      background-color: #fafafa;
    };
  }
}

.repo-container {
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 0px;

  &:hover {
    background-color: #f3f3f3;
  };
}