
.navbar {

  & .main_logo {
    padding: 0px 0px 0px 0px;
    margin-left: 0;
    height: 50px;
  }

  & img.flag {
    margin: 2px 5px 0px 0px;
    width: 32px;
    height: 25px;
  }

  /* link separators */
  .divider-vertical {
    height: 10px;
    margin: 15px 12px 0px 12px;
    background-color: white;
    border-style: ridge;
    border: 1px solid white;
  }
}

.navbar .nav > li {
  float: left;
  padding: 5px 0px 0px 0px;
}


.navbar .nav > li > a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
}

.navbar .nav > li > a.profile_pic_tiny {
  padding: 6px 0px 0px 0px;
}

.navbar .nav > li > a:hover {
  color: #0088cc;
}

.navbar-fixed-top {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: white;
  border-bottom: 1px solid #eeeeee;
}
