
.navbar {

  .logo_small{
    margin-top: 2px;
    margin-left: 5px;
  }

  & img.flag {
    margin: 2px 5px 0px 0px;
    width: 32px;
    height: 25px;
  }

}

.navbar .nav > li {
  float: left;
  padding: 5px 0px 0px 15px;
}


.navbar .nav > li > a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
}

.navbar .nav > li > a.profile_pic_tiny {
  padding: 6px 0px 0px 0px;
}

.navbar .nav > li > a:hover {
  color: #0088cc;
}

.navbar-fixed-top {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: white;
  border-bottom: 1px solid #eeeeee;
}
