
.cell2{
  width: 417px; 
  padding: 10px 15px 0 0;
}

body,html{
    height:100%;
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* background-image: url("/assets/bg/2048.jpg"); */

.l_lp_first_page{
  position:relative;
  min-height: 400px;
}

.l_lp_well_margin{
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 0;
}

.l_lp_first_content{
  width: 100%;
  position:absolute;
  top: 30%;
}

.l_lp_header{
  width: 100%;
  text-align: center;
  position:absolute;
  top: 10%;
}
