
.l_left_padding {
  padding-left: 30px;
}

.col2-left {
  padding-left: 30px;
  padding-top: 30px;
}

.col2-right {
  padding-right: 30px;
  padding-top: 30px;
}

.col2-left-l {
  padding-left: 30px;
  padding-top: 0px;
}

.col2-right-r {
  padding-right: 30px;
  padding-top: 0px;
}

.l_faq_section {
  padding-bottom: 15px;
}

.l_margin_top_15{
  margin-top: 15px;
}

.l_margin_top_50{
  margin-top: 50px;
}

.l_margin_bottom_5{
  margin-bottom: 5px;
}
