

.l_lp_first_page{
  height: 100%;
  position:relative;
  min-height: 400px;
}

.l_bottom_down {
  position: absolute;
  bottom: 80px;
}

.l_lp_well_margin{
  margin-top: 30px;
  margin-bottom: 30px;
}

.l_lp_first_content{
  width: 100%;
  position:absolute; top:20%;
}

.l_lp_next_link{
  text-align: center;
  width: 100%;
}


.l_left_padding {
  padding-left: 30px;
}

.col2-left {
  padding-left: 30px;
  padding-top: 30px;
}

.col2-right {
  padding-right: 30px;
  padding-top: 30px;
}

.col2-left-l {
  padding-left: 30px;
  padding-top: 0px;
}

.col2-right-r {
  padding-right: 30px;
  padding-top: 0px;
}
