
.l_bottom_down {
  position: absolute;
  bottom: 5%;
}

.l_lp_first_page{
  height: 100%;
  position:relative;
  min-height: 400px;
}

.l_lp_first_content{
  width: 100%;
  position:absolute; top:30%;
}
