
$text_casual: black;

.octicon-link{
  font-size: 12px;
  color: gray;
}

.octicon-link:hover {
  color: black;
}

.dependency_table{
  width: 100%;
}

.dependency_table .icon_col{
  width: 10px;
}
.dependency_table th{
  text-align: left;
}

.table th, .table td {
  border-top: 0px;
  border-bottom: 1px solid #dddddd;
}

pre.prettyprint{
  background-color: #fff;
  margin-bottom: 0;
}

/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
  padding-top: 5px;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}

/* Used on package detail pages .. width: 615px; */
div.content {
  padding: 30px 0px 30px 30px;
  border-top: 1px solid #ddd;
}

@media(max-width:660px) {
  div.content {
    border-left: 0;
    padding: 0px 0px 30px 0px;
  }
}

div.content_no_head {
  padding: 30px 0px 30px 30px;
  border-left: 1px solid #ddd;
}

.content_header_def{
  padding-left: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: bold;
}

/* -----------------------
  Separators (hr)
*/

.hr_row{
  margin: 60px 0px 60px 0px;
}

#github-menu {
  .dropdown.open .dropdown-toggle {
    background: #afafaf !important;
    color: #FFFFFF;
  }
}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  margin: 75px 0px 10px 0px;
}

.jumbotron h1 {
  font-weight: 200;
  letter-spacing: -1px;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);

}

.jumbotron h1 > span {
  font-weight : 900;
  font-size: 115%;
}

.jumbotron p {
  font-size: 20px;
  font-weight: 900;
  color: $text_casual;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}


.download_list{
  list-style: none;
  padding: 0 0px 0 0px;
  margin: 0;
  vertical-align: middle;
}

/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .4;
}


/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
  padding: 15px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}

/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}

/* Pricing
-------------------------------------------------- */

.pricing_h{
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Helvetica";
  margin-bottom: 20px;
}


/* Social buttons
----------------------------------------------------*/

.socialbuttons {
  position: fixed;
  top: 180px;
  left: 0px;
  min-width: 34px;
  min-height:120px;

  a { text-decoration: none;}
  & .btn-social:hover {
    opacity: 1.0;
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }
  & .btn-social {
    background: transparent no-repeat;
    min-width: 32px;
    min-height: 32px;
    margin: 4px;
    opacity: 0.4;
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
 }

  & .btn-rotated90 {
      position: inherit;
      left: -45px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      writing-mode: lr-tb;
  }

  & .btn-dark {
    color: #ddd;
    margin: 0;
    background-color: #333;
    opacity: 0.95;
    filter: alpha(opacity=95);
  }

  & .btn-dark:hover {
    opacity: 0.75;
    filter: alpha(opacity=75)
  }

  & .btn-facebook.rounded {
    background-image: url('/assets/socialnetworks/rounded/facebook.png');
  }

  & .btn-wordpress.rounded {
    background-image: url('/assets/socialnetworks/rounded/wordpress.png');
  }

  & .btn-twitter.rounded {
    background-image: url('/assets/socialnetworks/rounded/twitter.png');
  }

  & .btn-googleplus.rounded {
    background-image: url('/assets/socialnetworks/rounded/gplus.png');
  }

  & .btn-pinterest.rounded {
    background-image: url('/assets/socialnetworks/rounded/pinterest.png');
  }

  & .btn-youtube.rounded {
    background-image: url('/assets/socialnetworks/rounded/youtube.png');
  }

  & .btn-addthis.rounded {
    background-image: url('/assets/socialnetworks/rounded/addthis.png');
  }

  & .btn-like.rounded {
    background-image: url('/assets/socialnetworks/rounded/like.png');
  }


}


/* Special grid styles
-------------------------------------------------- */

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}



/* Mini layout previews
-------------------------------------------------- */
.mini-layout {
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
          box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.mini-layout,
.mini-layout .mini-layout-body,
.mini-layout.fluid .mini-layout-sidebar {
  height: 300px;
}
.mini-layout {
  margin-bottom: 20px;
  padding: 9px;
}
.mini-layout div {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.mini-layout .mini-layout-body {
  background-color: #dceaf4;
  margin: 0 auto;
  width: 70%;
}
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
  float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
  background-color: #bbd8e9;
  width: 20%;
}
.mini-layout.fluid .mini-layout-body {
  width: 77.5%;
  margin-left: 2.5%;
}




/* Misc
-------------------------------------------------- */


.l-left-margin{
  margin-left: 30px;
}

.l-top-down-30{
  margin-top: 30px;
  margin-bottom: 30px;
}

.side_nav_content{
  padding: 0px 20px 0px 0px;
}

/* Make tables spaced out a bit more */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
  margin-top: 5px;
}


.scrollspy-example {
  height: 200px;
  overflow: auto;
  position: relative;
}

/* Fake the :focus state to demo it */
.focused {
  border-color: rgba(82,168,236,.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
     -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
  outline: 0;
}

/* For input sizes, make them display block */
.docs-input-sizes select,
.docs-input-sizes input[type=text] {
  display: block;
  margin-bottom: 9px;
}

.user_comment{
  margin-bottom: 10px;
  margin-top: 10px;
}


/* Icons
------------------------- */

.the-icons {
  margin-left: 0;
  list-style: none;
}
.the-icons li {
  float: left;
  width: 25%;
  line-height: 25px;
}
.the-icons i:hover {
  background-color: rgba(255,0,0,.25);
}


/* -------------------------------
  BOXes

*/

.box {

  border : 0px;

  &.header {
    padding: 10px 0px;
    border-top: 0px solid #ddd;
  }

  &.content {
    padding: 0 0px 20px 0;
    padding-left: 0px;
    width: 100%;
    border: 0;
  }

  &.well {
    background-color: #ffffff;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
    min-height: 20px;

    border: 1px solid #eeeeee;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

    & input {
      background-color: whiteSmoke;
      color: $text_casual;
    }
  }
}

.box_dep{
  margin-bottom: 10px;
  margin-top: 0px;
}

.box_download{
  margin-top: 30px;
  margin-bottom: 30px;
}

.download_area{
  background-color: #fff;
  margin-bottom: 0;
  padding: 9.5px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.mute {
  color : #999;
}

.thumbnails {

  & > li {
    width: 30%;
    height: 300px;
    float: left;
    margin-bottom: 10px;
  }

  & .thumbnail {
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 0px solid #ddd;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;

    & .image {
      text-align : center;
      & h4, h5, strong {margin: 0px;}
    }
    & .caption {
      margin-left: 10px;
      padding: 10px;
      word-wrap: break-word;
      color: $text_casual;
    }
  }

}

/* -------------------------------
  LISTS
*/

.list-social {
  min-height: 30px;
  padding-top: 0px;
  margin: 0px;
  & li {
    width: 85px;
    margin: 0px;
    display: block;
    float: left;
  }
}

/* ------------------------------
  Form
*/

.form-horizontal .control-label {
  float: left;
  width: 100px;
  padding-top: 5px;
  text-align: right;
}


.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 110px;
  padding-right: 40px;
  *margin-left: 0;
}


/* -------------------------------
  DROPDOWN menu
*/

.dropdown-toggle:active,
.open .dropdown-toggle {
  background: transparent;
  color: #fff;
  outline: 0;
}

.dropdown.open .dropdown-toggle {
  background: transparent;
  color: #fff;
}


.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}



.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}



.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: #fbb21c;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.dialog_badge_header{
  font-size: 24px;
  color: black;
}

.dialog_badge_group{
  padding-bottom: 15px;
}

.scrollable-box {
  overflow-x: hidden;
  overflow-y: auto;
}



#followers-container {
  & .nav-followers:before,
  & .nav-followers:after {
      display: table;
      line-height: 0;
      content: "";
  }

  & .nav-followers:after {
      clear: both;
  }

  & .nav-followers > li {
      float: left;
  }

  & .nav-followers > li > a {
    border-radius: 2px 2px 2px 2px;
    margin: 2px 0px;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  & .nav-followers > li > a:hover {
    border-color: #fbb21c;
    background-color: #fbb21c;
  }
}

.media-list {
  height: 340px;
  overflow-x: hidden;
  overflow-y: scroll;

  & li.media {
  border-top: 1px solid #f3f3f3;
  padding: 5px 0px;
  margin: 0px;

    &:hover {
      background-color: #fafafa;
    };
  }
}

#most-referenced-container,
#top-products-container.media,
#latest-products-container.media {
    & .media-body {
      border-top: 1px solid #f3f3f3;
      padding: 5px 0px;
      margin: 0px;
      font-size: 0.85em;

        &:hover {
          background-color: #fafafa;
        };
    }
}



.fluid-list-item {
  margin: 0px !important;

  &:hover {
    background-color: #fafafa;
  };
}


.tab-content {
  padding-top: 15px;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tab-pane{
  padding-top: 10px;
}

.mute-on { color: red;}
.mute-off {color: green;}
.dep-icon {vertical-align: none;}

.link_white{
  color: white;
}

.link_white:hover{
  color: white;
}

.license_seperator{
  border-top: 1px dashed gray
}

.license_box{
  border-bottom: 1px solid lightgray;
  margin-right: 5px;
}

.meta_text_small{
  font-size: 11px;
  color: gray;
}

.description{
  padding: 0 0 15px 0;
}

span.http_method {
  min-width: 65px;
}
span.path {
  font-family: monospace;
}

.navbar_container{
  padding: 0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10em;
}
