
.rating_cell{
	width: 170px;
	padding: 5px;

}

.rating_description_cell{
	width: 170px;
	padding: 5px;
}

.product_header{
	height: 75px;
	text-align: left;
}

.versioncomment_reply_section{
	padding-left: 20px;
	padding-top: 20px;
}

.versioncomment_reply_section .meta-text-small{
	padding-top: 5px;
}

.versioncomment_reply_section .reply{
	padding-bottom: 25px;
	border-bottom: 0px;
}

.versioncomment_reply_link_section{
	padding-top: 5px;
	padding-bottom: 5px;
}
