.mb5  { margin-bottom: 5px;}
.w430 { width: 430px;}

h1.product{
  display: inline;
  padding: 0;
  font-family: "Droid Sans";
  color: black;
}

h2.section_header{
  padding: 0 0 10px 0;
  margin: 0;
  color: $text_casual;
  font-size: 18px;
  font-weight: bold;
}

h3.side_header{
  font-size: 16px;
}

.sidebar {
  .flash {
    padding-right: 14px;
  }
}

.rating_cell{
  width: 170px;
  padding: 5px;

}

.rating_description_cell{
  width: 170px;
  padding: 5px;
}

.product_header{
  font-size: 30px;
  vertical-align: middle;
  text-align: left;
  padding-bottom: 15px;
}

.product_header_small_text{
  font-size: 14px;
}

.product_badges_line{
  vertical-align: middle;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 19px;
}


.versioncomment_reply_section{
  padding-left: 20px;
  padding-top: 20px;

  .meta-text-small{
    padding-top: 5px;
  }

  .reply{
    padding-bottom: 25px;
    border-bottom: 0px;
  }
}

.versioncomment_reply_link_section{
  padding-top: 5px;
  padding-bottom: 5px;
}

.content_head_top{
  padding-top: 20px;
}

