.mb5  { margin-bottom: 5px;}
.w430 { width: 430px;}

h1.product{
  display: inline;
  padding: 0;
  font-family: "Droid Sans";
  color: black;
}

h2.section_header{
  padding: 0 0 10px 0;
  margin: 25px 0 0 0;
  color: $text_casual;
  font-size: 22px;
}

h3.side_header{
  font-size: 16px;
}

.sidebar {
  .flash {
    padding-right: 14px;
  }
}

.rating_cell{
  width: 170px;
  padding: 5px;

}

.rating_description_cell{
  width: 170px;
  padding: 5px;
}

.product_header{
  font-size: 30px;
  vertical-align: middle;
  text-align: left;
  padding-bottom: 15px;
}

.product_header_small_text{
  font-size: 14px;
}

.product_badges_line{
  vertical-align: middle;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 19px;
}


.versioncomment_reply_section{
  padding-left: 20px;
  padding-top: 20px;

  .meta-text-small{
    padding-top: 5px;
  }

  .reply{
    padding-bottom: 25px;
    border-bottom: 0px;
  }
}

.versioncomment_reply_link_section{
  padding-top: 5px;
  padding-bottom: 5px;
}

.content_head_top{
  padding-top: 20px;
}

.group_id_small{
  font-size: 13px;
  font-style: italic;
}

.meta_info_bold{
  font-size: 13px;
  font-weight: bold;
}

.meta_info{
  font-size: 13px;
}

.meta_prod_description{
  font-size: 13px;
}

.btn-follow-product{
  padding: 0;
}

.product_page_sm_header{
  font-size: 20px;
  font-weight: bold;
}

.prod-item {
  margin-top: 15px;
}

.bold{
  font-weight: bold;
}

.kpi_box{
  border: 0;
}


.tooltip.bottom {
  margin-top: 0px;
  padding: 0;
}
.tooltip-inner {
  max-width: 150px;
  padding: 0;
  text-align: center;
  background-color: #000000;
  border: 0;
  width: 150px;
  margin-left: -40px;
}

.notifyme {
  height: 60px;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

@media(max-width:1000px) {
  .notifyme {
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
  }
}

.keyword_tag{
  font-size: 12px;
  background-color: #eef0f1;
  color: #777;
}

.dep_row {
  border-left: 0px;
  border-right: 0px;
}
