
.scm_repo{
  background-color: #eeeeee;
  padding: 5px;
  margin-bottom: 5px;
}

.scm_meta{
  padding: 5px;
  margin-bottom: 5px;
}

.scm_branch_head{
  padding-bottom: 10px;
  font-size: 16px;
}

.scm_branch_files_cell{
  padding-left: 20px;
}

.scm_switch_cell{
  width: 90px;
  float: left;
  vertical-align: middle;
}

.scm_switch_text_cell{
  float: left;
  padding-top: 4px;
}

.scm_table{
  margin: 0;
  padding: 0;
}

.scm_td{
  margin: 0 !important;
  padding: 0 0 0 5px !important;
  background-color: transparent !important;
  border: transparent !important;
}

.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 22px;
    margin: 3.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 51px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

