
.search_icons{
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

#search_bar {

  text-align: center;
  margin-bottom: 15px;

  & #q {
    background: white !important;
  }

  & .input-huge {
    height: 55px;
    width: 450px;
    font-size: 24px;
    padding-left: 5px;
    margin-top: -16px;
    border: 1px solid #337AB7;
  }

  & .btn-huge {
    height: 55px;
    min-width: 70px;
    padding: 15px;
    margin-left: -8px;
    margin-top: 0px;  
  }

  & .input-append {
    height: 55px;
  }

  & .input-append input {
    border-radius: 4px 0px 0px 4px;
  }

  @media(max-width:767px) {
    & .input-huge {
      width: 300px;  
    }  
  }
  @media(max-width:420px) {
    & .input-huge {
      width: 200px;  
    }  
  }

}

.search_container{
  padding-bottom: 35px;
}

#q {
  color: $text_yellow;
}

.search-form {
  color: $text_casual;

  & > label {
    color: $text_casual;
  }

  & .checkbox {
    color: $text_link;
  }

  & > div {
    padding-bottom: 30px;
    border:0px;
    border-bottom: 1px solid #ddd;
  }
}

#extended_search_container {
  color: #888;
  padding: 0 0 10px 0;
  margin: 0;
  border-bottom: 1px solid #DDD;

  & .control-header {
    border-top: 1px solid #DDD;
    padding-top: 10px;
  }
}

.search-item {
  padding: 10px 10px 10px 10px;
  border-bottom: 1px dotted #DDD;

  & a {
    color : text_link;
    font-size: 14px;
  }

  & button {
    font-size: 12px;
    font-family : inherit;
    padding: 2px 10px 2px 10px;
  }
}

#search-results {
  margin-top: 15px;
  padding-top: 15px;
  border: 0px;
  border-top: 0px solid #ddd;
}


