
.btn-github {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c95d0;
  *background-color: #0271bf;
  background-image: -moz-linear-gradient(top, #2daddc, #0271bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf));
  background-image: -webkit-linear-gradient(top, #2daddc, #0271bf);
  background-image: -o-linear-gradient(top, #2daddc, #0271bf);
  background-image: linear-gradient(to bottom, #2daddc, #0271bf);
  background-repeat: repeat-x;
  border-color: #0271bf #0271bf #014473;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.btn-github.disabled,
.btn-github[disabled] {
  color: #ffffff;
  background-color: #0271bf;
  *background-color: #0262a6;
}

.btn-github:active,
.btn-github.active {
  background-color: #01538d \9;
}

.btn-pinterest {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #c51e25;
  *background-color: #ab171e;
  background-image: -moz-linear-gradient(top, #d62229, #ab171e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d62229), to(#ab171e));
  background-image: -webkit-linear-gradient(top, #d62229, #ab171e);
  background-image: -o-linear-gradient(top, #d62229, #ab171e);
  background-image: linear-gradient(to bottom, #d62229, #ab171e);
  background-repeat: repeat-x;
  border-color: #ab171e #ab171e #680e12;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd62229', endColorstr='#ffab171e', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
