
/* Social Media Login
-------------------------------------------------- */

.social_media_login_box{
  text-align: center;
  margin-top: 30px;
}

.sml_list{
  padding: 0px;
}

.sml_list .sml_list_item{
  list-style-type: none;
  padding-bottom: 5px;
  margin: 0;
  width: 240px;
  height: 45px;
  display: inline-table;
  line-height: 0;
}

.sml_header{
  margin-top: -40px;
}
