
.well-white {
  background-color: #ffffff;
  padding: 30px;
  margin: 0px 0px 60px 0px;
  min-height: 20px;

  border: 1px solid #eeeeee;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  & input {
    /*background-color: whiteSmoke;*/
    color: $text_casual;
  }

  & input.btn {
    color: white;
  }

  & .button_to {
    display: inline-block;
  }

  & .language_block {
    max-height: 440px;
    overflow-y: auto;
    margin: 0;
  }
}

.well {
  &.pricing {margin: 0px 30px 20px 30px;}
  &.white{
    color: text_casual;
    background-color: white;
    border: 1px solid #eeeeee;
    margin-bottom: 0px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  }
}

.release_box{
  margin-bottom: 30px;
}
