<script id = "loading_invoice_template" type = "text/template">
  <div class = "">
    <img src ="assets/loadingbar.gif" style= "position: relative; margin: 0 auto;"/>
  </div>
</script>

<script id = "fail_invoice_template" type = "text/template">
  <div class = "alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{= message }}
  </div>
</script>

<script id = "empty_invoice_template" type = "text/template">
  <p>You dont have any Payment history</p>
</script>

<script id = "invoice_table_template" type = "text/template">
  <table id = "invoice_table" class = "table table-hover">
    <thead> 
      <tr>
        <th>Date</th>
        <th>Plan</th>
        <th>Amount</th>
        <th>Receipt</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</script>

<script id = "invoice_row_template" type = "text/template">
  <tr>
      <td>{{= invoice.date }}</td>
      <td>{{= invoice.plan_name }}</td>
      <td>{{= invoice.total }} {{= invoice.currency }}</td>
      <td><a href="{{= invoice.link_to}}">View receipt</a></td>
  </tr>
</script>
