<div class = "well row box_repos">

	<div class="span2">
		<h5 class="dep_header">
			<%= pluralize(@product.repositories.count, "Repository") %>
		</h5>
	</div>
	<div class="span5" style="width: 430px;">
		<% @product.repositories.each do |repo| %>
			<div><a href="<%= repo.src %>" target="new" ><%= repo.src %></a> </div>
		<% end %>
	</div>

</div>