
<div class="row">
	<div class="span6" style="width: 510px;">
		<div class="span1 icon_package_header" >
			<% prog_lang = @product.language.downcase.gsub(/\./, "") %>
			<span class="icon_<%= prog_lang %> on " ></span>
		</div>
		<div class="span5 pull-left ">
			<h3 class="no_margin">
				<%= @product.name_and_version %>
			</h3>
		</div>
	</div>
	<div class = "span5 pull-right" style="width: 355px;" >
		<%= render "shared/share_and_follow" %>
	</div>
</div>