
<div style="padding-top: 10px; padding-bottom: 10px;">
  
</div>

<% comments = @product.comments %>
<% if !comments.nil? && !comments.empty? %>
  <div class="box">
    <h2 class="section_header">
      <%= pluralize(comments.count, 'Comments') %>
    </h2>
  </div>
  <div style="margin-bottom: 20px;" >
    <% comments.each do |comment|  %>
      <%= render :partial => 'shared/show_version_comment', :locals => {:comment => comment} %>
    <% end %>
  </div>
<% end %>
