<div class="box header">
	<h5>
		License
	</h5>
</div>
<div class="box content" >
	<% if !@product.license_info.nil? && !@product.license_info.empty? %>
		<% if !@product.license_link_info.nil? && !@product.license_link_info.empty? %>
			<a href="<%= @product.license_link_info %>" target="license"><%= @product.license_info %></a>
		<% else %>
			<%= @product.license %>
		<% end %>
	<% else %>
		UNKNOWN
	<% end %>
</div>
