
<div class = "well row">
<div class="span2">
	<h5>Maven2 pom.xml snippet</h5>
</div>
<div class="span5">
<pre class = "prettyprint" style = "background-color: #fff;"><code class = "lang-xml">
&lt;dependency&gt;
    &lt;groupId&gt;<b><%= @product.group_id %></b>&lt;/groupId&gt;
    &lt;artifactId&gt;<b><%= @product.artifact_id %></b>&lt;/artifactId&gt;
    &lt;version&gt;<b><%= @product.version %></b><<span>/version</span>&gt;
&lt;/dependency&gt;
</code>
</pre>
</div>
</div>