<div class="boxHeader">
	<%= pluralize(@users.count, "Followers") %>
</div>
<div class="boxContainer" >
	<% @users.each do |user| %>
		<% if !user.nil? && !user.email.nil? %>
			<%= link_to gravatar_image_tag( user.email, :alt => user.fullname, :title => user.fullname, :style => "width: 40px;", :gravatar => { :size => 40, :default => "#{Settings.server_url}/profile_icon.png" } ), user_path(user) %>
		<% end %>
	<% end %>
</div>