<div class = "well row">

	<div class="span2">
		<h5>
			<%= pluralize(@product.repositories.count, "Repository") %>
		</h5>
	</div>
	<div class="span4">
		<% @product.repositories.each do |repo| %>
			<div><a href="<%= repo.src %>" target="new" ><%= repo.src %></a> </div>
		<% end %>
	</div>
</div>