<% if (@product.description && !@product.description.empty?) || (@product.description_manual && !@product.description_manual.empty?) %>

  <a name="description"></a>
  <h2 class="section_header">
    Description <a class="octicon-link" href="#description"><i class="fa fa-link"></i></a>
  </h2>

  <div style="margin-bottom: 20px;" >
    <p>
      <% if @product.description && @product.description.include?("\n") %>
        <%= @product.description.gsub!("\n", '<br/>').html_safe %>
      <% else %>
        <%= @product.description %>
      <% end %>
    </p>

    <% if @product.description_manual && !@product.description_manual.empty? %>
      <p>
        <small>[ manual entry ]: </small>
        <% if @product.description_manual.include? "\n" %>
          <%= @product.description_manual.gsub!("\n", "<br/>").html_safe %>
        <% else %>
          <%= @product.description_manual %>
        <% end %>
      </p>
    <% end %>

  </div>

<% end %>
