<% if !@product.description.nil? && !@product.description.empty? %>
	<div class="boxHeader">
		Description
	</div>
	<div class="boxContainer" >
		<%= @product.description.gsub!("\n", "<br/>") != nil ? @product.description.gsub!("\n", "<br/>").html_safe : @product.description %>
	</div>
<% end %>