<% if !@version.versionarchive.nil? && !@version.versionarchive.empty? %>
<div class="boxHeader">
Install with PIP
</div>
<div class="boxContainer"><pre>
pip install <%= @version.versionarchive[0].link %>
</pre></div>
<% end %>