
	<div class="boxHeader">
		Alternatives
	</div>
	<div class="boxContainer" >
		
			<div class="ui-widget">
				<label for="tags">Alternative </label>
				<input id="tags" type="text" class="round" style="width: 400px;" />
			</div>
		
	</div>
