<div class = "well row box_snippet" >
  <div class="span2">
    <h5 class="dep_header">Install with GEM</h5>
  </div>
  <div class="span5" style="width: 430px; margin-bottom: 0;"><pre class = "prettyprint" style="background-color: #fff; margin-bottom: 0;"><code>gem install <%= @product.name %> --version <%= @version.version %></code></pre>
  </div>
</div>
