
<% if !@downloads.nil? && !@downloads.empty? %>
<div class = "row well">
	<div class="span2">
		<h5>
			<%= pluralize(@downloads.count, "Download") %>
		</h5>
	</div>
	<div class="span5" >
		<ul class = "nav nav-list">
		<% @downloads.each do |download|  %>
			<li>
				<a itemprop="downloadUrl" title = "Download here." href="<%= download.link %>">
					<span class = "icon_download icon16"></span>
					<%= download.name %></a>
			</li>
		<% end %>
		<ul>
	</div>
</div>
<% end %>