<% if @product.last_crawle_date %>
	<span title="This is mostly equal with the release date.">
		We don't have any information about the release date.
		But this version was detected
		<% if @product.last_crawle_date > 182 %>
			<span style="color: orange; font-weight: bold; font-size: 20px;"><%= @product.last_crawle_date %></span>
		<% elsif @product.last_crawle_date > 365 %> 
			<span style="color: red; font-weight: bold; font-size: 20px;"><%= @product.last_crawle_date %></span>
		<% else %>
			<span style="font-weight: bold; font-size: 20px;"><%= @product.last_crawle_date %></span>
		<% end %>
		days ago.
	</span>
<% end %>