<% if !@version.versionarchive.nil? && @version.versionarchive.length > 0 %>
	<div class="boxHeader">
		Downloads
	</div>
	<div class="boxContainer" >
		<% @version.versionarchive.each do |download|  %>
			<div><a href="<%= download.link %>"><%= download.name %></a></div>
		<% end %>
	</div>
<% end %>