<% if @product.downloads %>
	<div class="box header">
		<h5>
			Downloads
		</h5>
	</div>
	<div class="box content" >
		All: <strong> <%= @product.downloads %></strong><br/>
		This Version: <strong><%= @version.downloads %></strong>
	</div>
<% end %>