
<% if !@downloads.nil? && !@downloads.empty? %>
	<div class="box header">
		<h5>
			<span class = "icon-download"></span>
			<%= pluralize(@downloads.count, "Download") %>
		</h5>
	</div>
	<div class="box content" >
		<% @downloads.each do |download|  %>
			<div>
				<a itemprop="downloadUrl" href="<%= download.link %>"><%= download.name %></a>
			</div>
		<% end %>
	</div>
<% end %>