
<a name="dependencies"></a>
<h2 class="section_header">
  Dependencies <a class="octicon-link" href="#dependencies"><i class="fa fa-link"></i></a>
</h2>

<div class="boxContainer" style="margin-bottom: 30px;" id="dependencies" >
  <%
    partial_map = {
      "#{Project::A_TYPE_MAVEN2}"    => 'product_show_dependencies_maven2',
      "#{Project::A_TYPE_RUBYGEMS}"  => 'product_show_dependencies_rubygems',
      "#{Project::A_TYPE_NPM}"       => 'product_show_dependencies_npm',
      "#{Project::A_TYPE_BOWER}"     => 'product_show_dependencies_bower',
      "#{Project::A_TYPE_COMPOSER}"  => 'product_show_dependencies_packagist',
      "#{Project::A_TYPE_COCOAPODS}" => 'products/cocoapods/product_show_dependencies',
      "#{Project::A_TYPE_BIICODE}"   => 'product_show_dependencies_biicode',
      "#{Project::A_TYPE_CHEF}"      => 'product_show_dependencies_chef',
      "#{Project::A_TYPE_NUGET}"     => 'product_show_dependencies_nuget',
      "#{Project::A_TYPE_CARGO}"     => 'product_show_dependencies_crates',
      "#{Project::A_TYPE_HEX}"       => 'product_show_dependencies_hex',
      "#{Project::A_TYPE_CPAN}"      => 'product_show_dependencies_cpan'
    }

    partial = partial_map[@product.prod_type]
  %>

  <%= partial ? render(partial) : "" %>

  <% dependencies = @product.dependencies %>
  <% if Product::A_LANGS_DEP_GRAPH.include?( @product.language ) && !dependencies.empty? && dependencies.count > 2 %>
    <a href="/<%= @product.language_esc%>/<%= @product.to_param%>/<%= @product.version_to_url_param %>/visual_dependencies">
      See visual page
    </a>
  <% end %>
</div>
