
<% authors = @product.developers %>
<% if authors && !authors.empty? %>
  <div class="box header">
    <h3 class="side_header">
      Authors
    </h3>
  </div>
  <div class="box content" >
    <% names = [] %>
    <% authors.each do |author| %>
      <% next if author.nil? %>
      <% next if names.include?(author.name) %>
      <% next if author.to_param.to_s.match(/https\:\/\/github\.com\/(.*)/) %> 
      <% next if author.to_param.to_s.match(/http\:\/\/github\.com/) %> 
      <%= link_to gravatar_image_tag( author.email, 
                      :alt => author.name, 
                      :title => author.name, 
                      :style => 'width: 45px;', 
                      :class => "round12",
                      :gravatar => { :size => 45, :default => "#{Settings.instance.server_url}/profile_icon.png" } ), author_path(author) %>
      <% names.push(author.name) %>
    <% end %>
  </div>
<% end %>
