
<div class = "well row box_snippet" >
  <h5 class="dep_header">pom.xml snippet</h5>
  <div class="span7" style="width: 575px; margin-bottom: 0;">
    <pre class = "prettyprint" style = "background-color: #fff; margin-bottom: 0;"><code class = "lang-xml">
&lt;dependency&gt;
    &lt;groupId&gt;<b><%= @product.group_id %></b>&lt;/groupId&gt;
    &lt;artifactId&gt;<b><%= @product.artifact_id %></b>&lt;/artifactId&gt;
    &lt;version&gt;<b><%= @product.version %></b>&lt;/version&gt;
&lt;/dependency&gt;
    </code></pre>
  </div>
</div>
