<% if (@product.description && !@product.description.empty?) || (@product.description_manual && !@product.description_manual.empty?) %>

  <a name="description"></a>
  <h2 class="section_header">
    Description <a class="octicon-link" href="#description"><i class="fa fa-link"></i></a>
  </h2>

  <div style="margin-bottom: 20px;" >
    <p>
      <% if @product.description && @product.description.include?("\n") %>
        <%= @product.description.gsub!("\n", '<br/>').html_safe %>
      <% else %>
        <%= @product.description %>
      <% end %>
    </p>

    <% if @product.description_manual && !@product.description_manual.empty? %>
      <p>
        <small>[ manual entry ]: </small>
        <% if @product.description_manual.include? "\n" %>
          <%= @product.description_manual.gsub!("\n", "<br/>").html_safe %>
        <% else %>
          <%= @product.description_manual %>
        <% end %>
      </p>
    <% end %>

  </div>

  <% if !Settings.instance.environment.to_s.eql?('enterprise') && request.original_url.to_s.match("@").nil? %>
    <div class="ad_prod_desc" style="padding-top: 15px;">
      <!-- veye_hori -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-9602950531496152"
           data-ad-slot="9319276825"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  <% end %>

<% end %>
