<div class="boxHeader">
	<%= pluralize(@users.count, "Followers") %>
</div>
<div class="boxContainer" >
	<% @users.each do |user| %>
		<%= link_to gravatar_image_tag( user.email, :alt => user.fullname, :title => user.fullname, :gravatar => { :size => 40 }), user_path(user) %>
		<%=  %>
	<% end %>
</div>