<div class="boxHeader">
	License
</div>
<div class="boxContainer" >
	<% if !@product.license.nil? && !@product.license.empty? %>
		<% if !@product.licenseLink.nil? && !@product.licenseLink.empty? %>
			<a href="<%= @product.licenseLink %>" target="_LICENSE"><%= @product.license %></a>
		<% else %>
			<%= @product.license %>
		<% end %>
	<% else %>
		UNKNOWN
	<% end %>
</div>