<% if !@product.versions.nil? && @product.versions.length > 1 %>
	<div class="boxHeader">
		Other Versions
	</div>
	<div class="boxContainer" >
		<% @product.get_natural_sorted_versions.reverse!.each do |version|  %>
			<div><a href="/product/<%=@product.to_param%>/version/<%=version.to_url_param%>/<%=@product.get_decimal_version_uid%>"><%=version.version%></a></div>
		<% end %>
	</div>
<% end %>