<div class="well box_dep">

  <% main_dependencies = @product.dependencies(nil) %>

  <div class="row">
    <div class="span6">
      <h5 class="dep_header">
        <%= pluralize( main_dependencies.count, "Compile dependencies" ) %>
      </h5>
    </div>
    <div class="span7" >
      <% if !main_dependencies.empty? %>
        <%= render :partial => "products/helpers/dependency_table", :locals => { :dependencies => main_dependencies }  %>
      <% end %>
    </div>
  </div>

</div>
