<div class="boxHeader">
	Average Rating
</div>
<div class="boxContainer" style="height: 17px; margin-bottom: 10px">
	<%= render :partial => 'shared/show_rate', :locals => {:rate => @product.version_rate, :id => @product.prod_key} %>
</div>