<% if !@downloads.nil? && !@downloads.empty? %>
	<div class="boxHeader">
		Install with PIP
	</div>
	<div class="boxContainer" style="overflow:scroll;"><pre>
pip install <%= @downloads[0].link %></pre></div>
<% end %>