<div class="boxHeader">
	Repository
</div>
<div class="boxContainer">
	<% @product.repositories.each do |repo| %>
		<div><a href="<%= repo.src %>" target="new" ><%= repo.src %></a> </div>
	<% end %>		
</div>