<% if !@comments.nil? && @comments.length > 0 %>
	<div class="boxHeader">
		<%= pluralize(@comments.count, "Comments") %>
	</div>
	<div class="boxContainer" itemprop="comments" itemscope="" itemtype="http://schema.org/ItemList" >
		<meta name="name" content="comments" />
		<table>				
		<% @comments.each do |comment|  %>
			<tr>
				<td itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Comment">
					<%= render :partial => 'shared/show_version_comment', :locals => {:comment => comment} %>						
				</td>
			</tr>
		<% end %>
		</table>
	</div>
<% end %>