<% if !@product.versions.nil? && @product.versions.length > 1 %>
	<div class="boxHeader">
		<%= pluralize(@product.versions.count, "Versions") %>
	</div>
	<div class="boxContainer" >
		<% @product.get_natural_sorted_versions.each do |version|  %>
			<div>
				<a href="/product/<%=@product.to_param%>/version/<%=version.to_url_param%>"><%=version.version%></a>
			</div>
		<% end %>
	</div>
<% end %>