<% if !@version.versionchange.nil? && !@version.versionchange.empty? %>
	<div class="boxHeader">
		Change Log
	</div>
	<div class="boxContainer" >
		<table>				
		<% @version.versionchange.each do |change|  %>
			<tr>
				<td>
					<%= change.change %></a>
				</td>
			</tr>
		<% end %>
		</table>
	</div>
<% end %>