
<h2 class="section_header"> Nuget </h2>

<div class = "well box_snippet" >

  <div style="margin-bottom: 5px;">
    <div >
      <h5 class="dep_header">Nuget entry</h5>
    </div>
    <div style="margin-bottom: 0;"><pre class = "prettyprint" style="background-color: #fff; margin-bottom: 0;"><code>&lt;dependency id="<%= @product.prod_key %>" version="[<%= @version.to_s %>]" /&gt;</code></pre></div>
  </div>

  <div  style="margin-bottom: 5px;">
    <div >

    </div>
    <div  style="margin-bottom: 0;">
      <%= render "products/helpers/notify_me" %>
    </div>
  </div>

</div>
