
<% if @product.users.size > 0 %>
<div class="box header" style="border-top: 0;">
  <h3 class="side_header">
    <%= pluralize(@product.followers, "Followers") %>
  </h3>
</div>
<div class="box content" >
  <% @product.users[0..15].each do |user| %>
    <% if !user.nil? && !user.email.nil? %>
      <%= link_to gravatar_image_tag(user.email,
                    :alt => user.fullname,
                    :title => user.fullname,
                    :style => 'width: 45px;',
                    :class => "round12",
                    :gravatar => { :size => 45,
                                   :default => "#{Settings.instance.server_url}/profile_icon.png" } ), user_path(user) %>
    <% end %>
  <% end %>
  <% if @product.users.count > 16 %>
    <br/>and more ...
  <% end %>
</div>
<% end %>
