<div class="boxHeader">
	Dependencies
</div>
<div class="boxContainer" id="dependencies" itemprop="requirements" >
	<% if @product.prod_type.eql?("Maven2") %>
		<%= render "product_show_dependencies_maven2" %>
	<% else %>
		<%= render "product_show_dependencies_rubygems" %>
	<% end %>
</div>
<div class="boxContainer" >
	<div id="canvas-container"></div>
</div>	

<% if @main_dependencies.count > 3 && @product.prod_type.eql?("RubyGem") %>
	<script type="text/javascript">
		jQuery.noConflict();
		var wheel = new MooWheel.Remote(false, document.getElementById("canvas-container"), { 
			url: '/package/<%= @product.to_param%>/version/<%= @product.version_to_url_param %>/circle_dependencies.json',
			width: "562", 
			height: "562",
			onItemClick: function(item, event){
				key = item.id; 
				key = key.replace(/\//g, "--");
				key = key.replace(/\./g, "~" );
				window.location.href = "/package/" + key;
			}
		} );
	</script>
<% end %>