<div style = "padding: 15px 30px;">
  <p>
  <strong>Sorry! We couldn't find what you are looking for.</strong>
  </p>

  <p>
    Please help us to improve our searchengine. Tell us, where we can 
    find the resource you want to track and add little explanation why 
    this package is important.
  </p>
</div>

<%= render "shared/new_url_form" %>
