<div style = "padding: 15px 30px;">
  <p>
    <strong>Sorry! We couldn't find what you are looking for.</strong>
  </p>
  <p>
    <%= render 'shared/submit_url_description' %>
  </p>
</div>

<%= render "shared/new_url_form" %>
