
<div class="span3" >
  <%= render "products/helpers/edit_navi" %>
</div>

<div class="span8" >

  <div class="row content_header_def" >
    Auditlogs for <b><%= @product.name %></b>
  </div>

  <div class="span8 content" >

    <div class="boxContainer">
      <% @product.auditlogs.each do |audit| %>
        <%= render :partial => 'shared/auditlog', :locals => {:audit => audit} %>
      <% end %>
    </div>

  </div>

</div>
