
<div class="span3" >
  <%= render "products/helpers/edit_navi" %>
</div>

<div class="span8" >

  <div class="row content_header_def" >
    Edit <b><%= @product.name %></b>
  </div>

  <div class="span8 content" >

    <div class="boxContainer">
      <%= form_tag("/#{@product.language_esc}/#{@product.to_param}/update", :method => "post") do  %>
        <div style="display:table-row;">
          <div class="labelCelMiddle" >
            <%= label_tag(:license, "License Name") %>
          </div>
          <div class="inputCel" style="width: 450px;">
            <%= text_field_tag :license, "", :class => "round", :style=>"width: 420px;" %>
          </div>
        </div>
        <div style="display:table-row;">
          <div class="labelCelMiddle" >
            <%= label_tag(:licenseLink, "Link to License") %>
          </div>
          <div class="inputCel" style="width: 450px;">
            <%= text_field_tag :licenseLink, "", :class => "round", :style=>"width: 420px;" %>
          </div>
        </div>
        <div style="display:table-row;">
          <div class="labelCelMiddle" >
            <%= label_tag(:licenseVersion, "Belongs to this version of #{@product.name}") %>
          </div>
          <div class="inputCel" style="width: 450px;">
            <select name="licenseVersion" id="licenseVersion" >
              <% @product.versions.each do |version| %>
                <option value="<%= version.to_s %>" ><%= version.to_s %></option>
              <% end %>
              <option value="ALL" >ALL Versions</option>
            </select>
          </div>
        </div>
        <div class="inputCel" style="width: 450px;">
          <button type="submit" class="btn btn-large btn-primary" >Save</button>
        </div>
      <% end %>
    </div>

    <div class="boxContainer">
      <% licenses = @product.licenses_all %>
      <% if licenses && !licenses.empty? %>

        <table>
          <colgroup>
            <col width="80px;"j />
            <col width="*" />
          </colgroup>

          <% licenses.each do |license| %>
            <% if !license.name.to_s.empty? %>
              <%= form_tag("/#{@product.language_esc}/#{@product.to_param}/delete_license", :method => "post") do  %>
              <tr>
                <td>
                  <button type="submit" class="btn btn-danger" onClick="return confirmAction()" >Delete</button>
                </td>
                <td>
                  <input id="license_id" name="license_id" type="hidden" value="<%= license._id.to_s %>" />
                  <% if !license.link.to_s.empty? %>
                    <a href="<%= license.url %>" target="license"><%= license.name %></a> for version <%= license.version %>
                  <% else %>
                    "<%= license.name %>" for version <%= license.version %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            <% end %>
          <% end %>

        </table>

      <% end %>
    </div>

  </div>

</div>
