<div style="text-align: center">
	<%= image_tag "slogan.png" %>
</div>
<div style="height: 420px;">		
	<div style="float: right; width: 256px">
		<%= image_tag "phone.png" %>
	</div>
	<div style="width: 512px; padding-top: 40px;">
		<iframe width="512" height="315" src="http://www.youtube.com/embed/z-rp2TT4aXQ?wmode=opaque" frameborder="0" allowfullscreen></iframe>
	</div>	
</div>
<% if !signed_in? %>
<div style="text-align: center">
	<%= render 'shared/login_with_facebook' %>
</div>
<% end %>