<div>		
	<div style="float: right; width: 256px">
		<%= image_tag "phone.png" %>
	</div>
	<div style="width: 512px; padding-top: 40px;">
		<iframe width="512" height="315" src="http://www.youtube.com/embed/z-rp2TT4aXQ" frameborder="0" allowfullscreen></iframe>
	</div>	
</div>