
<%= render 'shared/dialog_follow' %>

<section class="section-lp round">
	<h1 class="lp_head" id="h1_about">
		About VersionEye
	</h1>
	<div class="lp_box" id="about">
		<%= render 'shared/about' %>
		<span>
			Sign Up for Free! Or login with your <a href="https://github.com">GitHub</a> Account. 
		</span>
	</div>
	<% if !signed_in? %>
		<div class="lp_box lp_sign_up">
			<%= form_tag("/signup", :method => "get") do  %>    
				<%= submit_tag "Sign Up For Free", :class => "lp_sign_up_button" %>
			<% end %>
		</div>
	<% end %>
</section>