<div style="text-align: center">
	<%= image_tag "slogan.png" %>
</div>
<div style="height: 420px;">		
	<div style="float: right; width: 256px">
		<%= image_tag "phone.png" %>
	</div>
	<div style="width: 512px; padding-top: 40px;">
		<iframe width="512" height="315" src="http://www.youtube.com/embed/z-rp2TT4aXQ?wmode=opaque" frameborder="0" allowfullscreen></iframe>
	</div>	
</div>
<div style="text-align: center"><a href='javascript:var popupWindow = window.open(link, "popupWindow", "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, menubar=1, resizable=1, width="+winWidth+",height="+winHeigh+"top="+top+", left="+left);' style="margin-right: 5px;" ><img src="/assets/fb_login_icon.gif"  style="border: 0px solid white; padding: 0;" /></a></div>