
<% title 'References' %>

<div class="span3">

  <% if !signed_in? %>
    <%= render '/shared/github_ad' %>
  <% end %>

</div>


<% if 1 == 2 %>

  <% if @product %>

    <div class="span8" >
      <div class="row content_header_def" >
        <em> `<%= @product.name %>`</em> has <%= pluralize( @products.total_entries , "reference")  %>
      </div>
      <div class="content">
        <%= render :partial => "products/show_search_results",
                   :locals => { :products => @products, :paginate => true, :prefix => "references", :name_limit => 70 }  %>
      </div>
    </div>

  <% else %>

    <div class="span8" >
      <div class="row content_header_def" >
        No Package selected.
      </div>
      <div class="content">
        There is package selected for this page.
      </div>
    </div>

  <% end %>

<% else %>

  <div class="span8" >
    <div class="row content_header_def" >
      References
    </div>
    <div class="content">
      Because of performance issues this feature is currently turned off. We are working on it to turn it on again.
    </div>
  </div>

<% end %>

