<div class="sidebar">
	
	<div class="boxHeader">
		Filter
	</div>
	<div class="boxContainer" >
		Comming soon!
	</div>
	
</div>
<div class="content" >
	
	<div align="center">
		<% if !signed_in? %>
			<%= render 'shared/dialog_follow' %>	
		<% end %>
		<%= render :partial => "products/show_search_results", :locals => { :products => @products, :paginate => true, :prefix => "search", :name_limit => 70 }  %>
	</div>
	
</div>
