<div align="center">	
	<div id="search">
		<%= render 'shared/search' %>
	</div>
	<div align="left" style="padding-top: 20px;">
		<% if !@products.nil? %>
			<% @products.each do |product| %>
				<div class="searchResult round">
					<%= link_to product.name_and_version, product_path(product.to_param) %><br/>
				</div>				
			<% end %>
		<% end %>
	</div>
</div>