<div >
  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
    <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new" data-trigger="fileinput">Select file</span><span class="fileinput-exists" data-trigger="fileinput">Change</span><input type="file" name="upload[datafile]" id="upload_datafile"></span>
    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
  </div>  
</div>

<script type="text/javascript">
  $('.fileinput').fileinput();
</script>
