<div id  = "followers-container">
  <% if @followers && !@followers.empty? %>
    <h2 class="section_header"> They like <%= @lang.to_s.capitalize %> too. </h2>
    <ul class = "nav nav-followers">
      <% @followers.each do |user| %>
        <li class = "follower-item">
        <% if !user.nil? && !user.email.nil? %>
          <a href="<%= user_path(user) %>">
            <div style="width: 68px; height:68px; overflow: hidden;">
              <%=  gravatar_image_tag(user.email,
                                      :alt => user.fullname,
                                      :title => user.fullname,
                                      :style => "width: 68px;",
                                      :gravatar => {:size => 68,
                                                    :default => "#{Settings.instance.server_url}/profile_icon.png" }) %>
              </div>
            </a>
          <% end %>

        </li>
      <% end %>
    </ul>
  <% else %>
    <h2> Follow <%= @lang.to_s.capitalize %>'s packages to support your favorite ecosystem. </h2>
  <% end %>
</div>
