
<% if @lang.eql?( Product::A_LANGUAGE_RUBY ) %>

  Ruby is a dynamic, reflective, general-purpose object-oriented programming language
  that combines syntax inspired by Perl with Smalltalk-like features. It was also
  influenced by Eiffel and Lisp.[8] Ruby was first designed and developed in the
  mid-1990s by Yukihiro "Matz" Matsumoto in Japan.<br/>
  Read more <a href="http://en.wikipedia.org/wiki/Ruby_(programming_language)" target="wiki_page">here</a>

<% end %>
