<% if @language %>
  <div class="col-md-8">

    <br/>
    <p><%= @language[:description] %></p>
    <br/>
    <br/>

    <h5> New versions </h5>
    <div id="plot_latest"></div>
    <h5> New packages </h5>
    <div id="plot_novel"></div>

  </div>
  <div class="col-md-4">
    <%= render partial: "language/helpers/language_block", locals: {language: @language} %>
  </div>
<% end %>
