<div class="col-md-8">
	<br/>
	<p><%= @language.try(:description).to_s %></p>
	<br/>

	<div id="plot_container_latest">
		<canvas id="plot_latest"></canvas>
	</div>

	<br />
	<div id="plot_container_novel">
		<canvas id="plot_novel"></canvas>
	</div>

</div>

<div class="col-md-4">
	<% if @language %>
		<%= render partial: "language/helpers/language_block",
							 locals: {language: @language} %>
	<% end %>
</div>


