
<div class  = "span8">
  <p><%= @language[:description] %></p>
  <br />
  <h5> New versions for last 30 days </h5>
  <img src = "/assets/language/timeline.png" class = "img centered" /> <br />
  <h5> Novel packages for last 30 days</h5>
  <img src = "/assets/language/timeline.png" class = "img centered" />
</div>
<div class = "span4">
  <%= render partial: "language/helpers/language_block", locals: {language: @language} %>
</div>

