
  <% if @languages && !@languages.empty? && @lang %>
    <h2 class="section_header">Check out other languages at VersionEye</h2>

      <ul class="list-inline intro-social-buttons">
        <% @languages.each do |language| %>
          <% next if language.eql?(@lang) %>
          <li>
            <% langname = language.downcase.gsub(/\./, "") %>
            <a href="<%=language%>">
              <span  id="icon_<%= langname %>" class="icon_<%= langname %> small on" title="<%= langname %>">&nbsp;</span>
            </a>
          </li>
        <% end %>
      </ul>

  <% end %>
