
<div class="span3" >
  <%= render 'settings/navi' %>
</div>

<div class="span8" >

  <div class="row content_header_def" >
    Connect with GitHub and others
  </div>

  <div class="span8 content" >

    <p>
      Connect your VersionEye account with other networks. In that way you can login
      with your GitHub or Twitter account.
    </p>

    <hr />

    <div class="row" >
      <div class="span1" style="width: 80px;"><label>GitHub</label></div>
      <div class="span4" >
        <% if @user.github_token %>
          <span style="color: green">Connected</span>
          <%= link_to "[ disconnect ]", settings_disconnect_path(:service => "github"), :confirm => "Are you sure?", :class => "meta-text-small" %>
          <% scopes = current_user.github_scope %>
          <% if scopes && !scopes.empty? %>
            scopes: [<%= scopes %>]
          <% end %>
        <% else %>
          <a href='https://github.com/login/oauth/authorize?client_id=50fb47103b8a3f03b2cd'  >
            Connect with GitHub
          </a>
        <% end %>
      </div>
    </div>

  </div>
</div>
