<footer>
  <nav>
	<div class="container">
		<div class="span-5" style="padding: 10px; margin-bottom: 10px;">
			<div class="meta-text">VersionEye</div>
			<div><%= link_to "About", about_path, :class => "footerLink meta-text-small" %></div>
			<div><%= link_to "Impressum", impressum_path, :class => "footerLink meta-text-small" %></div>
			<div><%= link_to "Imprint", imprint_path, :class => "footerLink meta-text-small" %></div>
			<div><%= link_to "Privacy Policy / Terms", terms_path, :class => "footerLink meta-text-small"  %></div>
		</div>
		<div class="span-5 last" style="padding: 10px; margin-bottom: 10px;">
			<div class="meta-text">Community</div>
			<div><a href="http://facebook.com" class="footerLink meta-text-small">Facebook</a></div>
			<div><a href="http://twitter.com/VersionEye"  class="footerLink meta-text-small">Twitter</a></div>
			<div><a href="http://youtube.com"  class="footerLink meta-text-small">YouTube</a></div>
		</div>
		<div class="span-5 last" style="padding: 10px; margin-bottom: 10px; height: 120px;">
			
		</div>
	</div>
  </nav>
</footer>