<footer>
  <nav>
	<div class="container">
		<div class="span-5 footer-box" >
			<div class="meta-text">VersionEye</div>
			<div><%= link_to "About", about_path, :class => "footerLink meta-text-small" %></div>
			<div><%= link_to "Impressum", impressum_path, :class => "footerLink meta-text-small" %></div>
			<div><%= link_to "Imprint", imprint_path, :class => "footerLink meta-text-small" %></div>
			<div><%= link_to "Privacy Policy / Terms", terms_path, :class => "footerLink meta-text-small"  %></div>
		</div>
		<div class="span-5 last footer-box" >
			<div class="meta-text">Community</div>
			<div><a href="https://www.facebook.com/pages/VersionEye/295350293845442" class="footerLink meta-text-small" target="_NEW_FB">Facebook</a></div>
			<div><a href="http://twitter.com/VersionEye"  class="footerLink meta-text-small" target="_NEW_Twitter">Twitter</a></div>
			<div><a href="http://www.youtube.com/user/VersionEye/videos" class="footerLink meta-text-small" target="_NEW_YT">YouTube</a></div>
		</div>
		<div class="span-5 footer-box last">

		</div>
	</div>
  </nav>
</footer>