<footer class="container footer" >

  <div class="container row footer_link_row_1" >
    <%= link_to t(:page_footer_about), about_path %> |
    <a href="http://blog.versioneye.com/" target="versioneye_blog">VersionEye Blog</a> |
    <a href="https://bitbucket.org/versioneye/versioneye/issues" id="feedback_footer" target="issue_tracker_73" >Feedback</a> |
    <a href="/api" >API</a>
  </div>

  <div class="container row footer_link_row_3" >
    <%= link_to "Imprint", imprint_path %> |
    <%= link_to "Enterprise Agreements", enterprise_agreements_path %> |
    <%= link_to "Disclaimer", disclaimer_path %> <br/><br/>
  </div>

</footer>
