<header style="z-index: 100;">
	<div class="container">
		<a href="/" alt="VersionEye">
			<div class="logo_div"></div>
		</a>
		<% if @hide.nil? %>
			<div id="searchfield_div" class="searchfield_div">			
				<form id="searchform" action="/search" method="GET" class="search-form" >				
					<input id="q" name="q" class="searchfield" type="text" value="<%= @query %>" />
					<input id="lang" name="lang" type="hidden" value="<%= @lang %>" />
				</form>
			</div>
		<% end %>
		<div class="searchlink_div">
			<a href="#" class="searchlink" title="Search" onclick="document.forms['searchform'].submit();">&nbsp;</a>
		</div>
		<div class="beta" ></div>
		<div>
			<nav >
				<ul>
					<li class="nav-begin" >&nbsp;</li>
					<% if signed_in? %>
						<li class="nav-cell">
							<a href="/news" style="padding: 0">
								<div class="news"></div>
							</a>
						</li>
						<li class="nav-line" ></li>
						<li class="nav-cell">
							<a href="/user/projects" style="padding: 0">
								<div class="project_icon"></div>
							</a>
						</li>
						<li class="nav-line" ></li>
						<li class="nav-cell">
							<a href="/users/<%= current_user.username %>" style="padding: 0">
								<div class="myprofile"></div>
							</a>
						</li>
						<li class="nav-line" ></li>	
						<li class="nav-cell">
							<a href="/settings/name" style="padding: 0">
								<div class="settings"></div>
							</a>
						</li>
						<li class="nav-line" ></li>	
						<li class="nav-cell">
							<a href="/signout" style="padding: 0">
								<div class="logout"></div>
							</a>
						</li>
					<% else %>
						<li><%= link_to "Services", services_path %></li>
						<li class="nav-line" ></li>	
						<li><a href="https://www.versioneye.com/signup">Sign Up</a></li>
						<li class="nav-line" ></li>	
						<li><a href="https://www.versioneye.com/signin">Sign In</a></li>
					<% end %>
					<li class="nav-end" >&nbsp;</li>	
				</ul>
			</nav> 
		</div>
	</div>
</header>