<div class="row" style="margin-top:20px; margin-bottom: 20px;" >
  <div class="span6" >
    <h1 class="page-title" ><%= yield(:title) %></h1>
  </div>
  <div class="span4 pull-right">
    <form id="form" action="/search" method="GET">
      <div class="input-append pull-right"  >
          <input id="q" name="q" type="text" value="<%= @query %>" />
          <button class="btn">
            <span class="icon_search"></span>
          </button>
      </div>
    </form>
  </div>
</div>