<div class="row" style="margin-top:20px; margin-bottom: 20px;" >
  <div class="span6" >
    <% if yield(:page_header) && !yield(:page_header).empty? %>
      <h1 class="page-title" ><%= yield(:page_header) %></h1>
    <% elsif yield(:title) && !yield(:title).empty? %>
      <h1 class="page-title" ><%= yield(:title) %></h1>
    <% end %>
  </div>
  <div class="span4 pull-right">
    <% if !yield(:title).eql?("Sign Up") && !yield(:title).eql?("Sign In") && !yield(:title).eql?("Search Results") && !signed_in_admin? %>
    <form id="form" action="/search" method="GET">
      <div class="input-append pull-right" >
          <input name="q" type="text" value="<%= @query %>" />
          <button class="btn">
            <span class="icon_search"></span>
          </button>
      </div>
    </form>
    <% end %>
  </div>
</div>
