<div class="row" style="margin-bottom: 20px;" >
  <div class="col-md-6" >
    <% if yield(:page_header) && !yield(:page_header).empty? %>
      <h1 class="page-title" ><%= yield(:page_header) %></h1>
    <% elsif yield(:title) && !yield(:title).empty? %>
      <h1 class="page-title" ><%= yield(:title) %></h1>
    <% end %>
  </div>
</div>
