
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>VersionEye lottery</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta HTTP-EQUIV="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author"      content="VersionEye GmbH" />
    <meta name="keywords"    content="Java, Ruby, Python, Node.JS, JavaScript, PHP, Software Packages" />
    <meta name="description" content="Notification System for Software Packages. Follow your Packages and get notified about new versions." />
    <%= csrf_meta_tag %>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/bootstrap3.min.css">
    <link rel="stylesheet" href="/assets/font-awesome.css">
    <link rel="stylesheet" href="/assets/lotteries.css">
  </head>
  <body id = "lottery">
      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
      <section class = "container">
        <div class = "row">
          <div class = "well col-12 col-sm-12 col-lg-12">
            <%= yield %>
          </div>
        </div>
      </section>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="/assets/libs/jquery-1.10.2.min.js"><\/script>')</script>
      <script src="/assets/libs/bootstrap3.min.js"></script>
      <script src="/assets/lotteries.js"></script>
      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script src = "/assets/google.js"></script>
  </body>
</html>
